<div class="feed" id="status-{{ feed.getId() }}">
	<div class="feed-header">
		<img src="{{ avatar(feed.getAuthor(), 'thumbnail') }}" />
		<p class="subject">{{ feed.getAuthor().getFullName() }}</p>
		<p class="date">Envoyé {{ date_from_now(feed.getDate(), false, true) }}</p>
		<div class="feed-moderation">
			{% include 'BNSAppProfileBundle:Moderation:back_statuses_moderation_bar.html.twig' %}
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="status-content">
		{{ feed.getProfileFeedStatus().getContent()|nl2br }}
	</div>
</div>