{% trans_default_domain "MINISITE" %}
{% extends 'BNSAppMiniSiteBundle:Layout:manager.html.twig' %}

{% block title %}
    {{ 'TITLE_TITLE_MANAGEMENT'|trans({'%title%': news.getTitle() |escape}) |desc('%title% - Gestion') }}
{% endblock title %}

{% block header %}
            {{ components.button_nav('LINK_BACK_TO_NEWS' | trans, { href: path('minisite_manager_page', {'slug': page.getSlug()}), back: true } ) }}

            <span class="bns-separator"></span>

            {% if has_right('MINISITE_ADMINISTRATION') or news.isDraft() or news.isWaitingForCorrection %}


              {{ components.button( 'LINK_EDIT_NEWS' | trans , { intent: 'primary', href: path('minisite_manager_page_news_edit', {'slug': news.getSlug()}), icon: 'edit', raised: true }) }}

            {% endif %}

						{% if has_right('MINISITE_ADMINISTRATION') or news.isDraft() %}
							<a href="#" class="delete-article" data-toggle="modal" data-target="#news-delete-modal">

                {{ components.button( 'LINK_DELETE_NEWS' | trans , { href: '#', icon: 'delete', raised: true }) }}

              </a>

						{% endif %}
{% endblock header %}

{% block sidebar %}

  {% include 'BNSAppMiniSiteBundle:Sidebar:sidebar.html.twig' with {'index': 'edito', 'section': 'visualisation'} %}

{% endblock sidebar %}

{% block content %}
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools layout-align-start-center">
    <bns-sidebar-toggle></bns-sidebar-toggle>
    <h1 class="md-title text-primary">{{ page.getTitle() }}</h1>
    <div class="flex md-body-1 text-right">
      <div class="text-ellipsis">
        {% if news.isPublished() %}
          {{ 'PUBLISH_AT_BY'|trans({
            '%date%': date_from_now(news.getPublishedAt(), false, true, 'medium', 'short', false, true),
            '%image%':components.avatar(news.getAuthor(), { size: 20 }),
            '%user%': news.getAuthor().getFullName() |escape
          }) |desc('Publié %date% par %image% %user%') |raw }}
        {% else %}
          {{ 'CREATE_AT_BY_USER'|trans({
            '%date%': date_from_now(news.getCreatedAt(), false, true, 'medium', 'short', false, true),
            '%image%': components.avatar(news.getAuthor(), { size: 20 }),
            '%user%': news.getAuthor().getFullName() |escape
          }) |raw }}
        {% endif %}
      </div>
      <div class="text-ellipsis">
        {{ 'LAST_MODIFICATION_AT'|trans({
          '%date%': date_from_now(news.getUpdatedAt(), false, true, 'medium', 'short', false, true)
        }) |desc('Dernière modification %date%') |raw }}
      </div>
    </div>
  </div>
</md-toolbar>

<md-content  id="content" >
	<md-dialog  id="news-delete-modal" class="bns-dialog bns-dialog-warn modal hide fade error" role="dialog" tabindex="-1">
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<div class="md-headline">
					<h2>{% trans %}TITLE_DELETE_NEWS{% endtrans %}</h2>
				</div>
				<span class="flex"></span>
				<button class="md-icon-button md-button md-ink-ripple close" data-dismiss="modal">
					<md-icon class="material-icons">close</md-icon>
				</button>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
			<div class="modal-body">
				<div class="md-body-1 content-modal-body">
					<h2>
						{% if is_adult() %}
							{{ 'ADULT_SURE_TO_DELETE_NEWS'|trans({'%title%': news.getTitle()}) |desc('Êtes-vous sûr de vouloir supprimer l\'actualité "%title%" ?')  }}
						{% else %}
							{{ 'CHILD_SURE_TO_DELETE_NEWS'|trans({'%title%': news.getTitle()}) |desc('Es-tu sûr de vouloir supprimer l\'actualité "%title%" ?')  }}
						{% endif %}
					</h2>

					<p>
						{% trans %}WARNING_DELETING_NEWS{% endtrans %}
					</p>
				</div>
			</div>
		</md-dialog-content>
		<div class="md-actions">
			{{ components.button( 'LINK_CANCEL' | trans , {href: '#', raised: true, attr:{'class': 'pull-right', 'data-dismiss':'modal'} }) }}
			{{ components.button( 'MODAL_LINK_CONFIRM_DELETE'|trans() | trans , { href: path('minisite_manager_page_news_delete', {'slug': news.getSlug()}), raised: true, attr:{'class':'pull-right md-warn'} }) }}
		</div>
      <span class="dialog-icon-container text-warn" style="">
        <md-icon>warning</md-icon>
      </span>
	</md-dialog>
	<div class="md-padding">

		<div class="header">
			<h2 class="md-headline">{{ news.getTitle() }}</h2>
		</div>
		<div class="footer">

		</div>
		<div class="text">
			{% if not has_right('MINISITE_ADMINISTRATION') and is_child() %}
				{% if news.isFinished() %}
					<div class="alert alert-info bns-alert large small-text">
            {% trans %}CHILD_WARNING_PAGE_PUBLISH_AND_DESACTIVATE{% endtrans %}
						<div class="jim"></div>
					</div>
				{% elseif news.isWaitingForCorrection() %}
					<div class="alert alert-error bns-alert large small-text">
            {% trans %}TOO_FAULT_ON_THIS_PAGE_EDIT_IT{% endtrans %}
						<div class="jim"></div>
					</div>
				{% elseif news.isPublished() %}
					<div class="alert alert-info bns-alert large small-text">
            {% trans %}PAGE_PUBLISH_CANT_MODIFY{% endtrans %}
						<div class="jim"></div>
					</div>
				{% endif %}
			{% endif %}
			{% autoescape false %}
				{{ parse_public_resources(news.getContent()|purify) }}
			{% endautoescape %}
		</div>
	</div>
  <div class="resources">
    {% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': news.getResourceAttachments(), 'editable': false, 'objectType': 'MiniSitePageNews', 'objectId': news.id} %}
  </div>
  </md-content>
{% endblock %}
