{% trans_default_domain "MINISITE" %}
{% extends 'BNSAppMiniSiteBundle:Layout:manager.html.twig' %}

{% set is_city = page.isCity() %}

{% block title %}
    {{ 'TITLE_TITLE_MANAGEMENT'|trans({'%title%': news.getTitle() |escape}) |desc('%title% - Gestion') }}
{% endblock title %}

{% block javascripts %}
  <script type="text/javascript">
    $(function () {
      {% if has_right('MINISITE_ADMINISTRATION') and 'CITY' == minisite.getGroup().getType() and page.city() %}

      // Switch activation process
      $('.bns-actionbar #pin-news').click(function (e) {
        var $this = $(e.currentTarget);
        $.ajax({
          url: $this.attr('data-href'),
          type: 'POST',
          dataType: 'json',
          data: {'news_id': $this.data('id')},
          success: function (data) {
            $('.news-unpin').toggleClass('hide');
            $('.news-pin').toggleClass('hide');
            $('.pin-info').toggleClass('hide');
            if (!$('body').hasClass('md-toast-open-bottom')) {
              $('.toast').click();
            }
            $('.md-toast-content span').text(data);
          }
        });
        return false;
      });

      {% endif %}
    });
  </script>
{% endblock %}

{% block header %}
            {{ components.button_nav(('LINK_BACK_TO_'~(is_city?'CITY_')~'NEWS') | trans, { href: path('minisite_manager_page', {'slug': page.getSlug()}), back: true } ) }}

            <span class="bns-separator"></span>

            {% if has_right('MINISITE_ADMINISTRATION') or news.isDraft() or news.isWaitingForCorrection %}


              {{ components.button( ('LINK_EDIT_'~(is_city?'CITY_')~'NEWS') | trans , { intent: 'primary', href: path('minisite_manager_page_news_edit', {'slug': news.getSlug()}), icon: 'edit', raised: true }) }}

            {% endif %}

						{% if has_right('MINISITE_ADMINISTRATION') or news.isDraft() %}
							<a href="#" class="delete-article" data-toggle="modal" data-target="#news-delete-modal">

                {{ components.button( ('LINK_DELETE_'~(is_city?'CITY_')~'NEWS') | trans , {
                  href: '#',
                  icon: 'delete',
                  intent: 'warn',
                  raised: true
                }) }}

              </a>

						{% endif %}
            {% if has_right('MINISITE_ADMINISTRATION') and 'CITY' == minisite.getGroup().getType() and page.city %}
              {{ components.button('Success', {
                click: "toast.success()",
                attr : {
                  class: 'toast hide'
                }
              }) }}
                <span id="pin-news" data-href="{{ path('minisite_manager_switch_pin_page') }}"  data-id="{{ news.getId() }}">
                    {{ components.button( 'LABEL_UNPIN_INFORMATION' | trans , {
                        href:'#',
                        icon: 'close',
                        raised: true,
                        hover: true,
                        attr: {
                            class: 'news-unpin' ~ (news.isPinned() ? '' : ' hide')
                        }
                    }) }}
                    {{ components.button( 'LABEL_PIN_INFORMATION' | trans , {
                        href:'#',
                        icon: 'priority_high',
                        raised: true,
                        hover: true,
                        attr: {
                            class: 'news-pin' ~ (news.isPinned() ? ' hide' : '')
                        }
                    }) }}
                </span>
            {% endif %}
{% endblock header %}

{% block sidebar %}

  {% include 'BNSAppMiniSiteBundle:Sidebar:sidebar.html.twig' with {'index': 'edito', 'section': 'visualisation'} %}

{% endblock sidebar %}

{% block content %}
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools layout-align-start-center">
    <bns-sidebar-toggle></bns-sidebar-toggle>
    <h1 class="md-title text-primary">{{ page.getTitle() }}</h1>
    <div class="flex md-body-1 text-right">
      <div class="text-ellipsis">
        {% if page.city %}
          {% if news.isPublished() %}
            {{ 'PUBLISH_AT_BY'|trans({
              '%date%': date_from_now(news.getPublishedAt(), false, true, 'medium', 'none', false, true),
              '%image%':components.avatar(news.getAuthor(), { size: 20 }),
              '%user%': news.getAuthor().getFullName() |escape
            }) |desc('Publié %date% par %image% %user%') |raw }}
          {% else %}
            {{ 'CREATE_AT_BY_USER'|trans({
              '%date%': date_from_now(news.getCreatedAt(), false, true, 'medium', 'none', false, true),
              '%image%': components.avatar(news.getAuthor(), { size: 20 }),
              '%user%': news.getAuthor().getFullName() |escape
            }) |raw }}
          {% endif %}
        {% else %}
          {% if news.isPublished() %}
            {{ 'PUBLISH_AT_BY'|trans({
              '%date%': date_from_now(news.getPublishedAt(), false, true, 'medium', 'short', false, true),
              '%image%':components.avatar(news.getAuthor(), { size: 20 }),
              '%user%': news.getAuthor().getFullName() |escape
            }) |desc('Publié %date% par %image% %user%') |raw }}
          {% else %}
            {{ 'CREATE_AT_BY_USER'|trans({
              '%date%': date_from_now(news.getCreatedAt(), false, true, 'medium', 'short', false, true),
              '%image%': components.avatar(news.getAuthor(), { size: 20 }),
              '%user%': news.getAuthor().getFullName() |escape
            }) |raw }}
          {% endif %}
        {% endif %}

      </div>
      <div class="text-ellipsis">
        {{ 'LAST_MODIFICATION_AT'|trans({
          '%date%': date_from_now(news.getUpdatedAt(), false, true, 'medium', 'short', false, true)
        }) |desc('Dernière modification %date%') |raw }}
      </div>
    </div>
  </div>
</md-toolbar>

<md-content  id="content" >
	<md-dialog  id="news-delete-modal" class="bns-dialog bns-dialog-warn modal hide fade error" role="dialog" tabindex="-1">
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<div class="md-headline">
					<h2>{{ ('TITLE_DELETE_'~(is_city?'CITY_')~'NEWS')|trans }}</h2>
				</div>
				<span class="flex"></span>
				<button class="md-icon-button md-button md-ink-ripple close" data-dismiss="modal">
					<md-icon class="material-icons">close</md-icon>
				</button>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
			<div class="modal-body">
				<div class="md-body-1 content-modal-body">
					<h2>
						{% if is_adult() %}
							{{ ('ADULT_SURE_TO_DELETE_'~(is_city?'CITY_')~'NEWS')|trans({'%title%': news.getTitle()}) |desc('Êtes-vous sûr de vouloir supprimer l\'actualité "%title%" ?')  }}
						{% else %}
							{{ 'CHILD_SURE_TO_DELETE_NEWS'|trans({'%title%': news.getTitle()}) |desc('Es-tu sûr de vouloir supprimer l\'actualité "%title%" ?')  }}
						{% endif %}
					</h2>

					<p>
						{{ ('WARNING_DELETING_'~(is_city?'CITY_')~'NEWS')|trans }}
					</p>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions>
			{{ components.button( 'LINK_CANCEL' | trans , {href: '#', raised: true, attr:{'class': 'pull-right', 'data-dismiss':'modal'} }) }}
			{{ components.button( (is_city?'LINK_DELETE_CITY_NEWS':'MODAL_LINK_CONFIRM_DELETE')|trans() | trans , { href: path('minisite_manager_page_news_delete', {'slug': news.getSlug()}), raised: true, attr:{'class':'pull-right md-warn'} }) }}
		</md-dialog-actions>
      <span class="dialog-icon-container text-warn" style="">
        <md-icon>warning</md-icon>
      </span>
	</md-dialog>
	<div class="md-padding">

		<div class="header">
			<h2 class="md-headline layout-row layout-align-start-start">
        <span class="pin-info no-flex {% if not news.isPinned %}hide{% endif %}">
              <md-tooltip>{% trans %}LABEL_PINNED{% endtrans %}</md-tooltip>
              <md-icon>priority_high</md-icon>
        </span>
				<span class="flex">{{ news.getTitle() }}</span>
			</h2>
		</div>
    {% if news.getPublishedAt() and news.getPublishedEndAt() %}
			<p class="md-body-2 text-muted">
        {% trans with {
        '%from%': news.getPublishedAt()|date_bns('medium', 'none'),
        '%to%': news.getPublishedEndAt()|date_bns('medium', 'none')
        } %}DESCRIPTION_PUBLISHED_FROM_TO{% endtrans %}
			</p>
    {% endif %}
    {% if news.isCityNews() %}
			<p class="md-body-2 text-muted">
        {% if news.getIsAllSchools() %}
          {% trans %}DESCRIPTION_VISIBLE_IN_ALL_SCHOOLS{% endtrans %}
        {% else %}
          {% set schools = news.getSchools() %}
					{% set list_names = [] %}
          {% for list in news.getDistributionLists() %}
            {% set list_names = list_names|merge([list.getName()]) %}
          {% endfor %}
          {{ 'DESCRIPTION_VISIBLE_IN_SCHOOLS_OF_LISTS'|transchoice(schools|length, {
						'%lists%': list_names|join(', ')
					}) }}
        {% endif %}
			</p>
    {% endif %}

	</div>
	<md-divider></md-divider>
	<div class="md-padding">

		<div class="text md-body-2">
			{% if not has_right('MINISITE_ADMINISTRATION') and is_child() %}
				{% if news.isFinished() %}
					<div class="alert alert-info bns-alert large small-text">
            {% trans %}CHILD_WARNING_PAGE_PUBLISH_AND_DESACTIVATE{% endtrans %}
						<div class="jim"></div>
					</div>
				{% elseif news.isWaitingForCorrection() %}
					<div class="alert alert-error bns-alert large small-text">
            {% trans %}TOO_FAULT_ON_THIS_PAGE_EDIT_IT{% endtrans %}
						<div class="jim"></div>
					</div>
				{% elseif news.isPublished() %}
					<div class="alert alert-info bns-alert large small-text">
            {% trans %}PAGE_PUBLISH_CANT_MODIFY{% endtrans %}
						<div class="jim"></div>
					</div>
				{% endif %}
			{% endif %}
			{% autoescape false %}
				{{ parse_public_resources(news.getContent()|purify) }}
			{% endautoescape %}
		</div>
	</div>
  <div class="resources">
    {% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': news.getResourceAttachments(), 'editable': false, 'objectType': 'MiniSitePageNews', 'objectId': news.id} %}
  </div>
  </md-content>
{% endblock %}
