{% trans_default_domain "BLOG" %}
{% extends 'BNSAppBlogBundle:Layout:manager.html.twig' %}

{% block title %}
    {{ 'TITLE_PERSONNALIZATION'|trans({'%blogTitle%': blog.getTitle()}) |desc('%blogTitle% - Personnalisation') }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ tinymce_init() }}

  <script type="text/javascript">
    $(function ()
    {
      // Finish button
      $('.header-buttons .finish').click(function ()
      {
        $('#form_informations').submit();

        return false;
      });

      if ($('.alert.alert-success').length > 0) {
        setTimeout(function ()
        {
          $('.alert-example div').slideUp('fast', function () { var $this = $(this); $this.parent().slideUp('fast', function () { $this.show() }) });
        }, 8000);
      }
    });
  </script>
{% endblock javascripts %}

{% block actionbar_content %}
  <span flex></span>
  <div class="header-buttons">
    {{ components.button( 'LINK_SAVE_MODIFICATION' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class':'finish'} }) }}
  </div>
{% endblock actionbar_content %}

{% block sidebar_content %}
    <section>
      {{ components.button( 'TITLE_ARTICLES' | trans , { href:   path('BNSAppBlogBundle_back'), icon: 'insert_drive_file' }) }}
    </section>

    <section>
      {{ include('BNSAppBlogBundle:Sidebar:sidebar_comments.html.twig') }}
    </section>

    <section class="lg current">
        {{ include('BNSAppBlogBundle:Sidebar:sidebar_customize.html.twig') }}

        <div class="nav-list layout-column">
          {{ components.button( 'PERSONNALIZATION_BLOG' | trans , {
            intent: 'primary',
            href: path('blog_manager_custom'),
            icon :'edit'
          }) }}
          {{ components.button( 'CATEGORY_MANAGEMENT' | trans , {
            href: path('blog_manager_categories'),
            icon : 'list',
            attr: { 'bns-feature-flag': '"blog_categories"', 'bns-feature-push': '' },
          }) }}
        </div>
    </section>

    {% if hasYerbook %}
      <section>
        {{ components.button( 'LINK_YERBOOK' | trans, { href: path('blog_manager_yerbook'), icon: 'book' }) }}
      </section>
    {% endif %}
{% endblock sidebar_content %}

{% block content %}
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools layout-align-start-center">
    <bns-sidebar-toggle></bns-sidebar-toggle>
    <h1 class="md-title text-primary text-left flex flex-gt-sm-33">{% trans%}TITLE_WRITE_DESCRIPTION{% endtrans %}</h1>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <div class="admin-form">
    <div class="informations-form form">
      {#{% for message in app.session.flashbag.get('success') %}#}
        {#<div class="alert alert-success bns-alert">#}
          {#{{ message }}#}
          {#<div class="jim"></div>#}
        {#</div>#}
      {#{% endfor %}#}

      {{ form_start(form, { action: path('blog_manager_custom'), attr: { id: 'form_informations' } }) }}

        <div class="layout-gt-md-row">
          <div class="layout-column layout-align-center-center resource">
            {{ form_widget(form.avatar_resource_id) }}
            <div id="resource-selection-callback">
              {% if form.vars.value.getResource() != null %}
                <img src="{{ getResourceImageUrl(form.vars.value.getResource(), 'small') }}" class="md-whiteframe-z1"/>
              {% else %}
                <img src="{{ asset('/medias/images/profile/avatar/small/classroom.png') }}" class="md-whiteframe-z1"/>
              {% endif %}
            </div>

            {% set current = form.vars.value.getResource() %}
            {% include 'BNSAppMediaLibraryBundle:Front:selection.html.twig' with {
              'label' : 'LABEL_MODIFICATION_AVATAR'|trans,
              'input_id': 'blog_form_avatar_resource_id',
              'allowed_type': 'IMAGE',
              'name': form.avatar_resource_id.vars.full_name,
              'callback': 'resource-selection-callback',
              'with_cancel': true,
              'current_src': current != "" ? getResourceImageUrl(current , 'small') : asset('/medias/images/profile/avatar/small/classroom.png'),
              'default_src': asset('/medias/images/profile/avatar/small/classroom.png') ,
              'current_value': form.vars.value.getResource ? form.vars.value.getResource.getId : null,
              'label_delete' : 'DELETE_AVATAR'|trans
            } %}
          </div>

          <div class="flex">
            {{ form_row(form.title) }}
            <div class="layout-column" bns-feature-flag="'blog_views'" bns-feature-push>
              <span>{% trans %}LINK_COUNT_VIEWS{% endtrans %}</span>
              <md-switch bns-profile-switch data-success="{{ 'COUNT_VIEW_OPENED'|trans|desc('Compteur de vues activé') }}" data-fail="{{ 'COUNT_VIEW_CLOSED'|trans|desc('Compteur de vues désactivé') }}" data-url="{{ path('blog_api_patch_count_views', {'id': blog.getId(), 'version' : '1'}) }}" data-method="PATCH" aria-label=" " ng-model="moderate"  class="bns-switch"></md-switch>
            </div>

          </div>


        </div>

        <div class="tinyarea">
          <h3>{% trans %}DESCRIPTION{% endtrans %}</h3>
          {{ form_widget(form.description, { 'attr': {'bns-tinymce': ''} }) }}
        </div>
        <div class="errors">
          {{ form_errors(form) }}
        </div>
        <div class="rest">
          {{ form_rest(form) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
  </md-content>
{% endblock content %}
