<div class="title-container">
	<div class="title active border-blue">Filtre par statut <span class="square icon-arrow"></span></div>
	<div class="content-title">
		<ul>
			<li>
				<a class="comment-sidebar-filter active" data-filter-status="PENDING_VALIDATION" href="{{ path('comment_manager_load') }}">
					<img src="{{ asset('/medias/images/icons/correction_small.png') }}">
					Commentaires en modération
				</a>
			</li>
			<li>
				<a class="comment-sidebar-filter" data-filter-status="VALIDATED" href="{{ path('comment_manager_load') }}">
					<img src="{{ asset('/medias/images/icons/valid_small.png') }}">
					Commentaires publiés
				</a>
			</li>
			<li>
				<a class="comment-sidebar-filter" data-filter-status="REFUSED" href="{{ path('comment_manager_load') }}">
					<img src="{{ asset('/medias/images/icons/refused_small.png') }}">
					Commentaires refusés
				</a>
			</li>
		</ul>
	</div>
</div>
