{% trans_default_domain "MESSAGING" %}
{% extends '::base_manager.html.twig' %}

{% set app_unique_name = 'MESSAGING' %}
{% set app_mode = 'back' %}

{% block title %}{{ 'TITLE_MESSAGING_MANAGEMENT'|trans }}{% endblock %}

{% block css %}
    {{ parent() }}
    {# Appel CSS du package layout manager #}
    {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
    <link href="{{ asset('/medias/css/messaging/manager.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="background-messaging-admin"></div>
    <div class="header-buttons">
        <div class="inner-header">
            <div class="container container-fluid">
                <div class="row-fluid">
                    <div class="span12 align-right">
                        <a href="{{ path('BNSAppMessagingBundle_back_light_messages_validation') }}" id="messaging-moderate-validation" class="btn bns-success validate-medium btn-24 medium"><span class="icons-24 validate-icon"></span>{{ 'LINK_VALIDATE_ALL'|trans|raw }}</a>
                        <a href="{{ path('BNSAppMessagingBundle_back_light_messages_delete') }}" style="display:none;" id="messaging-rejected-delete" class="btn bns-danger btn-24 medium-return"><span class="icons-24 delete-icon"></span>{{ 'LINK_DELETE_MESSAGES'|trans|raw }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container">
        <div class="row-fluid container-manager">
            <div class="container-sidebar list">
                {% include 'BNSAppMessagingBundle:Back/Light:sidebar.html.twig' %}
                <div class="sidebar-shadow"></div>
            </div>
            <div class="span9 container-content no-margin ">
                <div class="relative-container">
                    <div id="messagin-back-main-loader" class="layer">
                        <div class="message">
                            {{ 'LOADING_MESSAGE'|trans }}
                            <div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></div>
                        </div>
                    </div>
                    <div id="messaging-moderation-container" class="content-messaging">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="container-manager-bottom">
                <div class="content-manager-bottom"></div>
            </div>
        </div>
    </div>
{% endblock body %}
