{% trans_default_domain "MESSAGING" %}
<div class="section active">
    {{ 'MODERATE_MESSAGE'|trans }}

    <span class="shadow-section"></span>
</div>
<div class="title-container">
    <div class="title active border-blue">{{ 'TITLE_MODERATION'|trans }} <span class="square icon-arrow"></span></div>
    {{ render(controller('BNSAppMessagingBundle:BackLight:rule')) }}
</div>
<div class="title-container">
    <div class="title active border-blue">{{ 'MESSAGE_STATUS'|trans }} <span class="square icon-arrow"></span></div>
    <div class="content-title">
        <div class="loader loader-h"></div>
        <ul>
            <li data-filter-status="IN_MODERATION" class="messaging-back-sidebar-filter">
                <a class="active">
                    <img src="{{ asset('/medias/images/icons/correction_small.png') }}">{{ 'MESSAGE_IN_MODERATION'|trans }}
                </a>
            </li>
            <li data-filter-status="ACCEPTED" class="messaging-back-sidebar-filter">
                <a>
                    <img src="{{ asset('/medias/images/icons/valid_small.png') }}">{{ 'MESSAGE_PUBLISH'|trans }}
                </a>
            </li>
            <li data-filter-status="REJECTED" class="messaging-back-sidebar-filter">
                <a>
                    <img src="{{ asset('/medias/images/icons/refused_small.png') }}">  {{ 'MESSAGE_DENY'|trans }}
                </a>
            </li>
        </ul>
    </div>
</div>