{% trans_default_domain "HOMEWORK" %}
<a id="currentDay" href="{{ path('BNSAppHomeworkBundle_backajax_manage_week', {"day":day}) }}" class="hidden btn-change-week"></a>
<div class="news-title dashboard">
    <a href="{{ path('BNSAppHomeworkBundle_backajax_manage_week', {"day":previous_week}) }}" class="btn btn-prec pull-left btn-change-week"><span class="icons-arrow left"></span>
        {{ 'LINK_GO_TO_LAST_WEEK'|trans |desc('Aller à la semaine<br/>précédente') |raw }}
    </a>
    <div class="content-week">
        <p class="week">{% trans %}WEEK_FROM{% endtrans %}</p>
        <p class="days"> {{ start_day | localizeddate('medium', 'none') }} {% trans %}DATE_UNTIL{% endtrans %} {{ end_day | localizeddate('medium', 'none') }}</p>
        {#<input type="text" style="display:none;" id="weekpicker">#}
    </div>
    <a href="{{ path('BNSAppHomeworkBundle_backajax_manage_week', {"day":next_week}) }}" class="btn btn-next btn-change-week"><span class="icons-arrow right"></span>
        {{ 'LINK_GO_TO_NEXT_WEEK'|trans |desc('Aller à la semaine<br/>suivante') |raw }}
    </a>
</div>
{% if due_sorted is empty %}
    {#<h2 class="no-works-today">Pas de devoir, vous pouvez en créer un en cliquant en haut à gauche.</h2>#}
    <div class="no-item">
        <div class="bnj-not-found"></div>
        <p>
            {% trans %}NO_WORK_THIS_WEEK{% endtrans %}

        </p>

        <p class="buttons-container">
            <a href="{{ path('BNSAppHomeworkBundle_back_new_homework_date', {'day': start_day|date("d-m-Y") }) }}" class="btn bns-info btn-24 large add-icon">
                <span class="icons-24 add-icon"></span>
                {% trans %}LINK_ADD_WORK{% endtrans %}

            </a>
        </p>
        <div class="clearfix"></div>
    </div>
{% else %}
    {% for due_date, homeworkdues_sorted in due_sorted %}
        {% for hd in homeworkdues_sorted %}
            {% if loop.first %}
                <div class="content-title-day">
                    <h2 class="title-day {{ due_date | date("l") | lower }}">{{ due_date | localizeddate('full', 'none') | capitalize }}</h2>
                    <div class="quick-add">
                        {#<a href="#" class="btn bns-info btn-16 small btn-quick-create" data-date="{{ due_date | date('d-m-Y') }}"><span class="icons-16 add-icon"></span><strong>Ajouter un travail</strong></a>
                         <a class="btn btn-info btn-quick-create" data-date="{{ due_date | date('d-m-Y') }}">Ajouter un travail</a>
                        <div class="quick-add-form" class="hidden" style="display:none;"></div>#}
                    </div>
                </div>
                {% if (due_date | date("l") | upper | truncate(2, false, '') ) not in preferences.getDays() %}
                    <div class="no-item">
                        <div class="bnj-not-found"></div>
                        <p>
                            {% trans %}THIS_DAY_DESACTIVATE_IN_PREFERENCE{% endtrans %}

                        </p>

                        <p class="buttons-container">
                            <a href="{{ path('BNSAppHomeworkBundle_back_preferences') }}" class="btn bns-info btn-24 large edit-icon">
                                <span class="icons-24 edit-icon"></span>
                                {% trans %}LINK_EDIT_PREFERENCE{% endtrans %}

                            </a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% endif %}
            {% if (due_date | date("l") | upper | truncate(2, false, '') ) in preferences.getDays() %}
                <div class="hwdue-parent content-work">
                    {% include 'BNSAppHomeworkBundle:Back:homeworkdue.html.twig' with {'homeworkdue': hd} %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

<script type="text/javascript">
    $( "#weekpicker" ).datepicker({
        showOn: "button",
        buttonImage: "/medias/images/icons/fugue/calendar-select-week.png",
        buttonImageOnly: true,
        dateFormat: "dd-mm-yy",
        onSelect: function(dateText, inst) {
            $('.manage-content').hide('fast');
            $.ajax(
                    {
                        url: Routing.generate('BNSAppHomeworkBundle_backajax_manage_week', {day: dateText}),
                        success: function (data)
                        {
                            $('.manage-content').html(data);
                            $('.manage-content').show('fast');
                        },
                        error: function ()
                        {
                            alert('{{ 'ERROR_OCCURENCE'|trans |desc('Une erreur est survenue') }}');
                            $('.manage-content').show('fast');
                        }
                    });

        }
    });

    $(document).ready(function ()
    {
        $('.task-done-users').hide();

        $('.show-tasksdone-users').live("click", function(){
            $(this).siblings('.task-done-users').toggle('slow');
            return false;
        });
    });
</script>