{% trans_default_domain "HOMEWORK" %}

<script type="text/javascript" src="{{ asset('/medias/js/homework/subjects.js') }}"></script>
<div class="title-container homework-subjects-filter">
	<div class="title active border-light-blue">{% trans %}FILTER_DISCIPLINE{% endtrans %}  <span class="square icon-arrow"></span></div>
	<div class="content-title">
		{% if isEditionMode %}
			<div class="form-title">
				<div class="loader loader-h"></div>
				<form action="{{ path('BNSAppHomeworkBundle_backajax_subject_add') }}" id="section-homework-subject" method="POST">
					<div class="category-icons-list">
						{{ render(controller('BNSAppBlogBundle:Back:getCategoryIcons')) }}
						<a href="#" class="default">{{ 'LINK_NO_ICON'|trans |desc('Aucune icône') }}</a>
					</div>
					<input type="text" size="16" class="add-category" placeholder="{{ 'PLACEHOLDER_NEW_DISCIPLINE'|trans |desc('Nouvelle matière') }}" style="border-radius: 3px; {# BECAUSE WE DON'T HAVE ICON ! #}">
					<img src="{{ asset('/medias/images/icons/enter-key.png') }}" alt="" class="add-category-help" />
					<input type="submit" class="btn btn-info" value="{{ 'INPUT_ADD'|trans }}">
				</form>
			</div>
		{% endif %}
		{% if subjects %}
		<div class="content-category">
			<ol class="homework-subjects {% if isEditionMode %}load-sortable{% endif %}">
				{% for subject in subjects %}
					{% include 'BNSAppHomeworkBundle:Block:back_block_subject_row.html.twig' with {'subject': subject} %}
				{% endfor %}
			</ol>
		</div>
		{% else %}
		<div class="content-category">
			<div class="no-category">
                {{ 'NO_DISCIPLINE_CREATE_ONE'|trans({'%linkStart%': '<a href="'~  path('homework_manager_categories') ~'">', '%linkEnd%': '</a>'})
                |desc('Il n\'y pas encore de matière.<br />Vous pouvez en créer sur la page de %linkStart% gestion des matières %linkEnd%.') |raw }}

			</div>
		</div>
		{% endif %}
	</div>
</div>
