{% trans_default_domain "CALENDAR" %}
{% extends 'BNSAppCalendarBundle:Layout:front.html.twig' %}

{% block title %}
    {{ 'TITLE_MANAGEMENT_EVENT_TITLE'|trans({'%eventTitle%': event.getTitle()}) |desc('Calendrier - Gestion - %eventTitle%')  }}
{% endblock %}

{% block css %}
  {{ parent() }}
  <link href="{{ asset('/medias/css/calendar/wdcalendar/dailog.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('/medias/css/calendar/wdcalendar/calendar.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('/medias/css/calendar/wdcalendar/main.css') }}" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href="{{ asset('/medias/css/ui-lightness/jquery-ui-1.8.19.custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block lesses %}
  {{ parent() }}
  <link rel="stylesheet/less" href="{{ asset('/medias/less/calendar/calendar-front.less') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}

{% endblock %}

{% block content %}
  <div class="container-calendar">
    <div class="span3 no-margin">
      <div class="container-clock-hour">
        {# ICI ROTATE IMAGE CADRAN SOLAIRE #}

        <div class="content-clock-hour">
          <div class="clock-hour" style="-webkit-transform: rotate({{ sundial }}deg); -moz-transform: rotate({{ sundial }}deg); -ms-transform: rotate({{ sundial }}deg); -o-transform: rotate({{ sundial }}deg); transform: rotate({{ sundial }}deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation={{ sundial }}deg);"></div>
          {% if currentHour > 11 %}
            <img src="{{ asset('/medias/images/calendar/hours-12-23.png')}}" alt="" class="sundial"/>
          {% else %}
            <img src="{{ asset('/medias/images/calendar/hours-0-11.png') }}" alt="" class="sundial"/>
          {% endif %}
          <div class="sundial" style="-webkit-transform: rotate({{ hoursdial }}deg); -moz-transform: rotate({{ hoursdial }}deg); -ms-transform: rotate({{ hoursdial }}deg); -o-transform: rotate({{ hoursdial }}deg); transform: rotate({{ hoursdial }}deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation={{ hoursdial }}deg);"></div>
        </div>
      </div>
      <div class="sidebar-calendar event">
        <h1 class="title-event">Informations</h1>
        <div class="menu-calendar">
          <div class="content-title-event">
          </div>
          {% if event.getAuthor() != null %}
            <p class="event"><strong>{{ 'ADD_BY_AUTHOR'|trans({'%author%': event.getAuthor()})  }}</p>
          {% endif %}

          <p class="event"><strong>{% trans %}IN_CALENDAR{% endtrans %}</strong><br />

            {% set agenda = event.getAgenda() %}
            <button id="agenda-{{ agenda.getId() }}" class="{{ agenda.getColorClass }} btn-cal-filter btn btn-class-actif disabled event">
              <span class="icons-stick-calendar-actif"></span>
              <p> {{ agenda.getTitle() }}</p>

            </button>
          </p>

            {% if event.getLocation() != '' %}
            <p class="event">{{ 'LINK_EVENT_TAKE_PLACE'|trans({'%eventPlace%': event.getLocation()}) |desc('<strong>Lieu de l\'évènement</strong><br /> %eventPlace%') |raw }}<p>
                {% endif %}

                {% if event.isRecurring() %}
            <p class="event">
                {{ 'LINK_EVENT_RECURRENT'|trans({'%eventRecurrence%': event.getRecurrenceString()}) |desc('<strong>Évènement récurrent</strong><br /> %eventRecurrence%') |raw }}
            <p>
                {% endif %}

        </div>
      </div>
    </div>

    <div class="span9 no-margin bns-calendar-front">
      <div class="event-detail-container">
        {# HEADER #}
        <div class="event-detail-header">
                    <span class="btn-backto-list">
                        <a href="{{ path('BNSAppCalendarBundle_front') }}">
                          {% trans %}LINK_BACK_TO_CALENDAR{% endtrans %}

                        </a>
                    </span>

            <div class="event-date">
                <p class="month-calendar">
                    {% if event.getIsAllDay() == 1 %}
                        {{ 'DETAIL_ALL_DAY_OF'|trans({'%date%': event.getDateStart()|date_bns('full', 'none')})
                        |desc('Toute la journée du <p class="week-calendar">%date%</p>') |raw
                        }}
                    {% else %}
                        {% if event.getDateStart()|date('d/m/Y') == event.getDateEnd()|date('d/m/Y') %}
                            {{ 'DETAIL_DATE_FROM_TO_THE'|trans({
                                '%date%': event.getDateStart()|date_bns('full', 'none'),
                                '%dateFrom%': event.getTimeStart()|date_bns('none', 'short'),
                            '%dateAt%': event.getTimeEnd()|date_bns('none', 'short')
                            })

                            |desc('Le %date% <p class="week-calendar">de %dateFrom% à %dateAt%</p>') |raw
                            }}

                        {% else %}
                            {% if event.getTimeStart() != "00h00" and event.getTimeEnd() != "23h59" and event.getTimeEnd() != "00h00" %}
                                {{ 'DETAIL_DATE_FROM_AT_TO_AT'|trans({
                                    '%date%': event.getDateStart()|date_bns('full', 'none'),
                                    '%dateFrom%': event.getTimeStart()|date_bns('none', 'short'),
                                    '%dateAt%': event.getTimeEnd()|date_bns('none', 'short'),
                                    '%dateEnd%': event.getDateEnd()|date_bns('full', 'none'),
                                })
                                |desc('Du %date% à <strong>%dateFrom%</strong> <p class="week-calendar">au %dateEnd% à <strong>%dateAt%</strong></p>') |raw
                                }}
                            {% elseif event.getTimeStart() == "00h00" and event.getTimeEnd() != "23h59" and event.getTimeEnd() != "00h00"%}
                                {{ 'DETAIL_DATE_FROM_TO_AT'|trans({
                                    '%date%': event.getDateStart()|date_bns('full', 'none'),
                                    '%dateAt%': event.getTimeEnd()|date_bns('none', 'short'),
                                    '%dateEnd%': event.getDateEnd()|date_bns('full', 'none'),
                                })
                                |desc('Du %date% au <p class="week-calendar">%dateEnd% à <strong>%dateAt%</strong></p>') |raw
                                }}
                            {% elseif event.getTimeStart() != "00h00" and event.getTimeEnd() == "23h59" and event.getTimeEnd() == "00h00"%}
                                {{ 'DETAIL_DATE_FROM_AT_TO'|trans({
                                    '%date%': event.getDateStart()|date_bns('full', 'none'),
                                    '%dateFrom%': event.getTimeStart()|date_bns('none', 'short'),
                                    '%dateEnd%': event.getDateEnd()|date_bns('full', 'none'),
                                })
                                |desc('Du %date% à <strong>%dateFrom%</strong> <p class="week-calendar">au %dateEnd%</p>') |raw
                                }}
                            {% else %}
                                {{ 'DETAIL_DATE_FROM_TO'|trans({
                                    '%date%': event.getDateStart()|date_bns('full', 'none'),
                                    '%dateEnd%': event.getDateEnd()|date_bns('full', 'none'),
                                })
                                |desc('Du %date% <p class="week-calendar">au %dateEnd%</p>') |raw
                                }}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </p>
            </div>
            <div class="clearfix"></div>
        </div>

          <div class="event-detail-title">
              <p class="event-title {{ agenda.getColorClass }}">{{ event.getTitle() }}</p>
          </div>

          <div class="event-detail-content-border">
              <div class="event-detail-content">
                  {% if event.getDescription() != '' %}
                      {% autoescape false %}
                          <div class="event-tinymce-description"> {{ parse_public_resources(event.getDescription()|purify, true, 'medium', true) }}</div>
              {% endautoescape %}
            {% else %}
              <p><i>{% trans %}EVENT_HAVENT_DESCRIPTION{% endtrans %}</i></p>

            {% endif %}

            <div class="clearfix"></div>
                        <div class="event-joined-content">
                            {% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': event.getResourceAttachments(), 'editable': false, 'objectType': 'AgendaEvent', 'objectId': event.id} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
