{% trans_default_domain "CORE" %}
{% extends '::base.html.twig' %}

{% block body %}
	<div class="background-error"></div>
	<div class="container container-fluid content-error">
        {{ 'ERROR_DONT_PANIK'|trans |desc('
        		<h1>Une erreur est (malheureusement) survenue</h1>
		<p>Pas de panique, vous pouvez : </p>
        ') |raw }}
		<ul>
			<li><a href="{{ path('home') }}">{{ 'LINK_BACK_TO_HOMEPAGE'|trans |desc('Revenir à la page d\'accueil') }}</a></li>
			<li><a href="{{ path('disconnect_user') }}">{{ 'LINK_DISCONNECT_USER'|trans |desc('Vous déconnecter puis vous reconnecter') }}</a></li>
			<li>{{ 'LINK_CALL_HELP'|trans({'%linkStart%': '<a href="mailto:support@beneylu.com">', '%linkEnd%':'</a>'}) |desc('%linkStart% Appeler à l\'aide ! %linkEnd% (en précisant le contexte de votre erreur)')|raw }}</li>
		</ul>
	</div>
{% endblock %}

