<div class="create-user-form-container">
	<div class="row-fluid">
		<div class="span12">
			<div class="content-form-user">
				<form method="POST" action="{{ path('BNSAppGroupBundle_group_add_user' , {'groupSlug' : group.slug }) }}" id="add-user-classroom-form">
					<input type="hidden" name="user_role" id="user-role" value="{{ role }}" />
					<div>
						{{ form_label(form.first_name) }}
						{{ form_widget(form.first_name) }}
						{{ form_errors(form.first_name) }}
					</div>              
                    <div>
						{{ form_label(form.last_name) }}
						{{ form_widget(form.last_name) }}
						{{ form_errors(form.last_name) }}
					</div>
					<div class="form">
						{{ form_label(form.gender) }}
						{{ form_widget(form.gender) }}
						{{ form_errors(form.gender) }}
					</div>
					<div class="form birthday">
						{{ form_label(form.birthday) }}
						{{ form_widget(form.birthday) }}
						{{ form_errors(form.birthday) }}
					</div>
					{{ form_rest(form) }}
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('div.create-buttons-container').show();
		
		$('form#add-user-classroom-form').ajaxForm({
			dataType: 'html',
			success: function(data) {
				addUserLastProcess($('#user-role').val(),"{{ group.slug }}");
			}
		});
	});
</script>