{% trans_default_domain "MINISITE" %}
{% extends 'BNSAppMiniSiteBundle:Layout:manager.html.twig' %}

{% block javascripts %}
  {{ parent() }}

	<script type="text/javascript">

		$(function ()
		{


			// Clique sur news row
			$('.item-list-container').on('click', '.item', function (e)
			{
				window.location = $(e.currentTarget).find('.btn-visualisation').attr('href');
			});


      var angularizer = new Angularizer();

      $( "form" ).on( "click", function( ) {
        var $loader = $('.container-content .loader');

        $loader.addClass('show');
        var filtres = $( "form").serialize();
        $.ajax({
          url: Routing.generate('minisite_manager_page_list_page', {'slug': '{{ page.getSlug() }}', 'numberPage':1}),
          type: 'POST',
          dataType: 'html',
          data: filtres,
          success: function (data) {
            $('.item-list-container').html(angularizer.process(data));
          }
        }).done(function () {
          $loader.removeClass('show');
        });

        return false;

      });





			{% if has_right('MINISITE_ADMINISTRATION') %}
				// Switch activation process
				$('.bns-actionbar #disable-page').click(function (e)
				{
					var $this = $(e.currentTarget);


					$.ajax({
						url: $this.attr('data-href'),
						type: 'POST',
						dataType: 'json',
						data: {'page_id': $this.data('id')},
						success: function () {

              $('.page-desactivate').toggleClass('hide');
              $('.page-activate').toggleClass('hide');


            }
					});

					return false;
				});

				// Switch confidentiality process
				$('.bns-actionbar #confidentiality-page').click(function (e)
				{
					var $this = $(e.currentTarget);



					$.ajax({
						url: $this.attr('data-href'),
						type: 'POST',
						dataType: 'json',
						data: {'id': $this.data('id')},
						success: function () {


              $('.page-status-public').toggleClass('hide');
              $('.page-status-private').toggleClass('hide');

            }
					});

					return false;
				});
			{% endif %}
		});
	</script>
{% endblock %}

{% block header %}
						{% if has_right('MINISITE_ADMINISTRATION') or page.isEditor(app.user) %}
            {{ components.button( 'LINK_WRITE_NEWS' | trans , { intent: 'primary', href: path('minisite_manager_page_news_new', {'slug': page.getSlug()}), icon: 'add_circle', raised: true }) }}

              {% endif %}

    {{ components.button( 'LINK_SEE_PAGE' | trans , { href: path('minisite_page_preview', {'miniSiteSlug': minisite.getSlug(), 'pageSlug': page.getSlug()}) , icon: 'remove_red_eye', raised: true, hover: true}) }}


						{% if has_right('MINISITE_ADMINISTRATION') %}
							{% if not page.isHome() %}
                  <span id="disable-page" data-href="{{ path('minisite_manager_switch_activation_page') }}"  data-id="{{ page.getId() }}">
                    {{ components.button( 'BUTTON_DESACTIVATE_PAGE' | trans , {
                      href:'#',
                      icon: 'close',
                      raised: true,
                      hover: true,
                      attr: {
                        class: 'page-desactivate' ~ (page.isActivated() ? '' : ' hide')
                      }
                    }) }}
                    {{ components.button( 'BUTTON_ACTIVATE_PAGE' | trans , {
                      href:'#',
                      icon: 'check',
                      raised: true,
                      hover: true,
                      attr: {
                        class: 'page-activate' ~ (page.isActivated() ? ' hide' : '')
                      }
                    }) }}
                  </span>
              {% endif %}
              <span id="confidentiality-page" data-href="{{ path('minisite_manager_page_confidentiality') }}"  data-id="{{ page.getId() }}">
                {{ components.button( 'BUTTON_MAKE_PRIVATE_PAGE' | trans , {
                  href:'#',
                  icon: 'lock',
                  raised: true,
                  hover: true,
                  attr: {
                    class: 'page-status page-status-private' ~ (page.isPublic() ? '' : ' hide')
                  }
                }) }}
                {{ components.button( 'BUTTON_MAKE_PUBLIC_PAGE' | trans , {
                  href:'#',
                  icon: 'lock_open',
                  raised: true,
                  hover: true,
                  attr: {
                    class: 'page-status page-status-public' ~ (page.isPublic() ? ' hide' : '')
                  }
                }) }}
              </span>
                        {% endif %}
{% endblock header %}

{% block sidebar %}
	{% include 'BNSAppMiniSiteBundle:Sidebar:sidebar.html.twig' with {'index': 'edito', 'section': 'visualisation'} %}
{% endblock sidebar %}

{% block content %}
	<md-content class="page-news-container layout-column flex">
		<div class="loader loader-sb">
			<div class="message">
				{% trans %}LOADING_PLEASE_WAIT{% endtrans %}
			</div>
		</div>

		<!-- <div class="page-news-list"> -->
      {{ render(controller('BNSAppMiniSiteBundle:BackPageNews:getPageNews', {'slug': page.getSlug(), 'miniSite': minisite} )) }}
		<!-- </div> -->
	</md-content>
{% endblock content %}
