{% trans_default_domain "MINISITE" %}
{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

<li id="list_{{ page.getId() }}" data-toggle="menu" data-target="#category-edit-mode" class="{{ page.isActivated() ? 'success' : 'danger' }} {{ page.isHome() ? 'info' : '' }} {{ page.isPublic() ? '' : 'private' }}">
	<div>
		<div class="loader loader-h"></div>
		<span class="list-grip"></span>
        <div class="title">{{ page.getTitle() }}</div></span>
        <span class="page-type {{ page.getType()|lower }}">{% if page.isCity() %}<md-icon>location_city</md-icon>{% endif %}</span>
        <span class="confidentiality"></span>
            {{ page.isHome() or page.isCity() ? "" : "<span class=\"close-button\">&times</span>" }}


	</div>
	<div class="category-editor">
    {% if form.title is defined %}
      {{ form_widget(form.title) }}
    {% endif %}
    {{ components.button( 'LINK_VALIDATE' | trans , { intent: 'accent', href: '#', icon: { name: 'check', attr: { 'class': 'material-icons'} }, raised: true, attr:{'class': 'submit-category pull-right md-accent md-raised md-button md-ink-ripple', 'data-toggle':'menu', 'data-target': '#default-header'} }) }}

    <div class="alert title bns-alert alert-danger small hide">
        {% trans %}TITLE_TOO_SHORT{% endtrans %}
    </div>
        <div class="is-home {{ page.isHome() or not page.isActivated() ? 'hide' : '' }}">
          <label>{{ form_widget(form.is_home) }}<p class="put-homepage">{% trans %}PUT_ON_WELCOME_PAGE{% endtrans %}</label>
        </div>
        <div>{{ form_rest(form) }}</div>
  </div>
</li>

