{% trans_default_domain "HOMEWORK" %}
<article data-hd-id="{{ homeworkdue.id }}" data-homework-id="{{ homeworkdue.homework.id }}">
	<div class="content-article">
	        <div class="header-enunciated ">
		<div class="enunciated">
			<div class="matter">
				{{ homeworkdue.homework.name }}
			</div>
			<div class="name-work">
				{% if homeworkdue.homework.homeworksubject  %}{{ homeworkdue.homework.homeworksubject.name }}{% endif %}
			</div>
		</div>
		<div class="groups">
			<div class="buttons-container">
			    <a href="#" class="btn bns-notice btn-16 small right btn-visualisation">
				    <span class="icons-16 arrow-right-icon right"></span>
				    <strong>{% trans %}LINK_SEE_CARD{% endtrans %}</strong>
			    </a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
		<div class="enunciated-work">
			<p>{{ homeworkdue.getShortDescription() | purify }}</p>
		</div>
		<div class="footer">
		    {% trans %}WRITTEN_IN{% endtrans %}
		    {% for group in homeworkdue.homework.groups %}
				<b>{{ group.label|e }} </b>
		    {% endfor %}
		</div>

	</div>
    </article>
