{% trans_default_domain "HOMEWORK" %}
{% extends 'BNSAppHomeworkBundle:Back:layout.html.twig' %}

{% block header %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<a href="{{ path('BNSAppHomeworkBundle_back_new_homework') }}" class="btn bns-info btn-24 large"><span class="icons-24 add-icon"></span>{% trans %}LINK_ADD_WORK{% endtrans %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block sidebar %}
	<div class="container-sidebar list">
		<div class="section active">
            {% trans %}TITLE_WORKS{% endtrans %}
			<span class="shadow-section"></span>
		</div>
		{% include 'BNSAppHomeworkBundle:Block:load_subject_block.html.twig' with {'subjects' : subjects, 'isEditionMode': false} %}
		{% include 'BNSAppHomeworkBundle:Block:back_block_groups.html.twig' with {'groups': groups} %}
		{% include 'BNSAppHomeworkBundle:Block:back_block_weekdays.html.twig' %}
		<div class="container-section">
			<div class="section">
				<a href="{{ path('homework_manager_categories') }}">{% trans %}LINK_CUSTOMIZATION{% endtrans %}</a>
			</div>
		</div>
	</div>
{% endblock sidebar %}

{% block content %}
	{% include 'BNSAppMainBundle::notice.html.twig' %}
	<div class="relative-container">
		<div class="layer" id="loading-layer" style="display: none;">
			<div class="message">
                {% trans %}LOADING_PLEASE_WAIT{% endtrans %}
				<div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt=""></div>
			</div>
		</div>
		<div class="manage-content">
			{{ render(controller('BNSAppHomeworkBundle:BackAjax:manageForWeekBlock', { 'day' : day, 'firstLoad' : true } )) }}
		</div>
	</div>
{% endblock content %}

{% block main_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/medias/js/homework/jquery.infinitescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/medias/js/jquery.ui.nestedSortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/medias/js/homework/Back/manageForWeek.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/medias/js/homework/collapse-sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/medias/js/jquery.form.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/medias/js/jquery-ui-1.8.19.custom.min.js') }}"></script>
{% endblock %}