{% trans_default_domain "HOMEWORK" %}
{% extends 'BNSAppHomeworkBundle:Back:layout.html.twig' %}

{% block main_javascripts %}
    {{ parent() }}

<script type="text/javascript" src="{{ asset('/medias/js/homework/jquery.infinitescroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/medias/js/jquery.ui.nestedSortable.js') }}"></script>
<script type="text/javascript" src="{{ asset('/medias/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('/medias/js/homework/Back/preferences.js') }}"></script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

<script type="text/javascript" src="{{ asset('/medias/js/jquery-ui-1.8.19.custom.min.js') }}"></script>
<script type="text/javascript">
	$(function ()
	{
		$('.submit-save-homework').click(function ()
		{
			$('#form-preferences').submit();
		});
	});
    </script>
{% endblock javascripts %}

{% block header %}
    <div class="header-buttons">
	<div class="inner-header">
	    <div class="container container-fluid">
		<div class="row-fluid">
		    <div class="span12 align-right">
			<a href="#" class="btn bns-success validate-medium btn-24 medium submit-save-homework"><span class="icons-24 validate-icon"></span><strong>{% trans %}LINK_SAVE{% endtrans %}</strong></a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock header %}


{% block sidebar %}
  {% trans_default_domain "HOMEWORK" %}
	<div class="container-sidebar list">
	    <div class="container-section">
		    <div class="section">
			    <a href={{ path('BNSAppHomeworkBundle_back') }}>{% trans %}TITLE_WORKS{% endtrans %}</a>
		    </div>
	    </div>
	    <div class="section active">
            {% trans %}LINK_CUSTOMIZATION{% endtrans %}
			<span class="shadow-section"></span>
	    </div>
	    <div class="title-container article-statuses-filter">
			<div class="content-title">
				<ul>
					<li>
						<a href="{{ path('homework_manager_categories') }}">{% trans %}LINK_SAVE_DISCIPLINE{% endtrans %}</a>
					</li>
					<li>
						<a href="{{ path('BNSAppHomeworkBundle_back_preferences') }}" class="active">{% trans %}LINK_PARAMETERS{% endtrans %}</a>
					</li>
				</ul>
			</div>
	    </div>
	    <div class="title-container">
			<div class="title active border-blue">{% trans %}TITLE_OPTIONS{% endtrans %}<span class="square icon-arrow"></span></div>
			<div class="content-title">
				<ul>
					<li><a class="switchable {% if preferences_form.activate_validation.vars.value == 1 %}on{%else%}off{%endif%} btn-sidebar-validation">
                            {% trans %}LINK_VALIDATE_WORKS{% endtrans %}
						<span class="btn-switch"></span>
						</a>
					</li>
					<li><a class="switchable {% if preferences_form.show_tasks_done.vars.value == 1 %}on{%else%}off{%endif%} btn-sidebar-past">
                            {% trans %}LINK_VALIDATE_FINISH_WORK{% endtrans %}
						<span class="btn-switch"></span>
						</a>
					</li>
				</ul>
			</div>
	    </div>
	</div>
{% endblock sidebar %}

{% block content %}
	{% include 'BNSAppMainBundle::notice.html.twig' %}
    <form id="form-preferences" action="{{ path('BNSAppHomeworkBundle_back_preferences') }}" method="POST" {{ form_enctype(preferences_form) }}>
	    <div class="news-title">
		<h1 class="dashboard">{% trans %}TITLE_CHOICE_VISIBLE_DAY{% endtrans %}</h1>
	    </div>
	    {{ form_widget(preferences_form.group_id) }}
	    {{ form_widget(preferences_form.show_tasks_done) }}
	    {{ form_widget(preferences_form.activate_validation) }}

	    <div class="list-custom-homework">
			{% for day in preferences_form.days %}
		    <div class="content-custom-homework list-days"><span class="{{day.vars.value}}"></span>{{ day.vars.label|trans }}{{ form_widget(day, {'attr': {'class': 'XX'} }) }}</div>
			{% endfor %}
		</div>
		{#<div class="news-title">
			<h1 class="dashboard">Options</h1>
		</div>
		<div class="list-custom-homework">
			<div class="content-custom-homework">
				Activer la validation des travaux
				{{ form_widget(preferences_form.activate_validation) }}
			</div>
			<div class="content-custom-homework">
				Afficher les travaux terminés
				{{ form_widget(preferences_form.show_tasks_done) }}
			</div>
		</div>#}

		{#<div class="list-custom-homework">
			<div class="content-custom-homework list-days">
				<span class="monday"></span>
				Lundi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="tuesday"></span>
				Mardi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="wednesday"></span>
				Mercredi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="thursday"></span>
				Jeudi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="friday"></span>
				Vendredi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="saturday"></span>
				Samedi
				<input type="checkbox">
			</div>
			<div class="content-custom-homework list-days">
				<span class="sunday"></span>
				Dimanche
				<input type="checkbox">
			</div>
		</div>

		<div class="news-title">
			<h1 class="dashboard">Options</h1>
		</div>
		<div class="list-custom-homework">
			<div class="content-custom-homework">
				Activer la validation des travaux
				<input type="checkbox">
			</div>
			<div class="content-custom-homework">
				Afficher les travaux terminés
				<input type="checkbox">
			</div>
		</div>#}

		{{ form_rest(preferences_form) }}
	    </form>

	{# <form id="form-preferences" action="{{ path('BNSAppHomeworkBundle_back_preferences') }}" method="POST" {{ form_enctype(preferences_form) }}>
		{{ form_widget(preferences_form.group_id) }}

		<div class="content-select-day">
			{{ form_label(preferences_form.days) }}
			{{ form_errors(preferences_form.days) }}
			{{ form_widget(preferences_form.days) }}
		</div>
		<div class="option-select-day">
			<p>Options</p>
			<div>
				{{ form_label(preferences_form.activate_validation) }}
				{{ form_errors(preferences_form.activate_validation) }}
				{{ form_widget(preferences_form.activate_validation) }}
			</div>
			<div>
				{{ form_label(preferences_form.show_tasks_done) }}
				{{ form_errors(preferences_form.show_tasks_done) }}
				{{ form_widget(preferences_form.show_tasks_done) }}
			</div>
		</div>

		{{ form_rest(preferences_form) }}
	</form> #}
{% endblock content %}
