{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}
<md-list class="muppet-list">
    {% for dateArchive in datesArchives %}
    <md-item>
        <md-item-content>
        {% if isParent == false or lbnumber[dateArchive] == 0 %}
    {% if dateArchive == newsDate %}
                <md-button href="{{ path('BNSAppLiaisonBookBundle_front', {'month': dateArchive|date("n"), 'year': dateArchive|date("Y")}) }}">
                    <span>{{ dateArchive|date_bns('none', 'none', 'MMMM y') }}</span>
                </md-button>
    {% else %}
                <md-button href="{{ path('BNSAppLiaisonBookBundle_front', {'month': dateArchive|date("n"), 'year': dateArchive|date("Y")}) }}">
                <span class="nocurrent">{{ dateArchive|date_bns('none', 'none', 'MMMM y') }}</span>
                </md-button>
    {% endif %}
        {% else %}
            {% if dateArchive == newsDate %}
                <md-button href="{{ path('BNSAppLiaisonBookBundle_front', {'month': dateArchive|date("n"), 'year': dateArchive|date("Y")}) }}">
                    <span class="month">{{ dateArchive|date_bns('none', 'none', 'MMMM y') }}</span><span class="number">{{ lbnumber[dateArchive] }}</span>
                </md-button>
            {% else %}
                <md-button href="{{ path('BNSAppLiaisonBookBundle_front', {'month': dateArchive|date("n"), 'year': dateArchive|date("Y")}) }}">
                    <span class="month nocurrent">{{ dateArchive|date_bns('none', 'none', 'MMMM y') }}</span><span class="number nocurrent">{{ lbnumber[dateArchive] }}</span>
                </md-button>
            {% endif %}
        {% endif %}
        </md-item-content>
    </md-item>
    {% endfor %}
</md-list>
{% trans_default_domain "LIAISONBOOK" %}

