        <div class="row-fluid">
            <div class="span1">
                <div class="left-post"></div>
            </div>
            <div class="span3">
                <div class="content-sidebar-messaging">
                    <div class="border-top-sidebar"></div>
                    <ul>
                        <!-- For each des dossiers retournés par le controller -->
                        <li>
                            <a id="{{ received.functionalName }}" href="#"  class="mailFolder btn actif"><span class="icons-not-read"></span> Messages reçus <!--<span class="number-message"> {{ received.unreadMessage }} </span>--></a>
                        </li>
                        <li>
                            <a id="{{ sent.functionalName }}" href="#" class="mailFolder btn no-actif"><span class="icons-message-send"></span>Voir les <br> messages envoyés</a>
                        </li>
                        <li>
                            <a id="{{ drafted.functionalName }}" href="#" class="mailFolder btn no-actif"><span class="icons-draft"></span>Voir mes <br> brouillons <!--<span class="number-message"> {{ drafted.totalNbMessage }} </span>--></a>
                        </li>
                        <li>
                            <a id="{{ deleted.functionalName }}" href="#" class="mailFolder btn no-actif"><span class="icons-message-delete"></span>Voir les <br> messages supprimés</a>
                        </li> 
                    </ul>
                    
                    
                    {% if userFolders != false %}
                    <ul>
                        {% for folder in userFolders %}
                            <li><a href="#" id="{{ folder.functionalName }}" class="mailFolder btn no-actif">{{ folder.name }}</a></li>
                            {% if folder.childs != null %}
                                {% render "BNSAppMessagingBundle:Front:subfolders" with { 'parent' : folder}%}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
