{% trans_default_domain "HOMEWORK" %}
{# Gestion des jours suivant les préférences #}
{# Gestion des travaux passés suivant les préférences #}
<div class="content-menu-text-book">
    <ul>
        {% if 'MO' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'monday' }) }}" class="monday {% if day_of_week == "monday" %}active{% endif %}">{% trans %}CHOICE_MONDAY{% endtrans %}</a></li>{% endif %}
        {% if 'TU' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'tuesday' }) }}" class="tuesday {% if day_of_week == "tuesday" %}active{% endif %}">{% trans %}CHOICE_TUESDAY{% endtrans %}</a></li>{% endif %}
        {% if 'WE' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'wednesday' }) }}" class="wednesday {% if day_of_week == "wednesday" %}active{% endif %}">{% trans %}CHOICE_WEDNESDAY{% endtrans %}</a></li>{% endif %}
        {% if 'TH' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'thursday' }) }}" class="thursday {% if day_of_week == "thursday" %}active{% endif %}">{% trans %}CHOICE_THURSDAY{% endtrans %}</a></li>{% endif %}
        {% if 'FR' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'friday' }) }}" class="friday {% if day_of_week == "friday" %}active{% endif %}">{% trans %}CHOICE_FRIDAY{% endtrans %}</a></li>{% endif %}
        {% if 'SA' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'saturday' }) }}" class="saturday {% if day_of_week == "saturday" %}active{% endif %}">{% trans %}CHOICE_SATURDAY{% endtrans %}</a></li>{% endif %}
        {% if 'SU' in preferences.getDays() %}<li><a href="{{ path('BNSAppHomeworkBundle_front_display_for_day', { 'dayOfWeek': 'sunday' }) }}" class="sunday {% if day_of_week == "sunday" %}active{% endif %}">{% trans %}CHOICE_SUNDAY{% endtrans %}</a></li>{% endif %}
        {% if preferences.getShowTasksDone() == 1 %}<li>
            <a href="{{ path('BNSAppHomeworkBundle_front_history') }}" class="work-finished {% if day_of_week == "history" %}active{% endif %}">
                {{ 'LINK_SEE_OLD_WORK'|trans |desc('<span>Voir les</span> travaux passés') |raw }}
            </a>
            </li>
        {% endif %}
    </ul>
</div>
