{% trans_default_domain "PROFILE" %}
{% extends 'BNSAppProfileBundle:Layout:front.html.twig' %}

{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

{% block title %}
  {% if user.getId() == app.user.getId() %}
    {% trans %}TITLE_MY_PROFILE{% endtrans %}
  {% else %}
      {{ 'TITLE_PROFILE_OF_SOMENONE'|trans({'%userFullName%': user.getFullName})|desc('Profil de %userFullName%') }}
  {% endif %}
{% endblock %}

{% block sidebar_content %}

  {% if flag_profile_sdet_import_export %}
    {{ components.button( 'EXPORT_CARD' | trans , { intent: 'primary', href: path('profile_export', {'id': user.getId()}), icon: 'get_app', raised: true, attr : {'class':'button'} }) }}
  {% endif %}
  {% if flag_profile_status or flag_profile_status_push %}
  {% include "@BNSAppProfile/Front/front_description_like.html.twig" %}
  {% endif %}

  {% if flag_profile_sdet_informations and user.isAdult and user.profile.publicData %}
  <div class="sidebar-element">
    <h2 class="heading">{{ 'MORE_INFORMATIONS'|trans }}</h2>
    <p class="intro">
      {% if user.phone %}
          {{ 'PHONE'|trans }} : {{ user.phone }} <br/>
      {% endif %}
      {% if user.profile.address %}
          {{ 'ADDRESS'|trans }} : {{ user.profile.address }} <br/>
      {% endif %}
      {% if user.profile.organization %}
          {{ 'ORGANIZATION'|trans }} : {{ user.profile.organization }} <br/>
      {% endif %}
      {% if user.email %}
          {{ 'EMAIL'|trans }} : {{ user.email }} <br/>
      {% endif %}
    </p>
  </div>
  {% endif %}

  {% if classrooms|length %}
    <div class="sidebar-element">
      <h2 class="heading">{{ 'MY_CLASSROOM'|transchoice(classrooms|length) }}</h2>
      {% for classroom in classrooms %}
        {% include 'BNSAppProfileBundle:Front:classroom_school_info_row.html.twig' with {'classroom': classroom} %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock sidebar_content %}


{% block content %}
<div class="layout-column flex profile-main-container">
  <md-toolbar class="md-tall profile-toolbar md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <bns-sidebar-toggle></bns-sidebar-toggle>
      <h1 class="flex heading title text-ellipsis">{{ user.getFullName() }}</h1>
    </div>
    <md-divider></md-divider>
    <div class="md-toolbar-tools">
      {{ components.avatar(user, { size: 100, whiteframe: 'z1', attr: { class: 'avatar-big' } }) }}

      <div class="flex md-body-2">
        {% if user.getBirthday() != null %}
          <div class="text-ellipsis"> {{ 'MY_AGE_AND_BIRTHDAY' |trans({'%userAge%': user.getAge() |escape, '%userBirthday%': user.getBirthday()|date_bns('full', 'none', 'd LLLL')}) |desc('J\'ai <strong> %userAge% ans</strong> et mon anniversaire est le %userBirthday% </strong>.') |raw }}</div>
        {% endif %}

        {% if user.getProfile().getJob() != null %}
          <div class="text-ellipsis">{{ 'LATER_BECOME_JOB'|trans({'%userJob%': user.getProfile().getJob() |escape}) |desc('Plus tard je voudrais être <strong>%userJob%</strong>.')|raw }} </div>
        {% endif %}
      </div>
    </div>
  </md-toolbar>

  {% if not flag_profile_status and not flag_profile_status_push %}
    <div class="bns-sidebar-main-content">
      {% include "@BNSAppProfile/Front/front_description_like.html.twig" %}
    </div>
  {% endif %}

  <md-content class="md-whiteframe-z1 flex" bns-feature-flag="'profile_status'" bns-feature-push="'incentive'">
    <div class="md-padding md-subhead heading subtitle">{% if feeds is defined %}{% trans %}TITLE_MY_STATUS{% endtrans %}{% else %}{% trans %}TITLE_MINE_STATUS{% endtrans %}{% endif %}</div>
    <md-divider></md-divider>
      <div class="status-container">
        </br>
        {% if feeds is defined %}
          {% include 'BNSAppProfileBundle:Status:front_status_list.html.twig' with {'feeds': feeds} %}
        {% else %}
          {% include 'BNSAppProfileBundle:Status:front_status_list.html.twig' with {'feeds': user.getProfile().getProfileFeeds()} %}
        {% endif %}
      </div>
        <div class="status-loader" style="display: none">
          <p style="text-align: center"><img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" alt="Gif de chargement" /> {% trans %}TITLE_WAIT_STATUS_PREVIOUS_STATUS{% endtrans %}</p>
        </div>
        <script type="text/javascript">
          $(document).ready(function ()
          {
            $isLoadingProfileFeedStatus = false;
            $nbLoadTime = 0;
            $statusScroller = $('#content md-content');
            angularizer = new Angularizer();
            $statusScroller.scroll(function () {
              {# TODO call only when content is needed and not on each scroll event #}
              if (!$isLoadingProfileFeedStatus && $statusScroller.scrollTop()) {
                $isLoadingProfileFeedStatus = true;
                var $statusDivLoader = $('.status-loader');
                $statusDivLoader.slideDown('fast');
                // Requête pour récupérer les prochains feeds
                $.ajax({
                  url: Routing.generate('status_load_more'),
                  type: 'POST',
                  data: {
                    'profile_id': '{{ user.getProfileId() }}',
                    'nb_load': $nbLoadTime + 1
                  },
                  dataType: 'html',
                  success: function (data) {
                    $div = $('<div />').html(angularizer.process(data)).css('display', 'none');
                    $('.status-container').append($div);
                    $nbLoadTime++;
                    $div.slideDown('fast');
                    // reset status only on success
                    $isLoadingProfileFeedStatus = false;
                  },
                  complete: function () {
                    // hide loader after
                    $statusDivLoader.slideUp('fast');
                  }
                });
              }
            });
          });
        </script>
  </md-content>
</div>
{% endblock %}
