{% extends 'BNSAppProfileBundle:Layout:front.html.twig' %}

{% block title %}
    {% if user.getId() == app.user.getId() %}
            Mon profil
    {% else %}
            Profil de {{ user.getFullName() }}
    {% endif %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
	
{% block content %}
	<div class="profile"></div>
    <div class="container container-fluid {{ user.getProfile().toStringThemeCssClasses() }} theme">
        <div class="row-fluid">
            {# User's avatar #}
            <div class="span3">
				<div class="avatar-profil content-color">
                	<img src="{{ avatar(user, 'small') }}" />
				</div>
            </div>
            
            {# User's general informations #}
            <div class="span9">
				<div class="description-profil content-color">
					<h1>{{ user.getFullName() }}</h1>
					<div class="content-description-profil">
						{% for classroom in classrooms %}
							{% include 'BNSAppProfileBundle:Front:classroom_school_info_row.html.twig' with {'classroom': classroom} %}
						{% endfor %}

						{% if user.getBirthday() != null %}
							<p>Aujourd'hui j'ai <strong>{{ user.getAge() }} ans</strong> et mon anniversaire est le <strong>{{ user.getBirthday()|date_bns('full', 'none', 'd LLLL') }}</strong>.</p>
						{% endif %}

						{% if user.getProfile().getJob() != null %}
							<p>Plus tard je voudrais être <strong>{{ user.getProfile().getJob() }}</strong>.</p>
						{% endif %}
					</div>
				</div>
            </div>
        </div>
        
        {# Description #}
        <div class="row-fluid">
            <div class="span12">
				<div class="profil-story content-color">
					<h2>Un peu plus sur moi</h2>

					<div class="content-story">
							{% if user.getProfile().getDescription() != null %}
								<p>{{ user.getProfile().getDescription() }}</p>
							{% else %}
								<p class="no-description">
									<em>
										{% if user.getId() == app.user.id %}
											Je ne me suis pas encore présenté, je peux le faire en cliquant sur <a href="{{ path('BNSAppProfileBundle_back') }}">ce lien</a>.
										{% else %}
											Je n'ai pas pas encore eu le temps de me présenter.
										{% endif %}
									</em>
								</p>
							{% endif %}
					</div>
				</div>
            </div>
        </div>
            
        
        <div class="row-fluid">
            {# Les statuts #}
            <div class="span8">
				<div class="content-left content-color">
					<h2>Mes statuts</h2>


					<div class="status-container">
						{% include 'BNSAppProfileBundle:Status:front_status_list.html.twig' with {'feeds': user.getProfile().getProfileFeeds()} %}
					</div>

					{% if user.getProfile().getNbFeeds > nb_feeds_per_load %}
						<div class="status-loader">
							<h3><img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" alt="Gif de chargement" /> Veuillez patienter, chargement des statuts précédents.</h3>
						</div>
						<script type="text/javascript">
							$(document).ready(function ()
							{
								$isLoadingProfileFeedStatus = false;
								$nbLoadTime = 0;
								$(window).scroll(function ()
								{
									var $diffWindowDocumentHeight = $(document).height() - $(window).height();
									if ($diffWindowDocumentHeight <= 0)
									{
										return;
									}

									if (!$isLoadingProfileFeedStatus && $(window).scrollTop() >= $diffWindowDocumentHeight * 0.8)
									{
										$isLoadingProfileFeedStatus = true;
										var $statusDivLoader = $('.status-loader');
										$statusDivLoader.slideDown('fast');
										// Requête pour récupérer les prochains feeds
										$.ajax({
											url: Routing.generate('status_load_more'),
											type: 'POST',
											data: {
												'profile_id': '{{ user.getProfileId() }}',
												'nb_load': $nbLoadTime + 1
											},
											dataType: 'html',
											success: function (data)
											{
												$div = $('<div />').html(data).css('display', 'none');
												$('.status-container').append($div);
												$div.slideDown('fast', function ()
												{
													$statusDivLoader.slideUp('fast');
													$nbLoadTime++;
													if (($nbLoadTime + 1) * {{ nb_feeds_per_load }} < {{ user.getProfile().getNbFeeds() }})
													{
														$isLoadingProfileFeedStatus = false;
													}
												});
											}
										});

									}
								});
							});
						</script>
					{% endif %}
				</div>
            </div>
                
            {# Les items J'aime/Je n'aime pas #}
            <div class="span4">
				<div class="content-right">
                	{% include 'BNSAppProfileBundle:Preferences:preference_block.html.twig' with {'user': user, 'editable': false} %}
				</div>
			</div>
        </div>
	</div>
{% endblock %}