<tr>
	<td>{{ attribute.getGroupTypeDataTemplate.getLabel() }}</td>
	<td class="group-attribute" id='group-{{ group.getId }}-{{ attribute.getGroupTypeDataTemplateUniqueName }}'>{{ group.printAttribute(attribute.getGroupTypeDataTemplateUniqueName) }} <img src="{{ asset('/medias/images/icons/edit.png')}}" class="edit-btn" /></td>
</tr>