{% trans_default_domain "SCHOOL" %}
{% extends 'BNSAppGroupBundle:Back:layout.html.twig' %}

{% block title %}{% trans %}TITLE_SCHOOL_ASSIGNMENT{% endtrans %}{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block header %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span12 align-right">
                        <a href="#delete-users" data-toggle="modal" class="btn bns-danger btn-24 medium-return">
                            <span class="icons-24 delete-icon"></span>
                            {% trans %}DELETE_SELECTION{% endtrans %}
                        </a>
                        <a href="#create-new-classroom" class="btn bns-success validate-medium btn-24 medium btn-confirm-import-pupil" data-toggle="modal" >
							<span class="icons-24 validate-icon"></span><strong>{% trans %}ASSIGN_SELECTION{% endtrans %}</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block sidebar %}
    {% include "BNSAppSchoolBundle:Sidebar:sidebar.html.twig" with {"page" : "assignment" } %}
{% endblock sidebar %}

{% block content %}

	<div class="container-csv">

        <div class="news-title">
			<h1 class="dashboard">{% trans %}USERS_ASSIGNMENT{% endtrans %}</h1>
		</div>

		{% if error is defined %}
			<div class="alert alert-danger bns-alert">
				{{ error }}
				<div class="jim"></div>
			</div>
		{% endif %}

        {% if message is defined and message is not null %}
			<div class="alert alert-success bns-alert">
				{{ message }}
				<div class="jim"></div>
			</div>
		{% endif %}

        <form id="assignment-form" action="{{ path('BNSAppSchoolBundle_back_assignment') }}" method="post" {{ form_enctype(formAssignment) }} class="form-inline">

            <input type="hidden" value="" class="" name="newClassroomLabel" id="new-classroom-label" />
            <input type="hidden" value="" class="" name="newClassroomId" id="new-classroom-id" />

            {% if error is not defined %}

                <div class="news-title">
                    <h1 class="dashboard">{% trans %}TITLE_TEACHERS{% endtrans %}</h1>
                </div>

                <div style="padding: 2%;">
                    {% for teacher in teachers %}
                        <a href="#" class="bns-user small checkbox">
                            <img src="{{ avatar(teacher, 'thumbnail') }}" alt="" class="avatar" />
                            <span class="name">{{ teacher.fullName}}</span>
                            <span class="action-icons"></span>
                            <input class="form-checkbox hidden" type="checkbox" name="teachers[]" value="{{ teacher.id}}" />
                        </a>
                    {% else %}
                        <div class="alert alert-notice bns-alert">
                            {% trans %}NO_TEACHER_IN_THIS_SCHOOL{% endtrans %}
                            <div class="jim"></div>
                        </div>
                    {% endfor %}
                </div>

                <div class="news-title">
                    <h1 class="dashboard">{% trans %}TITLE_CLASSROOM{% endtrans %}</h1>
                </div>

                <div style="padding: 2%;">

                    {% if pupilWithClassroom|length > 0 %}
                        <h1 class="header">
                        {{ 'TITLE_PUPIL_WITHOUT_CLASSROOM'|transchoice(pupilWithClassroom|length) |desc('[0,1] Élève sans classe | ]1,Inf[ Élèves sans classe') }}
                        </h1>
                        {% for pupil in pupilWithClassroom %}
                            <a href="#" class="bns-user small checkbox">
                                <img src="{{ avatar(pupil, 'thumbnail') }}" alt="" class="avatar" />
                                <span class="name">{{ pupil.fullName}}</span>
                                <span class="action-icons"></span>
                                <input class="form-checkbox hidden" type="checkbox" name="pupils[]" value="{{ pupil.id}}"/>
                            </a>
                        {% endfor %}
                    {% endif %}

                    {% for classroom in classrooms %}

                        <h1 class="header">{{classroom.label}}</h1>
                        {% set gm = gm.setGroup(classroom) %}
                        {% for pupil in gm.getUsersByRoleUniqueName('PUPIL',true) %}
                            <a href="#" class="bns-user small checkbox">
                                <img src="{{ avatar(pupil, 'thumbnail') }}" alt="" class="avatar" />
                                <span class="name">{{ pupil.fullName}}</span>
                                <span class="action-icons"></span>
                                <input class="form-checkbox hidden" type="checkbox" name="pupils[]" value="{{ pupil.id}}"/>
                            </a>
                        {% else %}
                            <div class="alert alert-notice bns-alert">
                                {% trans %}NO_PUPIL_IN_THIS_CLASS{% endtrans %}
                                <div class="jim"></div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <input id="assignment-form-type" type="hidden" name="assignmentType" value="newClassroom" />
        </form>
	</div>



    <script type="text/javascript">
        $(function(){
            $('.bns-user').click(function(e){
                e.preventDefault();
                $(this).toggleClass('selected');
                var $checkbox = $(this).children('.form-checkbox').first();
                $checkbox.prop("checked", function( i, val ) {
                    return !val;
                  });
            });
            $('.assignment-submit').click(function(e){
                e.preventDefault();
                $('#new-classroom-label').val($('#new-classroom-label-temp').val());
                $('#assignment-form-type').val($(this).attr('data-form-type'));
                $('#assignment-form').submit();
            });
            $('#create-new-classroom').find('.toggle').click(function(){
                var state = $(this).hasClass('selected');

                $('#create-new-classroom').find('.toggle.selected').removeAttr('selected');
                $('#create-new-classroom').find('.toggle.selected').removeClass('selected');

                if(state)
                {
                    $(this).addClass('selected');
                    $(this).attr('selected','selected');
                    $('#new-classroom-id').val($(this).find('input').val());
                }else{
                    $(this).removeClass('selected');
                    $(this).removeAttr('selected','selected');
                    $('#new-classroom-id').val(false);
                }


            });
            $('#delete-users-confirm').click(function(){
                $('#assignment-form-type').val('delete');
                $('#assignment-form').submit();
            });

        });
    </script>

    {{ modal('create-new-classroom', {
        'title': 'CHOOSE_A_CLASS'|trans,
        'body_template': {'template': 'BNSAppGroupBundle:BackModal:assignement_new_classroom_body.html.twig' , 'values': {'classrooms': classroomTargets } },
        'type': 'success',
        'footer_template': {'template': 'BNSAppGroupBundle:BackModal:assignement_new_classroom_footer.html.twig'}
        })
    }}

    {{ modal('delete-users', {
        'title': 'DELETE_THE_USERS'|trans,
        'body_template': {'template': 'BNSAppSchoolBundle:Modal:assignmentDeleteUsersBody.html.twig'},
        'type': 'error',
        'footer_template': {'template': 'BNSAppSchoolBundle:Modal:assignmentDeleteUsersFooter.html.twig'}
        })
    }}
{% endblock %}

