{% extends 'BNSAppNoteBookBundle:Back:layout.back.html.twig' %}
{% set noteBook = form.vars.value %}
{% block title %}
	Beneylu School - Cahier journal - Manager - {% if isEditionMode %}Édition{% else %}Création{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script type="text/javascript" src="{{ asset('/medias/js/notebook/Back/newMessage.js') }}"></script>
	{{ tinymce_init() }}
{% endblock %}

{% block header %}
	<div class="span6">
		<a href="{{ path('BNSAppNoteBookBundle_back') }}" class="btn bns-notice btn-24 medium-return button-return">
			<span class="icons-24 back-icon"></span>
			<strong>Retourner</strong><br>à la liste
		</a>
	</div>
	<div class="span6 align-right">
		<a href="#" class="btn finish bns-success validate-medium btn-24 medium">
			<span class="icons-24 validate-icon"></span><strong>Enregistrer le message</strong>
		</a>
	</div>
{% endblock header %}

{% block sidebar %}
	<div class="container-sidebar editor">
		<div class="section active">
			{% if isEditionMode %}Éditer{% else %}Rédiger{% endif %} un message
			<span class="shadow-section"></span>
		</div>
		<div class="sidebar-shadow"></div>
		<div class="title-container new-message">
			<div class="title active border-light-blue">Date <span class="square icon-arrow"></span></div>
			<div class="content-title">
			<div class="content-category">
				<ol>
					<li>Le {{ form_widget(form.date) }}<img src="{{ asset('/medias/images/icons/sidebar/datepicker.png') }}" class="img-calendar show-calendar" alt=""></li>
				</ol>
			</div>
			</div>
		</div>
	</div>
{% endblock sidebar %}

{% block form_start %}
    {% if (isEditionMode) %}
	    <form id="form_new_message" action="{{ path('BNSAppNoteBookBundle_back_edit', {'slug': noteBook.slug}) }}" method="POST" {{ form_enctype(form) }}>
    {% else %}
	    <form id="form_new_message" action="{{ path('BNSAppNoteBookBundle_back_create_finish') }}" method="POST" {{ form_enctype(form) }}>
    {% endif %}
{% endblock %}

{% block content %}
	{% if errors is defined %}
		{% if errors.count > 0 %}
			<div class="alert alert-danger bns-alert">
				{% for error in errors %}
					{{ error.message }}<br />
				{% endfor %}
				<div class="jim"></div>
			</div>
		{% endif %}
	{% endif %}

	<div class="notebook-back-new-message">
			<div>
					{{ form_widget(form.title, { 'attr': {'class': 'input-xlarge-bns', 'placeholder': 'Titre du message'} }) }}
			</div>
			<div class="tinyarea">
					{{ form_widget(form.content, { 'attr': {'bns-tinymce': ''} }) }}<br />
			</div>
			<div>
				{{ form_rest(form) }}
			</div>

			{% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': noteBook.getResourceAttachments,"editable": true, 'objectType': 'NoteBook', 'objectId': noteBook.id} %}
	</div>
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}



