<div class="item {% if information.isAlert%}favorite{% endif %}" id="information-{{ information.id }}">
	<div class="vertical-separator {% if information.isProgrammed() %}programmed{% else %}published{% endif %}"></div>
	<div class="header">
		<div class="buttons-container">
			<a href="{{ path('board_manager_information_visualisation', {'informationSlug': information.slug}) }}" class="btn bns-notice btn-16 small right btn-visualisation">
				<span class="icons-16 arrow-right-icon right"></span>
				<strong>Voir la fiche</strong>
			</a>
		</div>
		<h3>{{ information.getTitle() }}</h3>
	</div>
	<div class="footer">
		Écrit {{ date_from_now(information.getCreatedAt(), false, true) }} par <img src="{{ avatar(information.user, 'thumbnail') }}" alt="" class="avatar" /> {{ information.user.fullName }}
	</div>
</div>