{% extends 'BNSAppBoardBundle:Layout:manager.html.twig' %}

{% block title %}
	{{ information.getTitle() }} - Gestion
{% endblock title %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function ()
		{
			$('.header-buttons .delete-information').click(function (e)
			{
				$('#modal-information-delete').modal('show');

				return false;
			});

			// Alert process
			$('.header-buttons .alert-information').click(function (e)
			{
				var $this = $(e.currentTarget);
				if ($this.hasClass('loading')) {
					return false;
				}

				$this.addClass('loading');

				$.ajax({
					url: $this.attr('href'),
					success: function () {
						// Show success alert
						if ($this.hasClass('toggle')) {
							$('#alert-disabled').slideDown('fast');
						}
						else {
							$('#alert-enabled').slideDown('fast');
						}

						// Delete success alert
						setTimeout(function ()
						{
							$('.bns-alert div').slideUp('fast', function () { $(this).parent().slideUp('fast', function () { $('.bns-alert div').show() }) });
						}, 8000);

						// Switch the button
						$('.alert-information').toggleClass('hide');
					}
				}).done(function () {
					$this.removeClass('loading');
				});

				return false;
			});
            
            $('#modal-information-delete .modal-footer .delete-process').click(function (e)
            {
                $('#modal-information-delete .loader').fadeIn('fast');
            });
		});
	</script>
{% endblock javascripts %}

{% block header %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<a href="{{ path('BNSAppBoardBundle_back') }}" class="btn bns-notice btn-24 medium-return">
							<span class="icons-24 back-icon"></span>
							<strong>Retourner</strong><br />à la liste
						</a>
						<a href="{{ path('board_manager_edit_information', {'informationSlug': information.getSlug()}) }}" class="btn bns-info btn-24 medium-return spacer">
							<span class="icons-24 edit-icon"></span>
							<strong>Éditer</strong><br />l'information
						</a>

						<a href="{{ path('board_manager_information_alert_switch', {'informationSlug': information.getSlug()}) }}" class="btn bns-warning btn-24 medium-return spacer alert-information {% if information.isAlert() %}hide{% endif %}">
							<span class="icons-24 pin-icon"></span>
							<strong>Activer</strong><br />l'alerte
						</a>
						<a href="{{ path('board_manager_information_alert_switch', {'informationSlug': information.getSlug()}) }}" class="btn bns-warning btn-24 medium-return spacer alert-information {% if not information.isAlert() %}hide{% endif %} toggle">
							<span class="icons-24 pin-icon"></span>
							<strong>Désactiver</strong><br />l'alerte
						</a>
						<a href="#" class="btn bns-danger btn-24 medium-return delete-information">
							<span class="icons-24 delete-icon"></span>
							<strong>Supprimer</strong><br />l'information
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block sidebar %}
	<div class="container-sidebar">
		<div class="section active">
			{% trans %}Information{% endtrans %}
			<span class="shadow-section"></span>
		</div>
		{% include 'BNSAppBoardBundle:Block:back_block_status.html.twig' %}
		{% include 'BNSAppBoardBundle:Block:back_block_created_at.html.twig' %}
		{% include 'BNSAppBoardBundle:Block:back_block_published_until.html.twig' %}
	</div>
{% endblock sidebar %}

{% block content %}
	{{ render(controller('BNSAppBoardBundle:BackAjax:renderDeleteInformationModal', {'information': information} )) }}

	<div class="item visualisation">
		{% for message in app.session.flashbag.get('success') %}
			<div class="alert alert-success alert-flash bns-alert">
				{{ message }}
				<div class="jim"></div>
			</div>
		{% endfor %}

		<div class="alert alert-success bns-alert hide" id="alert-enabled">
			L'alerte a été activée sur votre information, celle-ci remontera dans le fil d'informations.
			<div class="jim"></div>
		</div>
		<div class="alert alert-success bns-alert hide" id="alert-disabled">
			L'alerte a été désactivée.
			<div class="jim"></div>
		</div>

		<div class="header">
			<h3>{{ information.getTitle() }}</h3>
		</div>
		<div class="footer">
			<p>
				{% if information.isPublished() or information.isProgrammed() %}
					Publié {{ date_from_now(information.getPublishedAt(), false, true) }}
				{% else %}
					Créé {{ date_from_now(information.getCreatedAt(), false, true) }}
				{% endif %}
				par <img src="{{ avatar(information.user, 'thumbnail') }}" alt="" class="avatar" /> {{ information.user.fullName }}
			</p>
			<p>
				Dernière modification {{ date_from_now(information.getUpdatedAt(), false, true) }}
			</p>
		</div>
		<div class="text">
			{% autoescape false %}
				{{ information.getContent() }}
			{% endautoescape %}
		</div>

	</div>
{% endblock %}