{% trans_default_domain "GPS" %}
{% extends 'BNSAppGPSBundle:Back:layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function ()
		{
			$('body').on('click', '.item-list-container .item', function (e)
			{
				window.location = $(e.currentTarget).find('.btn-visualisation').attr('href');
			});
		});
	</script>
{% endblock javascripts %}

{% block action_bar %}
 {{ components.button( 'LINK_ADD_PLACE' | trans , { intent: 'primary', href: path('BNSAppGPSBundle_back_new_place'), icon: 'add_circle', raised: true }) }}
{% endblock %}

{% block sidebar_content %}

  <section class="current">
      {{ components.button( 'LINK_PLACE' | trans , { href: "#", icon: 'place' }) }}

      <bns-expander label="{{ 'SORT_BY_CATEGORY' | trans }}" is-open="true">
        {% include "BNSAppGPSBundle:Back:blockCategorySidebar.html.twig" with {'categories' : categories, 'isEditionMode': false} %}
      </bns-expander>
  </section>


  <section>
      {{ components.button( 'LINK_CATEGORIES' | trans , { href: path('BNSAppGPSBundle_back_categories'), icon: 'list' }) }}
  </section>


  <section>
      {% include 'BNSAppMainBundle:Components:app_menu_toggle.html.twig' %}
  </section>
{% endblock %}

{% block body_content %}
  <md-toolbar class="content-toolbar">
    <div class="md-toolbar-tools layout-align-start-center">
      <bns-sidebar-toggle></bns-sidebar-toggle>
      <h1 class="md-title text-primary text-left flex flex-gt-sm-33">{% trans%}LIST_LINKS_PLACE{% endtrans %}</h1>
    </div>
  </md-toolbar>

  <md-content class="item-list-container layout-column flex">
    <div class="layer-places-loading">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <div id="gps-places-list" class="gps-places-list">
      {{ render(controller('BNSAppGPSBundle:Back:placesList')) }}
</div>
  </md-content>
{% endblock %}
