{% trans_default_domain "GPS" %}
{% extends 'BNSAppMainBundle:App:base.html.twig' %}

{% set app_unique_name = 'GPS' %}
{% set app_mode = 'back' %}


{% block body_class %}{{ parent() }}module-gps module-back back{% endblock %}
{% block body_attr %}{{ parent() }} data-app="{{ app_unique_name }}" data-mode="{{ app_mode }}" {% endblock %}

{% block title %}
  {% trans %}TITLE_GPS_MANAGEMENT{% endtrans %}
{% endblock %}

{% block css %}
	{{ parent() }}
    {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
	<link href="{{ asset('/medias/css/gps/manager.css') }}" rel="stylesheet" type="text/css">
	{{ vichgeo_include_css() }}
{% endblock %}

{% block  main_javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

	{% javascripts
		'medias/js/gps/back.js'
		'medias/js/jquery.form.js'
		 filter='?yui_js' output='js/gps/back.js' %}
		<script src="{{ asset_url }}"></script>
		<script type="text/javascript" src="{{ asset('/medias/js/jquery.ui.nestedSortable.js') }}"></script>
  <script type="text/javascript" src="{{ asset('/medias/js/manager.js') }}"></script>
	{% endjavascripts %}
{% endblock %}



{% block actionbar_content %}
  {% block action_bar %}{% endblock %}
{% endblock %}

{% block sidebar_content %}
  <div class="container-sidebar list" id="gps-sidebar">
    <div class="section active">
      {% trans %}TITLE_PLACE{% endtrans %}
      <span class="shadow-section"></span>
    </div>
    <div class="title-container gps-category-filter">
      <div class="title active border-blue">
        {% trans %}SORT_BY_CATEGORY{% endtrans %}<span class="square icon-arrow"></span>
      </div>
      {% include "BNSAppGPSBundle:Back:blockCategorySidebar.html.twig" with {'categories' : categories, 'isEditionMode': false} %}
    </div>
    <div class="container-section">
      <div class="section">
        <a href="{{ path('BNSAppGPSBundle_back_categories') }}">{% trans %}LINK_CATEGORIES{% endtrans %}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% block body_content %}{% endblock %}
    <div class="container-manager-bottom">
      <div class="content-manager-bottom"></div>
    </div>
{% endblock %}
