{% extends '::base_manager.html.twig' %}

{% block title %}
	GPS - Gestion
{% endblock %}

{% block css %}
	{{ parent() }}
    {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
	<link href="{{ asset('/medias/css/gps/manager.css') }}" rel="stylesheet" type="text/css">
	{{ vichgeo_include_css() }}
{% endblock %}

{% block  main_javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}	
	
{% block  javascripts %}
	{{ parent() }}
	{% javascripts
		'medias/js/gps/back.js'
		'medias/js/jquery.form.js'
		 filter='?yui_js' output='js/gps/back.js' %}
		<script src="{{ asset_url }}"></script>
		<script type="text/javascript" src="{{ asset('/medias/js/jquery.ui.nestedSortable.js') }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
	<div class="background-gps-admin"></div>
	{% block action_bar %}{% endblock %}
	<div class="container-fluid container gps-container">
		<div class="row-fluid container-manager">
			{% block sidebar %}{% endblock %}
			<div class="span9 container-content no-margin">
				{% block content %}{% endblock %}
			</div>
			<div class="container-manager-bottom">
				<div class="content-manager-bottom"></div>
			</div>
		</div>
	</div>
{% endblock %}
	
{% block dock_bar %}
	{% render "BNSAppMainBundle:DockBar:index" with {'module_unique_name' : "GPS" , 'is_in_front' : false } %}
{% endblock %}
	