{% trans_default_domain "GPS" %}
{% extends 'BNSAppGPSBundle:Back:layout.html.twig' %}


{% form_theme form 'BNSAppGPSBundle:Form:error.html.twig' %}

{% block action_bar %}
  {{ components.button_nav('LINK_RETURN_TO_LIST' | trans, { href: path('BNSAppGPSBundle_back'), back: true } ) }}
  {% if is_edit %}
    {{ components.button( 'LINK_CANCEL_EDIT_PLACE' | trans , { href: path('BNSAppGPSBundle_back',{'slug' : place.slug}), icon: 'close', raised: true }) }}
  {% else %}
    {{ components.button( 'LINK_CANCEL_ADD_PLACE' | trans , { href: path('BNSAppGPSBundle_back'), icon: 'close', raised: true }) }}
  {% endif %}
  <span flex></span>
  {{ components.button( 'LINK_SAVE' | trans , {intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'id' : 'submit-gps-place', 'class' : 'finish'} }) }}
{% endblock %}

{% block sidebar_content %}
<section class="current">
  {% if is_edit %}
        {{ components.button( 'TITLE_EDIT_PLACE' | trans , { inactive: true, icon: 'place' }) }}

  {% else %}
        {{ components.button( 'TITLE_CREATE_PLACE' | trans , { inactive: true, icon: 'place' }) }}

  {% endif %}

      <bns-form-proxy source="{{ form.vars.name }}" du-scroll-container="content"></bns-form-proxy>

</section>


{% endblock %}

{% block body_content %}
  <md-toolbar class="content-toolbar">
    <div class="md-toolbar-tools layout-align-start-center">
      <bns-sidebar-toggle></bns-sidebar-toggle>
      <h1 class="md-title text-primary text-left flex flex-gt-sm-33">{% if is_edit %}{% trans%}TITLE_EDIT_PLACE{% endtrans %}{% else %}{% trans%}TITLE_CREATE_PLACE{% endtrans %}{% endif %}</h1>
    </div>
  </md-toolbar>

  <md-content class="item-list-container layout-column md-padding flex">
    {{ form_start(form, {
      'action': path('BNSAppGPSBundle_back_edit_place_submit'),
      'attr' : {
        'id' : 'gps-place-form',
      }
    }) }}

    {{ form_row(form.label) }}

    <div class="layout-row">
        <div class="flex">
          {{ form_row(form.address) }}
        </div>

        <div class="flex flex-none">
          {{ components.button( 'LINK_SEE_ON_MAP' | trans , {
            intent: 'primary',
            href: '#',
            icon: 'remove_red_eye',
            raised: true,
            size: 'sm',
            attr : {
              'id' : 'gps-place-map-preview',
              'ng-disabled': '!' ~ form.vars.full_name ~ '.address',
              'class' : 'view-map'
            }
          }) }}
        </div>
    </div>

    {{ form_row(form.description,{'attr': {'rows': 4}}) }}

    <div id="gps-place-map-preview-render" class="gps-place-map-preview-render"></div>



    {{ form_row(form.gps_category) }}

{% if form.gps_category is empty %}
        <div class="content-category screen-md">
          <div class="no-category">
            <p>
              {{ 'NO_CATEGORY_CAN_CREATE'|trans({'%linkStart%': '<a href="'~ path('BNSAppGPSBundle_back_categories') ~'">', '%linkEnd%': '</a>'}) |desc('Il n\'y pas encore de catégorie. Vous pouvez en créer sur la page de %linkStart% gestion des categories %linkEnd%.') |raw }}
            </p>
          </div>
        </div>

    {% endif %}


      {{ form_rest(form) }}

    {{ form_end(form) }}

  </md-content>
  </div>
{% endblock %}
