{% extends 'BNSAppGPSBundle:Back:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function ()
        {
            $('#delete-place-modal .modal-footer .bns-danger').click(function (e)
            {
                $('#delete-place-modal .loader').fadeIn('fast');
            });
        });
    </script>
{% endblock %}

{% block action_bar %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<a href="{{ path('BNSAppGPSBundle_back') }}" class="btn bns-notice btn-24 medium-return">
							<span class="icons-24 back-icon"></span>
							<strong>Retourner</strong><br>à la liste
						</a>
						<a href="{{ path('BNSAppGPSBundle_back_edit_place', { 'slug' : place.getSlug() }) }}" class="btn bns-info btn-24 medium-return button-return">
							<span class="icons-24 edit-icon"></span>
							<strong>Éditer</strong><br>le lieu
						</a>
						<a href="#" data-target="#delete-place-modal" data-toggle="modal" class="btn bns-danger btn-24 medium-return delete-item">
							<span class="icons-24 delete-icon"></span>
							<strong>Supprimer</strong><br>le lieu
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="container-sidebar" id="gps-sidebar">
		<div class="section active">
			Lieu
			<span class="shadow-section"></span>
		</div>
		<div class="title-container">
			<div class="content-title">
				<ul>
					<li>
						<a class="gps-place-switch switchable {{ place.isActive ? "" : "off" }}" data-place-id={{ place.id }}>
							Lieu visible
							<span class="btn-switch"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}

	<div class="item visualisation">
		<div class="header">
			<h3>{{ place.label }} <small>{{ place.address }}</small></h3>
		</div>
		<div class="footer">
			Créé {{ date_from_now(place.createdAt, false, true) }} dans la catégorie {{ place.getGpsCategory.label }}
		</div>

		{% if place.description != "" %}

			<div class="text">
				<p>{{ place.description }}</p>
			</div>

			<div class="footer"></div>

		{% endif %}

		<div class="text">
			{{ vichgeo_map_for('front_map', place) }}
		</div>
	</div>

    {{ modal('delete-place-modal', {
        'title': 'Supprimer un lieu',
        'body_template': {'template': 'BNSAppGPSBundle:Modal:delete_place_body.html.twig', 'values': {
                'place': place,
        } },
        'footer_template': {'template': 'BNSAppGPSBundle:Modal:delete_place_footer.html.twig', 'values': {
                'place': place} },
        'type': 'error'
    }) }}

{% endblock %}
