{% trans_default_domain "GPS" %}
{% extends 'BNSAppGPSBundle:Back:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block action_bar %}
  {{ components.button_nav('LINK_RETURN_TO_LIST' | trans, { href: path('BNSAppGPSBundle_back'), back: true } ) }}

  {{ components.button( 'LINK_PLACE_EDIT' | trans , { href: path('BNSAppGPSBundle_back_edit_place', { 'slug' : place.getSlug() }), icon: 'mode_edit', raised: true }) }}

  {{ components.button('LINK_PLACE_DELETE'|trans, {
    intent: 'warn',
    icon: 'delete',
    raised: true,
    click: "dialog.show({templateUrl: 'delete-dialog.html', targetEvent: $event})"
  }) }}

{% endblock %}

{% block sidebar_content %}
  <section class="current">
      {{ components.button( 'TITLE_PLACE' | trans , { inactive: true, icon: 'place' }) }}
  </section>

{% endblock %}

{% block body_content %}
  <md-toolbar class="content-toolbar">
    <div class="md-toolbar-tools layout-align-start-center">
      <bns-sidebar-toggle></bns-sidebar-toggle>
      <h1 class="md-title text-primary">{% trans%}TITLE_PLACE{% endtrans %}</h1>
    </div>
  </md-toolbar>

  <md-content class="item-list-container layout-column flex">

    <div class="item visualisation">
      <div class="md-padding">
        <div class="header">
          <h3><span class="md-title">{{ place.label }}</span><small>- {{ place.address }}</small></h3>
        </div>
        <div class="footer">
          <p class="md-body-1">  {{ 'CREATE_AT_IN_CATEGORY'|trans({'%date%': date_from_now(place.createdAt, false, true), '%category%': place.getGpsCategory.label |escape}) |desc('Crée %date% dans la catégorie %category%') |raw }}
          </p>
        </div>
      </div>

      <div class="md-padding">
        {% if place.description != "" %}
          <div class="text">
            {{ place.description }}
          </div>
        {% endif %}

        <div class="text">
          {{ vichgeo_map_for('front_map', place) }}
        </div>
      </div>
    </div>

  <script type="text/ng-template" id="delete-dialog.html">
    <md-dialog class="bns-dialog bns-dialog-warn bns-jim-tool">
      <md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
            <h2 class="md-headline text-warn">{% trans %}MODAL_DELETE_PLACE{% endtrans %}</h2>
            <p>
              {{ 'TITLE_SURE_TO_DELETE_PLACE'|trans({'%place%': place.label |escape}) |desc('Êtes-vous sûr de vouloir supprimer le lieu <strong>"%place%"</strong>  ?') |raw}}
            </p>
      </md-dialog-content>
      <md-dialog-actions>
        {{ components.button( 'LINK_CANCEL' | trans , { href : '#', click: 'dialog.abort()' }) }}
        {{ components.button( 'LINK_PLACE_DELETE' | trans , { href : path('BNSAppGPSBundle_back_delete_place', { 'slug' : place.getSlug() }), raised : true, intent: 'warn'}) }}
      </md-dialog-actions>
    </md-dialog>
  </script>

  </md-content>
  {% endblock %}
