{% trans_default_domain "GROUP" %}
{% extends 'BNSAppGroupBundle:Back:layout.html.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('/medias/css/jquery.jOrgChart.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('/medias/css/prettify.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('/medias/js/jquery.jOrgChart.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/medias/js/prettify.js') }}"></script>
	<script type="text/javascript" src="{{ asset('medias/js/jquery.form.js') }}"></script>
{% endblock %}

{% block sidebar %}
    {{ render(controller('BNSAppGroupBundle:Back:sidebar', {'section' : 'search'} )) }}
{% endblock sidebar %}

{% block content %}

	<div class="content-group">
					
		<h1>{{ 'TITLE_USER_SEARCH'|trans |desc('Recherche d\'utilisateurs') }}</h1>
        
        {% include 'BNSAppMainBundle:BNSAlert:index.html.twig' %} 

		<form action="{{ path('BNSAppGroupBundle_back_user_search') }}" method="post" {{ form_enctype(formUser) }} class="well form-inline">
            {{ form_widget(formUser.id,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_ID' |trans |desc('Id')}}) }}
			{{ form_widget(formUser.first_name,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_FIRSTNAME' |trans |desc('Prénom')}}) }}
			{{ form_widget(formUser.last_name,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_LASTNAME' |trans |desc('Nom')}}) }}
			{{ form_widget(formUser.username,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_LOGIN' |trans |desc('Login')}}) }}
			{{ form_widget(formUser.email,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_EMAIL' |trans |desc('Email')}}) }}
			{{ form_widget(formUser.with_archived,{ 'attr': {'class': 'input-small'}}) }} {{ form_label(formUser.with_archived, 'LABEL_PLUS_ARCHIVED' |trans |desc('+ Archivés')) }}
            {{ form_rest(formUser) }}
			<input type="submit" value="{{ 'LINK_SEARCH'|trans }}" class="btn-success"/>

		 </form>
		
		<h1>{{ 'TITLE_SEARCH_GROUP'|trans |desc('Recherche de groupes') }}</h1>

		<form action="{{ path('BNSAppGroupBundle_group_search') }}" method="post" {{ form_enctype(formGroup) }} class="well form-inline">

			{{ form_widget(formGroup.label,{ 'attr': {'class': 'input-small','placeholder': "PLACEHOLDER_LASTNAME"|trans }}) }}
			{{ form_widget(formGroup.groupType,{ 'attr': {'class': 'input-small','placeholder': 'PLACEHOLDER_TYPE_GROUP'|trans |desc('Type de groupe')}}) }}

			<input type="submit" value="{{ 'INPUT_SEARCH'|trans |desc('Rechercher') }}" class="btn-success"/>
		 </form>
        
        {% if(has_right('SCHOOL_ASSIGNMENT')) %}
        
        <h1>{{ 'TITLE_ASSIGN_USER'|trans |desc('Affecter des utilisateurs') }}</h1>

            <form action="{{ path('BNSAppGroupBundle_group_user_assignment') }}" method="post" {{ form_enctype(formAssignment) }} class="well form-inline">

                {{ form_widget(formAssignment.uai,{ 'attr': {'class': 'input','placeholder': 'PLACEHOLDER_START_SCHOOL_UAI' |trans |desc("Uai de l'école de départ")}}) }}
                {{ form_widget(formAssignment.uaiTarget,{ 'attr': {'class': 'input','placeholder': 'PLACEHOLDER_TARGET_SCHOOL_UAI' |trans |desc("Uai de l'école cible")}}) }}

                <input type="submit" value="{{ 'TITLE_ASSIGN_USER'|trans |desc('Affecter des utilisateurs') }}" class="btn-success"/>
            </form>
        
        {% endif %}
		
	</div>

{% endblock %}
