{% extends 'BNSAppMainBundle:App:base.html.twig' %}

{% set user = user|default(app.user) %}

{% set app_unique_name = 'PROFILE' %}
{% set app_mode = 'back' %}
{% trans_default_domain "PROFILE" %}
{% block title %}
	{% if user.getId() != app.user.id %} {{ 'TITLE_PROFILE_OF_USER'|trans({'%userFullName%': user.getFullName()}) |desc('Profile de %userFullName%') }} {% else %}{% trans %}TITLE_PROFILE{% endtrans %}{% endif %} -
{% endblock %}
{% block body_attr %}{{ parent() }} data-app="{{ app_unique_name }}" data-mode="{{ app_mode }}"{% endblock %}
{% block body_class %}{{ parent() }} module-profile module-back back{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/medias/js/profile/profile-back.js') }}"></script>
{% endblock %}
{% block actionbar_content %}
	<div class="header-buttons">
		{{ block('actionbar_content') }}
	</div>
{% endblock actionbar_content %}
{% block content %}
	<md-content class="bns-content-inner">
		{{ block('content') }}
	</md-content>
{% endblock %}
