{% extends '::base.html.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('/medias/css/logon/front.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('/medias/css/logon/front-bordeaux.css') }}" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('medias/js/main/logon.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="background-login"></div>
	<div class="container-fluid container">
		<div class="container-logon">
			<div class="row-fluid">
				<div class="span12">
					<div class="header-login">
						<img class="logo" src="{{ asset('/medias/images/logon/logo-beneylu-school.png') }}" alt="BeneyluSchool" />
						<h1><span>Bienvenue sur </span><br /> TICeduc</h1>
                        <img class="content-connection" src="{{ asset('/medias/images/logon/vignette.png') }}"/>
                        <div class="fanion-text">Connecte-toi pour avoir accès à TICeduc</div>
						<div class="rope left"></div>
						<div class="rope right"></div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<div class="content-login">
						<div class="intro-login">
							<p>
								L'espace numérique de travail pour Bassens, Blanquefort, Bordeaux, Bruges, Le Bouscat, Mérignac, Pessac, Saint-Médard en Jalles et Villenave d'Omon.
							</p>
						</div>
						<div class="logos">
							<img src="{{ asset('/medias/images/logon/bordeaux/BASSENS.jpg') }}" alt="" style="width: 140px;" />
							<img src="{{ asset('/medias/images/logon/bordeaux/BLANQUEFORT.jpg') }}" alt="" style="width: 120px;" />
							<img src="{{ asset('/medias/images/logon/bordeaux/bordeaux-ok.jpg') }}" alt="" style="width: 80px;" />
							<img src="{{ asset('/medias/images/logon/bordeaux/BRUGES.jpg') }}" alt="" />
							<img src="{{ asset('/medias/images/logon/bordeaux/lebouscat.jpg') }}" alt="" />
							<img src="{{ asset('/medias/images/logon/bordeaux/logoMerignac.png') }}" alt="" style="width: 280px;" />
							<img src="{{ asset('/medias/images/logon/bordeaux/PESSAC.jpg') }}" alt="" style="width: 80px;" />
							<img src="{{ asset('/medias/images/logon/bordeaux/SAINTMEDARDENJALLESBLEU.jpg') }}" alt="" />
							<img src="{{ asset('/medias/images/logon/bordeaux/VILLENAVEDORNON.jpg') }}" alt="" /><br />
							<img src="{{ asset('/medias/images/logon/bordeaux/logo-DSDEN33-2013-gris.jpg') }}" alt="" style="width: 120px;" />
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="content-logon">
						<iframe id="logon-iframe" src="{{ redirectUrl }}" width="100%" scrolling="auto" marginheight="0" marginwidth="0" frameborder="0">
							Votre navigateur ne semble pas compatible
						</iframe>
						
						<div class="browser-error" style="display: none">
							<h3>Votre navigateur ne semble pas à jour</h3>
							<h4>Vous pouvez le mettre à jour en cliquant sur les liens ci-dessous.</h4>
							<div class="browser-list">
								<a href="https://www.google.com/intl/fr/chrome/browser/" target="_blank">
									<img class="browser" src="{{ asset('/medias/images/logon/chrome.png') }}" alt="Google Chrome" >
								</a>
								<a href="http://www.mozilla.org/fr/firefox/new/" target="_blank">
									<img class="browser" src="{{ asset('/medias/images/logon/firefox.png') }}" alt="Mozilla Firefox" >
								</a>
								<a href="http://www.apple.com/fr/safari/" target="_blank">
									<img class="browser" src="{{ asset('/medias/images/logon/safari.png') }}" alt="Apple Safari" >
								</a>
								<a href="http://windows.microsoft.com/fr-FR/internet-explorer/products/ie/home" target="_blank">
									<img class="browser" src="{{ asset('/medias/images/logon/internet-explorer.png') }}" alt="Microsoft Internet Explorer" >
								</a>
							</div>
						</div>
						<div class="password-forget">
							<a href="{{ path('user_password_reset') }}">Mot de passe oublié ?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-logon">
			{% include "BNSAppMainBundle:Logon:footer_links.html.twig" %}
		</div>
	</div>
{% endblock body %}