{% trans_default_domain "COMMENT" %}

{% if (pager.getLastPage() > 1) %}
	<md-toolbar class="content-toolbar">
		<div class="md-toolbar-tools layout-align-center-center">
			<div class="pagination" data-status="{{ status }}" data-current-page="{{ pager.getPage() }}">
				<ul>
					{% if (pager.getPage() > pager.getFirstPage()) %}
						<li><a class="article-pager" href="{{ path('comment_manager_load') }}" data-page="{{ pager.getPreviousPage() }}">←</a></li>
					{% else %}
						<li class="disabled"><a href="#" onclick="return false;">←</a></li>
					{% endif %}

					{% for i in range(pager.getFirstPage(), pager.getLastPage()) %}
						<li{% if (pager.getPage() == i) %} class="active"{% endif %}><a class="article-pager" href="{{ path('comment_manager_load') }}" data-page="{{ i }}">{{ i }}</a></li>
					{% endfor %}

					{% if (pager.getPage() < pager.getLastPage()) %}
						<li><a class="article-pager" href="{{ path('comment_manager_load') }}" data-page="{{ pager.getNextPage() }}">→</a></li>
					{% else %}
						<li class="disabled"><a href="#" onclick="return false;">→</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</md-toolbar>
{% endif %}
