{% trans_default_domain "MAIN" %}
<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
     {% if currentGroup is not null %}{{ 'TITLE_SELECT_USER_TO'|trans({'%group%': currentGroup.getLabel() |escape}) |desc('<h3>Sélection d\'utilisateur pour %group%</h3>') |raw }}
    {% else %}
        {{ 'TITLE_SELECT_USER'|trans |desc('<h3>Sélection d\'utilisateur</h3>') |raw }}{% endif %}
</div>

<div class="modal-body">
    
    <div class="alert alert-success">
        <div class="modal-user-container">
            {% if currentGroup is not null %}
                {% for user in currentGroup.getUsers() %}
                    <button class="btn btn-danger user-{{ user.getId() }} btn-large modal-btn-remove-user">{{ user.getFullName() }}</button>
                {% else %}
                    <p>{{ 'NO_USER_IN_THIS_GROUP'|trans |desc('Aucun utilisateur dans le groupe pour le moment.') }}</p>
                {% endfor %}
            {% else %}
                <p>{{ 'NO_USER_IN_THIS_GROUP'|trans }}</p>
            {% endif %}
        </div>
    </div>   
    
    <div class="tabbable"> 
        <ul class="nav nav-tabs">
            {% for groupContext in groupsContext %}
                <li{% if loop.first %} class="active"{% endif %}><a href="#{{ groupContext.getSlug() }}-tab" data-toggle="tab">{{ groupContext.getLabel() }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for groupContext in groupsContext %}
                <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ groupContext.getSlug() }}-tab">
                    {% include 'BNSAppMainBundle:UserPicker:subgroup_tab.html.twig' with  { 'groupContext': groupContext } %}
                </div>
            {% endfor %}
        </div>
    </div>        
</div>
<div class="modal-footer">
    <img src="{{ asset('/medias/images/icons/loading.gif') }}" class="loading" />
    <a href="#" class="btn btn-primary btn-confirm">{{ 'LINK_CONFIRM'|trans |desc('Confirmer') }}</a>
    <a href="#" class="btn" data-dismiss="modal">{{ 'LINK_CLOSE'|trans |desc('Fermer') }}</a>
</div>

<script type="text/javascript">
    initUserButtonStatus();
</script>