{% trans_default_domain "MAIN" %}
{# On vérifie si le groupe a des sous-groupes ou non #}
{% if groupContext.getSubgroups()|length > 0 %}
    <ul class="nav nav-tabs">
        <li{% if loop.first %} class="active"{% endif %}><a href="#{{ groupContext.getSlug() }}-all-tab" data-toggle="tab">{{ 'LINK_ALL'|trans |desc('Tous') }}</a></li>
        {% for subgroup in groupContext.getSubgroups() %}
            <li><a href="#{{ subgroup.getSlug() }}-tab" data-toggle="tab">{{ subgroup.getLabel() }}</a></li>
        {% endfor %}
    </ul>
    
     <div class="tab-content">
        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ groupContext.getSlug() }}-all-tab">
            <p>
                {% for user in groupContext.getUsers() %}
                    <button class="btn btn-success user-{{ user.getId() }} btn-large modal-btn-add-user">{{ user.getFullName() }}</button>
                {% else %}
                    <p>{{ 'NO_USER_IN_THIS_GROUP'|trans }}</p>
                {% endfor %}
            </p>
        </div>
        {% for subgroup in groupContext.getSubgroups() %}
            <div class="tab-pane" id="{{ subgroup.getSlug() }}-tab">
                {% include 'BNSAppMainBundle:UserPicker:subgroup_tab.html.twig' with  { 'groupContext': subgroup } %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>
        {% for user in groupContext.getUsers() %}
            <button class="btn btn-success user-{{ user.getId() }} btn-large modal-btn-add-user">{{ user.getFullName() }}</button>
        {% else %}
            <p>{{ 'NO_USER_IN_THIS_GROUP'|trans }}</p>
        {% endfor %}
    </p>
{% endif %}
