{# On étend forcément base.html.twig #}
{% trans_default_domain "MESSAGING" %}
{% extends '::base_manager.html.twig' %}

{% block title %}{{ 'TITLE_MESSAGING_MANAGEMENT'|trans }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ asset('/medias/css/messaging/front.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/medias/css/messaging/ajaxdisabled.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/medias/css/messaging/jtags.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
        
{% block javascripts %}	
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/medias/js/messaging/Back/layout.js') }}"></script>	
{% endblock %}	

    
{% block body %}
<div class="ajaxLoad"><!-- Disabled while ajax load --></div>
{% include "BNSAppMessagingBundle:Back:header.html.twig" %}
{% include "BNSAppMessagingBundle:Back:sidebar.html.twig" %}

{% block content %}{% endblock %}
{% endblock %}
        
{% block dock_bar %}
	{{ render(controller('BNSAppMainBundle:DockBar:index', {'module_unique_name' : 'MESSAGING' , 'is_in_front' : false } )) }}
{% endblock %}
