{% trans_default_domain "GROUP" %}
{% extends '::base.html.twig' %}

{% set app_unique_name = 'GROUP' %}
{% set app_mode = 'front' %}

{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

{% block title %}{{ 'TITLE_GROUP'|trans |desc('Groupe') }}{% endblock %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('/medias/css/group/front.css') }}" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
	{% block content %}
		{{ components.toasts(app.session.flashbag.all) }}
		{% if noClassroomForTeacher %}
			{% include 'BNSAppMainBundle:Logon:no_classroom_for_teacher.html.twig' with {school: mySchool} %}
		{% endif %}

        <div class="background-group {{ group.groupType.type | lower }} {{ graphicChart ? graphicChart.name : null }}">
            <div class="board {{ group.groupType.type | lower }}">
                <div class="message">
                    <p>{{ group_name }}</p>
                    <div class="border"></div>
                    <p>{{ group_home_message }}</p>
                </div>
            </div>
        </div>

	{% endblock %}
{% endblock %}
