{% trans_default_domain "PROFILE" %}
<div class="title-container">
  <div class="title active border-blue">{% trans %}FILTER_BY_STATE{% endtrans %}<span class="square icon-arrow"></span></div>
	<div class="content-title">
		<ul>
			<li>
				<a class="statuses-sidebar-filter active" data-filter-status="PENDING_VALIDATION" href="{{ path('profile_manager_moderation_statuses_load') }}">
					<img src="{{ asset('/medias/images/icons/correction_small.png') }}">
          {% trans %}LINK_STATUS_IN_MODERATION{% endtrans %}
				</a>
			</li>
			<li>
				<a class="statuses-sidebar-filter" data-filter-status="VALIDATED" href="{{ path('profile_manager_moderation_statuses_load') }}">
					<img src="{{ asset('/medias/images/icons/valid_small.png') }}">
          {% trans %}LINK_STATUS_PUBLISH{% endtrans %}
				</a>
			</li>
			<li>
				<a class="statuses-sidebar-filter" data-filter-status="REFUSED" href="{{ path('profile_manager_moderation_statuses_load') }}">
					<img src="{{ asset('/medias/images/icons/refused_small.png') }}">
          {% trans %}LINK_STATUS_DENY{% endtrans %}
				</a>
			</li>
		</ul>
	</div>
</div>
