{% trans_default_domain "NOTIFICATION" %}

{% extends 'BNSAppNotificationBundle:Layout:manager.html.twig' %}

{% block content %}
<div class="container-notification">
	{% if is_adult() and app.user.email is empty %}
		<div class="alert bns-alert alert-info">
			{{ 'GET_NOTIFICATION_NEED_YOUR_EMAIL' |trans({
                '%linkStart%': '<a href="'~ path('BNSAppProfileBundle_back') ~'">',
                '%linkEnd%': '</a>'
            }) |desc('<strong>Le saviez-vous :</strong> pour recevoir vos notifications par e-mail, vous devez renseigner votre adresse sur votre <strong>%linkStart% profil %linkEnd% </strong>.') |raw }}
			<div class="jim"></div>
		</div>
	{% endif %}
	<table class="title">
		<tr>
			<td width="40%">
				<div class="new-title">
					<h1 class="dashboard">{{ 'TITLE_NOTIFICATION_MANAGEMENT'|trans |desc('Gestion des notifications') }}</h1>
				</div>
			</td>
			<td width="25%">
				<img src="{{ asset('/medias/images/notification/system.png') }}" alt="" /><br />
				{{ 'NOTIFICATION_BENEYLU'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) |desc('Notifications %beneylu_brand_name%') }}
			</td>
			{% if is_adult() %}
				<td width="25%">
					<img src="{{ asset('/medias/images/notification/email.png') }}" alt="" /><br />
					{{ 'EMAIL_NOTIFICATION'|trans |desc('Notifications e-mail') }}
				</td>
			{% endif %}
			<td width="10%"></td>
		</tr>
	</table>
	
	{# PERSONNAL MODULES #}
	{% if personnalModules|length > 0 %}
		<div class="content-group">
			<div class="color-group"></div>
			<table border="0" id="group-personnal">
				<tbody>
					<tr class="header-tab-group">
						<td class="group-name">
							{{ 'MINE_MODULE'|trans |desc('Mes modules') }}
						</td>
						<td width="25%" class="td-center">
							<a href="{{ path('notification_manager_switch_group', {'contextGroupId': 'personnal', 'engine': 'SYSTEM'}) }}" data-group-id="personnal" data-engine="system" class="activable title system btn {% if not settings.isUserActivated('personnal', personnalModules, app.user.id, 'SYSTEM') %}btn-danger desactivated{% endif %}">
								{% if not settings.isUserActivated('personnal', personnalModules, app.user.id, 'SYSTEM') %}
									{{ 'LINK_ALL_SELECT'|trans |desc('Tout sélectionner') }}
								{% else %}
                                    {{ 'LINK_ALL_DESELECT'|trans |desc('Tout désélectionner') }}
								{% endif %}
							</a>
						</td>
						{% if is_adult() %}
							<td width="25%" class="td-center">
								<a href="{{ path('notification_manager_switch_group', {'contextGroupId': 'personnal', 'engine': 'EMAIL'}) }}" data-group-id="personnal" data-engine="email" class="activable title email btn {% if not settings.isUserActivated('personnal', personnalModules, app.user.id, 'EMAIL') %}btn-danger desactivated{% endif %}">
									{% if not settings.isUserActivated('personnal', personnalModules, app.user.id, 'EMAIL') %}
                                        {{ 'LINK_ALL_SELECT'|trans |desc('Tout sélectionner') }}
                                    {% else %}
                                        {{ 'LINK_ALL_DESELECT'|trans |desc('Tout désélectionner') }}
									{% endif %}
								</a>
							</td>
						{% endif %}
						<td width="10%" class="collapse">
						</td>
					</tr>
					{# MODULES #}
					{% for module in personnalModules %}
						<tr class="tab-module">
							<td>
								{{ module.getLabel() }}
							</td>
							<td class="td-center">
								<a href="{{ path('notification_manager_switch', {'contextGroupId': 'personnal', 'engine': 'SYSTEM', 'moduleUniqueName': module.getUniqueName()}) }}" data-group-id="personnal" data-engine="system" class="activable system btn-module {% if not settings.isModuleForUserActivated('personnal', app.user.id, module.getUniqueName(), 'SYSTEM') %}desactivated{% endif %}">&nbsp;</a>
							</td>
							{% if is_adult() %}
								<td class="td-center">
									<a href="{{ path('notification_manager_switch', {'contextGroupId': 'personnal', 'engine': 'EMAIL', 'moduleUniqueName': module.getUniqueName()}) }}" data-group-id="personnal" data-engine="email" class="activable email btn-module {% if not settings.isModuleForUserActivated('personnal', app.user.id, module.getUniqueName(), 'EMAIL') %}desactivated{% endif %}">&nbsp;</a>
								</td>
							{% endif %}
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
		
	{# GROUP #}
	{% if userGroups|length > 0 %}
		{% for group in userGroups %}
			<div class="content-group">
				<div class="color-group"></div>
				<table border="0" id="group-{{ group.getId() }}">
					<tbody>
						<tr class="header-tab-group">
							<td class="group-name">
								{{ group.getLabel() }}
							</td>
							<td width="25%" class="td-center">
								<a href="{{ path('notification_manager_switch_group', {'contextGroupId': group.getId(), 'engine': 'SYSTEM'}) }}" data-group-id="{{ group.getId() }}" data-engine="system" class="activable title system btn {% if not settings.isUserActivated(group.getId(), group.getGroupType().getModules(true), app.user.id, 'SYSTEM') %}btn-danger desactivated{% endif %}">
									{% if not settings.isUserActivated(group.getId(), group.getGroupType().getModules(true), app.user.id, 'SYSTEM') %}
                                        {{ 'LINK_ALL_SELECT'|trans |desc('Tout sélectionner') }}
                                    {% else %}
                                        {{ 'LINK_ALL_DESELECT'|trans |desc('Tout désélectionner') }}
									{% endif %}
								</a>
							</td>
							{% if is_adult() %}
								<td width="25%" class="td-center">
									<a href="{{ path('notification_manager_switch_group', {'contextGroupId': group.getId(), 'engine': 'EMAIL'}) }}" data-group-id="{{ group.getId() }}" data-engine="email" class="activable title email btn {% if not settings.isUserActivated(group.getId(), group.getGroupType().getModules(true), app.user.id, 'EMAIL') %}btn-danger desactivated{% endif %}">
										{% if not settings.isUserActivated(group.getId(), group.getGroupType().getModules(true), app.user.id, 'EMAIL') %}
                                            {{ 'LINK_ALL_SELECT'|trans |desc('Tout sélectionner') }}
                                        {% else %}
                                            {{ 'LINK_ALL_DESELECT'|trans |desc('Tout désélectionner') }}
										{% endif %}
									</a>
								</td>
							{% endif %}
							<td width="10%" class="collapse">
							</td>
						</tr>
						{# MODULES #}
						{% for module in group.getGroupType().getModules(true) %}
							<tr class="tab-module">
								<td>
									{{ module.getLabel() }}
								</td>
								<td class="td-center">
									<a href="{{ path('notification_manager_switch', {'contextGroupId': group.getId(), 'engine': 'SYSTEM', 'moduleUniqueName': module.getUniqueName()}) }}" data-group-id="{{ group.getId() }}" data-engine="system" class="activable system btn-module {% if not settings.isModuleForUserActivated(group.getId(), app.user.id, module.getUniqueName(), 'SYSTEM') %}desactivated{% endif %}">&nbsp;</a>
								</td>
								{% if is_adult() %}
									<td class="td-center">
										<a href="{{ path('notification_manager_switch', {'contextGroupId': group.getId(), 'engine': 'EMAIL', 'moduleUniqueName': module.getUniqueName()}) }}" data-group-id="{{ group.getId() }}" data-engine="email" class="activable email btn-module {% if not settings.isModuleForUserActivated(group.getId(), app.user.id, module.getUniqueName(), 'EMAIL') %}desactivated{% endif %}">&nbsp;</a>
									</td>
								{% endif %}
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}