{% trans_default_domain "MINISITE" %}
<div class="widget" id="widget-{{ widget.getId() }}" data-input-names="title,{{ widget.getPropertiesAsString() }},_token" data-id="{{ widget.getId() }}">
	{% block widget_loader %}
		<div class="loader loader-sb"></div>
	{% endblock widget_loader %}
	{% block widget_header %}
		<div class="header">
      <p>{{ widget.getMiniSiteWidgetTemplate().getLabel() }}</p>

      <a class="widget-delete" id="delete-widget-{{ widget.getId() }}" href="#" data-toggle="modal" data-target="#delete-widget-modal" >

        <md-icon class="material-icons">close</md-icon>


      </a>
		</div>
	{% endblock widget_header %}

	{% block widget_container %}
		<div class="widget-content">
      {{ form_widget(form.title, {'attr': {'placeholder': 'PLACEHOLDER_TITLE_WIDGET' |trans } }) }}
			{% block widget_content %}
				Add my content please!
			{% endblock widget_content %}
			{% block widget_errors %}
				<div class="alert alert-danger bns-alert hide">
					<span class="message"></span>
		</div>
			{% endblock widget_errors %}
		</div>
	{% endblock widget_container %}

	{% block widget_footer %}
		<div class="footer">
			{% block widget_buttons %}


				<a href="#" class="widget-validate bns-sucess md-accent md-raised md-button md-ink-ripple" id="submit-widget-{{ widget.getId() }}">
          <md-icon class="material-icons">done</md-icon>
					<span>{% trans %}LINK_VALIDATE{% endtrans %}</span>
				</a>
			{% endblock widget_buttons %}
		</div>
	{% endblock widget_footer %}
</div>
