{% trans_default_domain "MINISITE" %}
{% extends 'BNSAppMiniSiteBundle:Layout:back_widget.html.twig' %}

{% block widget_content %}
			<label for="{{ form.rss_url.vars.id }}">{% trans %}FLUX_RSS{% endtrans %}</label>
      {{ form_widget(form.rss_url) }}
      <label for="{{ form.limit.vars.id }}">{% trans %}NUMBER_FLUX_TO_DISPLAY{% endtrans %}</label>
      {{ form_widget(form.limit) }}


	{{ form_rest(form) }}
{% endblock %}
