{% trans_default_domain "NOTIFICATION" %}

<div class="notification-block">
	<ul>
		<li class="active">
			<a href="{{ path('notification_render') }}">
				<img src="{{ asset('/medias/images/icons/group_context/environment/medium.png') }}" alt="">
				{{ 'LINK_SEE_ALL'|trans |desc('Voir tout') }}
				{% if totalUnreadNotifications > 0 %}
					<div class="count-notification all">
						{{ totalUnreadNotifications }}
					</div>
				{% endif %}
			</a>
			<div class="border-sidebar"></div>
		</li>
		<li>
			<a href="{{ path('notification_render_announcements') }}">
				<img src="{{ asset('/medias/images/icons/group_context/environment/medium.png') }}" alt="">
				{% trans from 'INFO' %}TITLE_ANNOUNCEMENT{% endtrans %}
				{% set count = unreadNotifications.getAnnouncementCount() %}
				{% if count > 0 %}
					<div class="count-notification announcements">
						{{ count }}
					</div>
				{% endif %}
			</a>
			<div class="border-sidebar"></div>
		</li>
		<li>
			<a href="{{ path('notification_render_correction') }}">
				<img src="{{ asset('/medias/images/icons/group_context/environment/medium.png') }}" alt="">
				{{ 'LINK_MY_CORRECTION'|trans |desc('Mes corrections') }}
			</a>
			<div class="border-sidebar"></div>
		</li>
		{% if settings.isPersonnalModulesEnabled(personnalModules) %}
			<li>
				<a href="{{ path('notification_render_group', {'contextGroupId': 'personnal'}) }}">
					<img src="{{ asset('/medias/images/icons/group_context/environment/medium.png') }}" alt="">
					{{ 'LINK_MINE_MODULE'|trans |desc('Mes modules') }}
				</a>
				<ul>
					{% for module in personnalModules %}
						{% if settings.isModuleEnabled('personnal', module) %}
							<li>
								<a class="module-row" href="{{ path('notification_render_group_module', {'contextGroupId': 'personnal', 'moduleUniqueName': module.getUniqueName()|lower}) }}">
									<img src="{{ asset ('/medias/images/icons/modules/' ~ module.getUniqueName()|lower ~ '/medium.png') }}" alt="" />
									{{ module.getLabel() }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="border-sidebar"></div>
			</li>
		{% endif %}
		{% for group in userGroups %}
			{% if settings.isGroupEnabled(group, true) %}
				<li>
					<a href="{{ path('notification_render_group', {'contextGroupId': group.getId()}) }}">
						<img src="{{ asset('/medias/images/icons/group_context/' ~ group.getGroupType.getType|lower ~ '/medium.png') }}" alt="">
						{{ group.getLabel() }}
					</a>
					<ul>
						{% for module in group.getGroupType().getModules(true) %}
							{% if settings.isModuleEnabled(group.getId(), module) %}
								<li>
									<a class="module-row" href="{{ path('notification_render_group_module', {'contextGroupId': group.getId(), 'moduleUniqueName': module.getUniqueName()|lower}) }}">
										<img src="{{ asset ('/medias/images/icons/modules/' ~ module.getUniqueName()|lower ~ '/medium.png') }}" alt="" />
										{{ module.getLabel() }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="border-sidebar"></div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
