{% trans_default_domain "PROFILE" %}
{% extends 'BNSAppProfileBundle:Layout:manager.html.twig' %}

{% block title %}
  {{ parent() }} {% trans %}TITLE_EDIT_PROFILE{% endtrans %}
{% endblock title %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    $(function () {
      if ($('.alert-success').length > 0) {
        setTimeout(function () {
          $('.alert-success').slideUp('fast');
        }, 8000);
      }
    });
  </script>
{% endblock javascripts %}

{% block actionbar_content %}
  {% if user.getId() != app.user.getId() %}
    {{ components.button( 'BACK_TO_PUPIL_CARD' | trans , { intent: 'accent', href: path('BNSAppClassroomBundle_back_pupil_detail', {'userSlug': user.getSlug()}), icon: 'done', raised: true, attr : {'class':'button-return'} }) }}
    <span flex></span>
    {{ components.button( 'LINK_I_FINISHED' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class':'submit-profile'} }) }}
  {% else %}
    {# Pour les adultes venant juste mettre à jour leur compte, bouton retour à la page d'accueil de l'Espace de travail #}
    {% if not has_right('PROFILE_ACCESS_BACK') %}
      {{ components.button( 'BACK_TO_PUPIL_CARD' | trans , { intent: 'accent', href: path('home'), icon: 'done', raised: true, attr : {'class':'button-return'} }) }}
      <span flex></span>
      {{ components.button( 'LINK_SAVE' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class':'submit-profile'} }) }}
    {% else %}
      <span flex></span>
      {{ components.button( 'LINK_SAVE' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class':'submit-profile'} }) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block sidebar_content %}
  {% if user.getId() != app.user.getId() %}
    {% include "BNSAppClassroomBundle:Sidebar:sidebar.html.twig" with {'page': 'classroom', 'section': 'users'} %}
  {% else %}
    {% include 'BNSAppProfileBundle:Sidebar:sidebar.html.twig' with {'section': 'home', 'profile': user.getProfile()} %}
  {% endif %}
{% endblock sidebar_content %}

{% block content %}
  <md-toolbar class="content-toolbar">
    <div class="md-toolbar-tools layout-align-start-center text-left">
      <bns-sidebar-toggle></bns-sidebar-toggle>
      <h1 class="md-title text-primary">{{ user.firstName }} {{ user.lastName }}</h1>
      <span class="md-body-1">
        {% if user.getPreviousConnection() %}
          {{ 'PREVIOUS_CONNECTION'|trans({
            '%date%': user.getPreviousConnection()|date_bns('none', 'none', 'd LLLL'),
            '%time%': user.getPreviousConnection()|date_bns('none', 'short'),
          }, 'PROFILE') }}
        {% else %}
          {{ ((is_adult()?'ADULT':'CHILD')~'_FIRST_CONNECTION')|trans({
            '%firstname%': user.getFirstName(),
          }, 'PROFILE') }}
        {% endif %}
      </span>
    </div>
  </md-toolbar>
  {% if is_adult() %}
    <div class="alert bns-alert alert-info layout-margin">
        {{ 'NOTIFICATIONS_LINK' |trans({
                  '%linkStart%': '<a href="'~ path('BNSAppNotificationBundle_back') ~'">',
                  '%linkEnd%': '</a>'
              }) |desc('<strong>Le saviez-vous:</strong> une fois votre e-mail renseigné, vous pouvez personnaliser les <strong>%linkStart% notifications%linkEnd%</strong>.') |raw }}
        <div class="jim"></div>
    </div>
  {% endif %}
  <md-content class="layout-padding">
    <div class="container-profile-description">
      {{ form_start(form, {action: path('BNSAppProfileBundle_back_save', {'userSlug': user.getSlug()}), attr:{id:"save-profile" } }) }}
      {{ form_errors(form) }}
      <div class="layout-gt-sm-row">
        <div class="layout-column layout-align-start-center avatar-container {% if isChild %}child-avatar{% endif %}" >
          <input type="hidden" id="default-avatar" value="{{ avatar(user, 'small', true) }}"/>

          <div id="resource-selection-callback">
            <img src="{{ avatar(user, 'small') }}" class="bns-avatar size-128"/>
          </div>

          {% if user.getId() == app.user.getId() %}
            {% set button_label = 'BUTTON_CHOOSE_AVATAR'|trans %}
            {% set button_delete_label = 'BUTTON_DELETE_AVATAR'|trans %}
          {% else %}
            {% set button_label = "BUTTON_CHANGE_AVATAR"|trans %}
            {% set button_delete_label = "BUTTON_DELETE_AVATAR"|trans %}
          {% endif %}

          {% include 'BNSAppMediaLibraryBundle:Front:selection.html.twig' with {
            'label' : button_label,
            'label_delete' : button_delete_label,
            'input_id': 'profile_form_avatarId',
            'allowed_type': 'IMAGE',
            'name': form.avatarId.vars.full_name,
            'callback': 'resource-selection-callback',
            'with_cancel': true,
            'current_src': avatar(user, 'small'),
            'default_src': avatar(user, 'small',true),
            'current_value': form.avatarId.vars.value
          } %}
        </div>
        <div class="flex layout-column layout-align-center-start layout-margin">
          <div class="form-profil fullname">
{% if user.getId() != app.user.getId() or not isChild %}
            <md-input-container  class="md-input-has-messages md-input-has-value"><label>{% trans %}SURNAME_NAME{% endtrans %}</label></md-input-container>
            {{ form_row(form.firstName, { 'attr': {'required md-no-asterisk' : ''} }) }}
            {{ form_row(form.lastName, { 'attr': {'required md-no-asterisk' : ''} }) }}
            {{ form_row(form.gender) }}
{% else %}
  <label>{{ user.firstName }} {{ user.lastName }}</label>
  {% if form.birthday is not defined and user.birthday != null %}
    <br>
    {% if user.id != app.user.id %}
      {{ (user.gender == 'F' ? 'BORN_WOMAN' : 'BORN_MAN') |trans }}
    {% endif %}
    <label style="font-size: 18px;">
      {{ 'LABEL_DATE_BIRTHDAY'|trans({'%date%': user.birthday | date_bns('long','none') })|desc('Le %date%') }}
    </label>
  {% endif %}
  <br>
{% endif %}
          </div>
        </div>
      </div>{# end layout row #}
      <div class="profile-general-informations-container">
{% if user.getId() != app.user.getId() or not isChild %}
        {{ form_row(form.lang) }}
        {{ form_row(form.timezone) }}
{% endif %}
        {% if form.birthday is defined %}
          {% if user.id != app.user.id %}
            <p>{{ (user.gender == 'F' ? 'BORN_WOMAN' : 'BORN_MAN') |trans }}</p>
          {% endif %}
          <label style="font-size: 18px;">{% trans %}DATE_BIRTHDAY{% endtrans %}</label>
          {{ form_row(form.birthday) }}
        {% endif %}

        <div class="clearfix"></div>
      </div>

      {% if form.email is defined %}
        {{ form_row(form.email) }}
        <span class="email-private-notice">{% trans %}EMAIL_NOT_SEEN_BY_PUPILS{% endtrans %}</span>
      {% endif %}

      {% if form.email_private is defined %}
        {{ form_row(form.email_private) }}
        {% if user.emailPrivate != null %}
          <span class="email-private-notice">{% trans %}EMAIL_USE_TO_SEND_NOTIFICATION{% endtrans %}</span>
        {% endif %}
      {% endif %}

      {% if has_right('PROFILE_FULL_ACCESS_BACK') %}
        {% if form.job is defined %}
          {{ form_row(form.job, {
            label: (user.id != app.user.id ? 'WANT_BECOME' : 'LATER_WANT_BECOME')| trans,
            row_attr: { class: 'md-input-has-placeholder' },
            required: false,
          }) }}
        {% endif %}
      <section bns-feature-flag="'profile_sdet_informations'" bns-feature-push>
          {% if form.organization is defined %}
              {{ form_row(form.organization, {
                  label: 'ORGANIZATION'|trans,
                  row_attr: { class: 'md-input-has-placeholder' },
                  required: false,
              }) }}
          {% endif %}
      </section>
        {% if form.description is defined %}
          {{ form_row(form.description, { required: false }) }}
        {% endif %}
         <section bns-feature-flag="'profile_sdet_informations'" bns-feature-push>
          {% if form.phone is defined %}
              {{ form_row(form.phone, {
                  label: 'PHONE'|trans,
                  row_attr: { class: 'md-input-has-placeholder' },
                  required: false,
                  attr: { countryCode: "FR", 'bns-libphone': ''}
              }) }}
          {% endif %}
          {% if form.address is defined %}
              {{ form_row(form.address, {
                  label: 'ADDRESS'|trans,
                  row_attr: { class: 'md-input-has-placeholder' },
                  required: false,
              }) }}
          {% endif %}
          {% if form.publicData is defined %}
              {{ form_row(form.publicData, {
                  label: 'PUBLIC_DATA'|trans
              }) }}
          {% endif %}
         </section>
        {{ form_rest(form) }}
        {{ form_end(form) }}

        {{ render(controller('BNSAppProfileBundle:Preferences:index', {'user': user, 'editable': true, 'isMyPreferences': user.id == app.user.id, 'fullwidth': 1} )) }}
      {% else %}
        {{ form_rest(form) }}
        {{ form_end(form) }}
      {% endif %}

    </div>
  </md-content>
{% endblock %}
