{% extends 'BNSAppClassroomBundle:Back:layout.html.twig' %}

{% block javascripts %}
	 {{ parent() }}
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block content %}
	<div class="content span9">
		<form action="{{ path('BNSAppClassroomBundle_back_edit', {'slug' : classroom.getSlug() }) }}" method="post" {{ form_enctype(form) }}>
			<div class="title-content">				
				{{ form_errors(form.NAME) }}
				{{ form_widget(form.NAME, { 'attr': {'class': 'field text span5'} }) }}
				<img src="{{ asset('/medias/images/common/icon/level/cm2.png') }}" alt="La classe" class="pull-right" />
				<img src="{{ asset('/medias/images/common/icon/level/cm1.png') }}" alt="La classe" class="pull-right" />
				<img src="{{ asset('/medias/images/common/icon/level/ce2.png') }}" alt="La classe" class="pull-right" />
				<img src="{{ asset('/medias/images/common/icon/level/ce1.png') }}" alt="La classe" class="pull-right" />
				<img src="{{ asset('/medias/images/common/icon/level/cp.png') }}" alt="La classe" class="pull-right" />
				<div class="clear"></div>
			</div>
			<div class="description-content-edit description-content">
				<div class="span4 img-class">
					<img src="{{ asset('/medias/images/classroom/avatar-class.png') }}" alt="L'avatar de la classe" />
					<input type="file" name="file" class="input-file">
				</div>
				<div class="span8 description-class-edit">
					<h3>Description</h3>
					{{ form_errors(form.DESCRIPTION) }}
					{{ form_widget(form.DESCRIPTION, { 'attr': {'class': 'field textarea'} }) }}

					{{ form_errors(form.LEVEL) }}
					{{ form_label(form.LEVEL) }} 
					<ul>
					{% for levelChoice in form.LEVEL %}
						<li>
							{{ form_errors(levelChoice) }}
							{{ form_widget(levelChoice) }}
							{{ form_label(levelChoice) }}
						</li>
					{% endfor %}
					</ul>

					{{ form_errors(form.LEVEL_MORE) }}
					{{ form_label(form.LEVEL_MORE) }} 
					<ul>
					{% for levelChoice in form.LEVEL_MORE %}
						<li>
							{{ form_errors(levelChoice) }}
							{{ form_widget(levelChoice) }}
							{{ form_label(levelChoice) }}
						</li>
					{% endfor %}
					</ul>

					{{ form_rest(form) }}
					<input type="submit" class="btn" value="Valider" />
				</div>
			</div>

		</form>
	</div>
{% endblock %}
{# FIXME trad
	{% include 'BNSAppClassroomBundle:NavigationBar:index.html.twig' %}
				
		<div>
			<a href="{{ path('BNSAppClassroomBundle_back_home', { 'slug' : group.getSlug() }) }}" class="btn">Back to my classroom profil</a>
		</div>
		
		<h1>{% trans %}Admin.Classroom.Edit.title{% endtrans %}</h1>
		<form action="{{ path('BNSAppClassroomBundle_back_edit', {'slug' : group.getSlug() }) }}" method="post" {{ form_enctype(form) }}>
		    <div>
			    {{ form_errors(form.NAME) }}
			    {{ form_label(form.NAME) }} 
			    {{ form_widget(form.NAME) }}
			</div>
			
			<div>
				{{ form_errors(form.DESCRIPTION) }}
			    {{ form_label(form.DESCRIPTION) }} 
			    {{ form_widget(form.DESCRIPTION) }}
			</div>
			
			<div>
				{{ form_errors(form.LEVEL) }}
			    {{ form_label(form.LEVEL) }} 
			    <ul>
			    {% for levelChoice in form.LEVEL %}
	    			<li>
		    			{{ form_errors(levelChoice) }}
		    			{{ form_widget(levelChoice) }}
	       				{{ form_label(levelChoice) }}
       				</li>
			    {% endfor %}
			    </ul>
			</div>
			
			<div>
				{{ form_errors(form.LEVEL_MORE) }}
			    {{ form_label(form.LEVEL_MORE) }} 
			    <ul>
			    {% for levelChoice in form.LEVEL_MORE %}
	    			<li>
	    				{{ form_errors(levelChoice) }}
	    				{{ form_widget(levelChoice) }}
       					{{ form_label(levelChoice) }}
       				</li>
			    {% endfor %}
			    </ul>
			</div>
			
			{{ form_rest(form) }}
			
		    <input type="submit" value="{% trans %}Admin.Classroom.Edit.button.validate{% endtrans %}" />
		</form>
{% endblock %}
#}