{% trans_default_domain "BLOG" %}
{% extends 'BNSAppBlogBundle:Layout:manager.html.twig' %}

{% block title %}
    {{ 'TITLE_COMMENT_'|trans({'%blogTitle%': blog.getTitle()}) |desc('%blogTitle% - Commentaires') }}


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    // Moderation comments
    $(function(){
      $('.moderation-comment').click(function (e)
      {
        var $this = $(e.currentTarget);
        if ($this.hasClass('loading')) {
          return false;
        }

        $this.addClass('loading');

        $.ajax({
          url: $this.attr('href'),
          success: function (data)
          {
            $this.removeClass('loading');
            $this.toggleClass('off');
          }
        });

        return false;
      });
    });

  </script>
{% endblock javascripts %}

{% block sidebar_content %}
    <section>
      {{ components.button( 'TITLE_ARTICLES' | trans , { href: path('BNSAppBlogBundle_back'), icon: 'insert_drive_file' }) }}
    </section>

      <section class="current">
        {{ include('BNSAppBlogBundle:Sidebar:sidebar_comments.html.twig') }}
        <bns-expander label="{% trans from 'COMMENT' %}FILTER_BY_STATUS{% endtrans %}" is-open="true">
        <div class="layout-column nav-list">
          {{ components.button( 'LINK_SEE_ALL_COMMENT' | trans|desc('Commentaires en modération') , {
            href: path('comment_manager_load'),
            icon :'warning',
            attr : {
              'data-filter-status':'PENDING_VALIDATION',
              'class' : 'comment-sidebar-filter md-primary'
            }
          }) }}
          {{ components.button( 'LINK_COMMENT_PUBLISH' | trans|desc('Commentaires publiés') , {
            href: path('comment_manager_load'),
            icon : 'done',
            attr : {
              'data-filter-status':'VALIDATED',
              'class' : 'comment-sidebar-filter'
            }
          }) }}
          {{ components.button( 'LINK_COMMENT_DENY' | trans|desc('Commentaires refusés') , {
            href: path('comment_manager_load'),
            icon : 'clear',
            attr : {
              'data-filter-status':'REFUSED',
              'class' : 'comment-sidebar-filter'
            }
          }) }}
        </div>
        </bns-expander>
      </section>

    <section>
      {{ include('BNSAppBlogBundle:Sidebar:sidebar_customize.html.twig') }}
    </section>

    {% if hasYerbook %}
      <section>
        {{ components.button( 'LINK_YERBOOK' | trans, { href: path('blog_manager_yerbook'), icon: 'book' }) }}
      </section>
    {% endif %}
{% endblock sidebar_content %}

{% block actionbar_content %}
  {{ components.button('BUTTON_TO_MODERATION_COMMENTS' |trans, {intent: 'primary', raised: true, href:'#', attr : {'id' : 'to-moderation' },
  }) }}
  {{ components.button('BUTTON_REFUSE_COMMENTS' |trans, {intent: 'warn', raised: true, href:'#', attr : {'id' : 'refuse-comments' },
}) }}
  {{ components.button('BUTTON_ACCEPT_COMMENTS' |trans, {intent: 'accent', raised: true, href:'#', attr : {'id' : 'accept-comments' },
}) }}
  <span class="flex"></span>

  {{ components.button('LINK_VALIDATE_ALL_COMMENT'|trans, {
    href: '#',
    intent: 'accent',
    raised: true,
    icon: 'check',
    attr: {
      class: 'validate-all-comments'
    }
  }) }}
  {{ components.button('LINK_DELETE_ALL_COMMENT'|trans, {
    href: '#',
    intent: 'warn',
    raised: true,
    icon: 'delete',
    attr: {
      class: 'hide delete-all-comments'
    }
  }) }}

{% endblock actionbar_content %}

{% block content %}
  {% include 'BNSAppCommentBundle:BackNew:comment_index.html.twig' %}
{% endblock content %}
