<div class="header-btn">
    <a class="btn resource-return" href="#">Revenir à la liste</a>

	{% if getResourceNavigationType() == "select_image" %}
		<button
			data-final-id="{{ app.session.get('resource_select_image_final_id') }}"
			data-callback="{{ app.session.get('resource_select_image_callback') }}"
			data-resource-id="{{ resource.id }}"
			class="btn btn-warning resource-image-selection resource-selection-select select-image">Sélectionner cette image
		</button>
	{% else %}
		{#<div class="btn-group">
			<a class="btn add resource resource-select from-sheet" id="{{ resource.getId }}-add_from_resource" data-resource-id="{{ resource.id }}" href="#"><span class="use"></span>Sélectionner</a>
		</div>#}

		<div class="btn-group">
			<a class="btn add resource sheet-toggle-favorite" href="#" data-toggle="dropdown"><span class="star"></span>Obtenir</a>
			<ul class="dropdown-menu">
				<li>
					<a class="resource-favorite single-file from-sheet" href="#"  data-resource-id="{{ resource.id }}">
						Placer en favori
					</a>
				</li>
				<li>
					<a href="#" class="resource-add-to-my-documents from-sheet" data-resource-id="{{ resource.id }}">
						Ajouter à mes documents
					</a>
				</li>
			</ul>
		</div>
	{% endif %}
	{% if can_manage %}
		<a id="resource-edit-{{ resource.getId }}" class="btn cancel-upload resource-edit" href="#"><span class="edit"></span>Editer</a>
	{% endif %}
</div>
<div class="content-title-resource row-fluid">
    <div class="title-resource span6">
        {% if resource.isPrivate %}
			<img class="statut" src='{{ asset('/medias/images/icons/buttons/24x24/private.png') }}' />
		{% else %}
			<img class="statut" src='{{ asset('/medias/images/icons/buttons/24x24/public.png') }}' />
		{% endif %}
		<h3>{{ resource.label|wordwrap(35) }}</h3>
        <p>Dernière modification {{ date_from_now(resource.createdAt, false, true) }}</p>
    </div>
    <div class="description-resource">
        <img src="{{ getFileTypeImageUrl(resource,"tiny") }}" />
        <p class="title">{{ resource.printType }} déposé{{ resource.gender == "f" ? "e" : "" }}  par <span>{{ resource.getUser.getFullName }}</span></p>
    </div>
</div>

<div class="content-image-description">
	<div class="image {{ resource.typeUniqueName }}">
		{% if resource.typeUniqueName == "FILE" or resource.typeUniqueName == "DOCUMENT"%}
			{% include 'BNSAppResourceBundle:ResourceBlock:'~ rm.getTemplateName ~'.html.twig' with {"resource" : resource , 'size' : "small", 'class' : '', 'with_title' : false, 'with_image': true} %}
		{% else %}
			{% include 'BNSAppResourceBundle:ResourceBlock:'~ rm.getTemplateName ~'.html.twig' with {"resource" : resource , 'size' : "medium", 'class' : '', 'with_link' : false} %}
		{% endif %}

	</div>
	<div class="description {{ resource.typeUniqueName }}">

		{% if resource.typeUniqueName == "LINK" %}
			{% include 'BNSAppResourceBundle:ResourceBlock:'~ rm.getTemplateName ~'.html.twig' with {"resource" : resource , 'size' : "medium", 'class' : '', 'with_link' : true , 'with_image' : false} %}
		{% endif %}

		<h3>Description :</h3>
		{% if resource.getDescription is not empty %}
			<p>{{ resource.getDescription }}</p>
		{% else %}
			<p>Il n'y a pas de description pour ce document.</p>
		{% endif %}

		{% if resource.typeUniqueName == "IMAGE" %}
			<div class="download">
				<a class="btn btn-warning look-image " target="_blank" href="{{ path('BNSAppResourceBundle_download', { 'resourceSlug': resource.getSlug }) }}"><span class="look-image"></span> Télécharger</a>
			</div>
		{% endif %}

    </div>

</div>
<div class="content-libel">
	<div class="libel">
		<p class="libel-associate">Libellés associés :</p>
		{% for label in resource.getAllLabels %}
			<p><span class="disabled libel"></span>{{ label.getLabel }}</p>
		{% endfor %}
	</div>
</div>