{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}
{% trans_default_domain "REGISTRATION" %}

{# {% block beneylu_jim %}class example{% enblock %} #}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/medias/css/registration/front.css') }}" />
	<link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block header %}
	<a href="{{ path('home') }}"><img src="{{ asset('/medias/images/registration/beneyluschool.png') }}" /></a>
	<h1>Validation de la classe</h1>
	<p>Cette étape permet de certifier que la classe fait bien partie de votre école</p>
{% endblock header %}	
	
{% block big_content %}
<div class="container container-fluid container-fluid-registration failed">
	<div class="row-fluid">
		<div class="span7">
			<div class="content-text-confirmation">
				<div class="alert alert-danger">
					<h3>La demande de confirmation est introuvable</h3>

					<p>Les causes de cette erreur peuvent être :</p>
					
					<ul>
						<li>Vous avez déjà confirmé la classe, pour en être sûr, l'enseignant de la classe a dû recevoir un e-mail de confirmation.</li>
						<li>Il y a une erreur dans le lien, pour y remédier copiez/collez le lien de validation dans la barre d'adresse de votre navigateur.</li>
					</ul>
					<p>Si l'erreur persiste, n'hésitez pas à nous contacter.</p>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="content-beneylu-jim">
				<div class="beneylu-jim {% block beneylu_jim %}{% endblock %}"></div>
			</div>
		</div>
	</div>
	<div class="row-fluid submit return">
		<a href="{{ path('home') }}" class="btn btn-success">{{ 'LINK_BACK_TO_HOME'|trans |desc('Retour à l\'accueil') }}</a>
	</div>	
</div>
{% endblock big_content %}