{% extends 'BNSAppLiaisonBookBundle:Back:layout.back.html.twig' %}
{% trans_default_domain "LIAISONBOOK" %}
{% block actionbar_content %}
    {{ components.button( 'LINK_WRITE_MESSAGE' | trans , { intent: 'primary', href: path('BNSAppLiaisonBookBundle_back_create'), icon: 'add_circle', raised: true }) }}
{% endblock %}

{% block sidebar_content %}
    <section class="current">
        {% block archives %}
            {{ render(controller('BNSAppLiaisonBookBundle:Common:archives', { 'newsDate' : newsDate, 'admin' : true } )) }}
        {% endblock %}
    </section>

    <section>
      {% include 'BNSAppMainBundle:Components:app_menu_toggle.html.twig' %}
    </section>

{% endblock sidebar_content %}

{% block content %}

    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools layout-align-start-center">
            <bns-sidebar-toggle></bns-sidebar-toggle>
            <h1 class="md-title text-primary text-left flex flex-gt-sm-33">{{newsDate|year_month_bns()}}</h1>
  </div>
    </md-toolbar>
    <md-content class="md-padding">
    {% if news == false %}
            <div class="layout-row layout-padding layout-align-center-center">
                <div>
        <div class="bnj-not-found"></div>
        <p>{% trans  %}NO_MESSAGE_FOR_THIS_MONTH{% endtrans %}</p>
        <p class="buttons-container">
                        {{ components.button( 'LINK_WRITE_MESSAGE' | trans , { intent: 'primary', href: path('BNSAppLiaisonBookBundle_back_create'), icon: 'add_circle', raised: true }) }}
        </p>
        <div class="clearfix"></div>
      </div>
            </div>
    {% endif %}
        <md-list class="articles">
    {% for new in news %}
            <md-list-item class="article">
                <div class="md-list-item-text" flex>
                    <h2 class="md-headline">{{ new.title }}</h2>
                    <p class="md-body-1 text-muted">
                     {{ 'CREATE_AT_BY'|trans({'%date%': date_from_now ( new.getCreatedAt(), true, true, 'full', 'none'),'%imageLink%': '<img style="width:16px;" src="' ~ avatar(new.getUser(), 'thumbnail') ~ '" alt="" class="avatar" />' ,'%user%': new.getUser().getFullName() |escape }) |desc('%date% par %user%') |raw}}
                    </p>
                    <p class="md-body-1">
                        {{ new.getShortContent() | purify }}
                    </p>

                    <div class="layout-row layout-align-space-between">
                        <span>{{ new.liaisonBookSignatures.count }} / {{ totalSignatures }} {% if new.liaisonBookSignatures.count > 1 %}{{ 'PLURAL_SIGNATURE'|trans }}{% else %}{{ 'SIGNATURE'|trans }}{% endif %}</span>
                        {{ components.button_nav('LINK_SEE_MESSAGE' | trans, {
                        href: path('BNSAppLiaisonBookBundle_back_detail', {slug: new.slug}),
                        size: 'sm',
                        }) }}
          </div>
        </div>
            </md-list-item>
                <md-divider></md-divider>
    {% endfor %}
        </md-list>

    </md-content>

{% endblock %}
