{% trans_default_domain "LIAISONBOOK" %}
{% extends 'BNSAppLiaisonBookBundle:Back:layout.back.html.twig' %}
{% set liaisonBook = form.vars.value %}
{% block title %}
    {% if isEditionMode %}
        {{ 'TITLE_MANAGEMENT_EDIT'|trans({'%beneylu_brand_name%': parameter('brand_name')}) |desc('%beneylu_brand_name% - Carnet de liaison - Manager - Édition') }}
    {% else %}
        {{ 'TITLE_MANAGEMENT_CREATE'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) |desc('%beneylu_brand_name% - Carnet de liaison - Manager - Création') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <script>function callback_tinymce_init(editor) {}</script>
  {{ tinymce_init() }}
{% endblock %}
{% block actionbar_content %}
    {{ components.button_nav('LINK_BACK_TO_LIST' | trans, { href: path('BNSAppLiaisonBookBundle_back'), back: true } ) }}
    <span class="flex"></span>
    {{ components.button( 'LINK_PUBLISH_NOTE' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'form':'form_new_message', 'onclick':'javascript:getElementById(this.getAttribute("form")).submit();'} }) }}
{% endblock %}

{% block sidebar_content %}
        <bns-form-proxy source="{{  form.vars.name }}" du-scroll-container="content"></bns-form-proxy>
{% endblock sidebar_content %}


{% block content %}
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools layout-align-start-center">
            <bns-sidebar-toggle></bns-sidebar-toggle>
            <h1 class="md-title text-primary text-left" flex flex-gt-sm="33"></h1>
            <div class="flex"></div>
  </div>
    </md-toolbar>
        <md-content class="layout-padding">
            {{ form_start(form, {
                'action': isEditionMode ?  path('BNSAppLiaisonBookBundle_back_edit', {'slug': liaisonBook.slug}) : path('BNSAppLiaisonBookBundle_back_create_finish'),
                'attr' : {
                    'id' : 'form_new_message',
                }
            }) }}
        <header class="md-padding">
            {{ form_row(form.title) }}
        </header>
        <section class="md-padding">
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, { 'attr': {'bns-tinymce': ''} }) }}
          {{ form_rest(form) }}
			{% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': liaisonBook.getResourceAttachments,"editable": true, 'objectType': 'LiaisonBook', 'objectId': liaisonBook.id} %}
        </section>
        </form>
      </md-content>
{% endblock %}




