{% trans_default_domain "LIAISONBOOK" %}
{% extends 'BNSAppLiaisonBookBundle:Back:layout.back.html.twig' %}
{% set liaisonBook = form.vars.value %}
{% block title %}
    {% if isEditionMode %}
        {{ 'TITLE_MANAGEMENT_EDIT'|trans({'%beneylu_brand_name%': parameter('brand_name')}) |desc('%beneylu_brand_name% - Carnet de liaison - Manager - Édition') }}
    {% else %}
        {{ 'TITLE_MANAGEMENT_CREATE'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) |desc('%beneylu_brand_name% - Carnet de liaison - Manager - Création') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script xmlns="http://www.w3.org/1999/html">function callback_tinymce_init(editor) {}</script>
  {{ tinymce_init() }}
{% endblock %}
{% block actionbar_content %}
    {{ components.button_nav('LINK_BACK_TO_LIST' | trans, { href: path('BNSAppLiaisonBookBundle_back'), back: true } ) }}
    <span class="flex"></span>
    {{ components.button( 'LINK_PUBLISH_NOTE' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'form':'form_new_message', 'onclick':'javascript:getElementById(this.getAttribute("form")).submit();'} }) }}
{% endblock %}

{% block sidebar_content %}
        <bns-form-proxy source="{{  form.vars.name }}" du-scroll-container="content"></bns-form-proxy>
  <bns-transclude-dest class="hide-sm hide-md" name="liaison-book-form"></bns-transclude-dest>
{% endblock sidebar_content %}


{% block content %}
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools layout-align-start-center">
            <bns-sidebar-toggle></bns-sidebar-toggle>
            <h1 class="md-title text-primary text-left" flex flex-gt-sm="33"></h1>
            <div class="flex"></div>
  </div>
    </md-toolbar>
        <md-content class="layout-padding">
            {{ form_start(form, {
                'action': isEditionMode ?  path('BNSAppLiaisonBookBundle_back_edit', {'slug': liaisonBook.slug}) : path('BNSAppLiaisonBookBundle_back_create_finish'),
                'attr' : {
                    'id' : 'form_new_message',
                }
            }) }}
        <header class="md-padding">
            {{ form_row(form.title) }}
        </header>
        <section class="md-padding">
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, { 'attr': {'bns-tinymce': ''} }) }}
			{% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': liaisonBook.getResourceAttachments,"editable": true, 'objectType': 'LiaisonBook', 'objectId': liaisonBook.id} %}
        </section>


          <bns-transclude-src name="liaison-book-form" class="md-padding hide-gt-md">
            {% if form.date is defined %}
              <bns-expander label="{{'TITLE_DATE'|trans}}" is-open="true">
                {{ form_row(form.date) }}
              </bns-expander>
            {% endif %}
            {% if form.publicationDate is defined %}
            <div bns-feature-flag="'liaison_book_schedule'" bns-feature-push>
              <bns-expander label="{{'TITLE_PUBLICATION_DATE'|trans}}" is-open="true">
                {{ form_row(form.publicationDate) }}
              </bns-expander>
            </div>
            {% endif %}
            {{ form_row(form.individualized) }}
            <div ng-show="{{ getModelName(form.individualized) }}" class="text-center">

              <div bns-legacy bns-lazyload="userDirectory">
              <div bns-user-directory-editable-list
                   material="true"
                   ids="{{ getModelName(form.addresseds) }}"
                   store="'userDirectoryUsers'"
                   state="ctrl.userState"
                   force-string="true"
                   view="ctrl.USER_DIRECTORY_VIEW">
              </div>
              <div class="layout-row layout-align-center-center">
                <md-button ng-show="{{ getModelName(form.individualized) }}" bns-user-directory-invoke="liaison-book-individualize"
                           view-type="user"
                           distribution-type="USER"
                           selection="{{ getModelName(form.addresseds) }}"
                           force-string="true"
                           class="md-primary md-raised btn-sm"
                           href
                >
                  <bns-icon>user-directory</bns-icon>
                  <span>{{ 'BUTTON_INDIVIDUALIZE'|trans }}</span>
                </md-button>
            </div>
              </div>
            </div>
          </bns-transclude-src>
          <div ng-show="false">
            {{ form_rest(form) }}
          </div>
        </form>
      </md-content>
{% endblock %}




