<div style="" id="{{ media.getId() }}-listen">
    <audio controls="controls">
        <source src="{{ create_visualisation_url_resource(media) }}" type="{{ media.getHtml5AudioMimeType() }}" class="bns-insert-resources sound" data-slug="{{ media.getSlug() }}" data-uid="{{ media.getUserId() }}" data-id="{{ media.getId() }}" />
    </audio>
</div>
