<a href="{{ create_visualisation_url_resource(media) }}" class="btn look-image btn-warning bns-insert-resources file" target="_blank" data-slug="{{ media.getSlug() }}" data-uid="{{ media.getUserId() }}" data-id="{{ media.getId() }}">
    <span class="look-image"></span>
    {{ media.label }}
</a>