{% trans_default_domain "PROFILE" %}
<div class="verify-result">
    {% if target_user_roles is defined %}

        <div class="roles-found">
            <p>{% trans %}THIS_USER_IS{% endtrans %}
            {% for group in target_user_roles %}
                {% for role in group['roles'] %}
                    {% if target_user_roles|length > 1 or group['roles']|length > 1 %}<p>&nbsp;&nbsp;&nbsp;&nbsp;-{% endif %}
                    {{ role['label'] }}
                        {% if role['type'] == 'PARENT'%}
                            {% if user_children_group[group['group']['id']] is defined and user_children_group[group['group']['id']]|length%}
                              {% trans %}OF{% endtrans %}
                                {% for childrenFullName in  user_children_group[group['group']['id']] %}
                                    {% if loop.index > 1 and loop.index != user_children_group[group['group']['id']]|length %}
                                        ,
                                    {% elseif loop.index > 1 and loop.index == user_children_group[group['group']['id']]|length%}
                                        {% trans %}AND{% endtrans %}
                                    {% endif %}
                                    <i>{{ childrenFullName }}</i>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {{ group_types_label[group['group']['group_type_id']]|trans }}
                        <i>{{ group['group']['label'] }}</i>
                    <p>
                {% endfor %}
            {% endfor %}
        </div>
        {% if user_source_email is defined and user_source_email %}
        <md-checkbox class="md-primary select" ng-init="merge_account_mail = true" ng-checked="merge_account_mail" ng-click="merge_account_mail = !merge_account_mail" >
            <div>{{ 'LABEL_MERGE_EMAIL_OPTION'|trans({'%email%': user_source_email}) }}</div>
            <input style="display: none" type="checkbox" name="merge_account_mail" id="merge_account_mail" ng-checked="merge_account_mail" />
        </md-checkbox>

        {% endif %}
        <md-checkbox class="md-primary select" ng-init="merge_account_notification = true" ng-checked="merge_account_notification" ng-click="merge_account_notification = !merge_account_notification">
            <div>{{ 'LABEL_MERGE_END_NOTIFICATION'|trans }}</div>
          <input style="display: none" type="checkbox" name="merge_account_notification" id="merge_account_notification" ng-checked="merge_account_notification" />
        </md-checkbox>
    {% else %}
        <bns-inset class="bns-warn bns-small">
          {% trans %}COMBINATION_LOGIN_PASSWORD_INVALID{% endtrans %}
        </bns-inset>
    {% endif %}
</div>
