{% trans_default_domain "MAIN" %}
<div flex="100" flex-gt-md="50" flex-gt-lg="33" class="invitation-row" data-invitation-id="{{ invitation.invitation_id }}">
  <md-card>
    <md-card-content>
      <h2 class="md-title">
        {{ 'WAS_INVITE_BY'|trans |desc('Vous avez été invité par :') }}
        {% if invitation.author_object != null %}
          <img src="{{ avatar(invitation.author_object, 'thumbnail') }}" alt="" class="bns-avatar" />
          {{ invitation.author_object.getFullName() }}
        {% else %}
          <img src="{{ asset('/medias/images/profile/avatar/thumbnail/teacher.png') }}" alt="" class="bns-avatar" />
          {{ invitation.author_full_name }}
        {% endif %}
      </h2>

      <div class="md-body-1">
        <dl>
          <dt>{{ 'GROUP_NAME_AND_TYPE'|trans |desc('Nom du groupe et type du groupe :') }}</dt>
          <dd>
            {% if invitation.group_object != null %}
              {{ invitation.group_object.getLabel() }} ({{ invitation.group_object.getGroupType().getLabel() }})
            {% else %}
              {{ invitation.group_label }} ({{ invitation.group_type_label }})
            {% endif %}
          </dd>
          <dt>{{ 'ROLE_ASSIGN_TO_YOU'|trans |desc('Rôle qui vous sera attribué :') }}</dt>
          <dd>
            {% if invitation.role_object != null %}
              {{ invitation.role_object.getLabel() }}
            {% else %}
              {{ invitation.group_type_role_label }}
            {% endif %}
          </dd>

          {% if invitation.groups_embedded | length %}
            <dt>{{ 'IMPORT_GROUPS'|trans |desc('Groupes à importer :') }}</dt>
            <dd data-embedded="{% verbatim %}{{ form.embedded }}{% endverbatim %}">
              {% for subgroup in invitation.groups_embedded %}
                <md-checkbox ng-model="form.embedded[{{ subgroup.id }}]">{{ subgroup.label }}</md-checkbox>
              {% endfor %}
            </dd>
          {% endif %}
        </dl>
      </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      {{ components.button('BUTTON_ACCEPT_INVITE'|trans |desc('Accepter l\'invitation'), {
        raised: true,
        intent: 'accent',
        attr: { class: 'btn-accept-invitation' }
      }) }}
      {{ components.button('BUTTON_DENY_INVITE'|trans |desc('Rejeter l\'invitation'), {
        raised: true,
        intent: 'warn',
        attr: { class: 'btn-decline-invitation' }
      }) }}
      {{ components.button('BUTTON_NEVER_ACCEPT_INVITE'|trans |desc('Ne jamais accepter l\'invitation'), {
        raised: true,
        attr: { class: 'btn-never-accept-invitation' }
      }) }}
    </md-card-actions>
  </md-card>
</div>
