{% trans_default_domain "CLASSROOM" %}
{% extends 'BNSAppClassroomBundle:Layout:manager.html.twig' %}

{% block title %}
    {{ 'TITLE_IMPORT_CSV_FILE'|trans |desc('Classe - Importer vos fichiers CSV') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function ()
		{
			$('.btn-confirm-import-pupil').click(function (e)
			{
				var $this = $(e.currentTarget);
				if ($this.hasClass('disabled')) {
					return false;
				}

				$this.addClass('disabled').attr('disabled', 'disabled');

				$('#import-pupil-form').submit();
				$('.alert-error').slideUp('fast');
				$('#import-pupil-form').slideUp('fast', function ()
				{
					$('.alert-loading').slideDown('fast');
				});
			});
		});
	</script>
{% endblock %}

{% block header %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span7">
						<a href="{{ path('BNSAppClassroomBundle_back_classroom') }}" class="btn bns-notice btn-24 medium-return button-return">
							<span class="icons-24 back-icon"></span>
                            {{ 'LINK_BACK_TO_USER_LIST'|trans |desc('<strong>Retourner</strong><br>à la liste des utilisateurs') |raw }}
                        </a>
						<a href="{{ path('BNSAppClassroomBundle_back_classroom') }}" class="btn bns-danger btn-24 medium-return">
							<span class="icons-24 cancel-icon"></span>
                            {{ 'LINK_CANCEL_IMPORT'|trans |desc('<strong>Annuler</strong><br>l\'import')|raw }}
                        </a>
					</div>
					<div class="span5 align-right">
						<a href="#" class="btn bns-success validate-medium btn-24 medium btn-confirm-import-pupil">
							<span class="icons-24 validate-icon"></span><strong>{% trans %}LINK_LOAD_FILE{% endtrans %}</strong>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock header %}

{% block sidebar %}
    {% include 'BNSAppClassroomBundle:Sidebar:sidebar.html.twig' with {'page': 'classroom', 'section': 'users' } %}
{% endblock sidebar %}

{% block content %}
	<div class="container-csv">
		{% for message in app.session.flashbag.get('error') %}
			<div class="alert alert-danger bns-alert">
				{{ message }}
				<div class="jim"></div>
			</div>
		{% endfor %}

		<div class="news-title">
			<h1 class="dashboard">{% trans %}LINK_IMPOR_PUPIL_CSV{% endtrans %}</h1>
		</div>

		<div class="content-csv">
			<div class="alert alert-info alert-loading">
				<img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" />
				<h3>{% trans %}TITLE_IMPORT_IN_PROGRESS{% endtrans %}</h3>
			</div>

			{% if app.session.flashBag.has('submit_import_form_error') %}
				<div class="alert alert-error bns-alert">
					{{ app.session.getFlash('submit_import_form_error') }}
					{% trans %}SELECT_CSV_FILE_CHECK_FORMAT{% endtrans %}
					<div class="jim"></div>
				</div>
			{% endif %}
			<form action="{{ path('back_classroom_users_do_import_pupil_from_csv') }}" method="POST" id="import-pupil-form" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
				<div class="clearfix"></div>
				<p>
					<i>{% trans %}DESCRIPTION_FILE_NOT_SAVE_ON_SERVER{% endtrans %}</i>
				</p>
			</form>
		</div>

		<div class="news-title">
			<h1 class="dashboard">{% trans %}TITLE_USER_MANUAL{% endtrans %}</h1>
		</div>
		<div class="content-csv">
			<h3>{% trans %}CSV_TITLE_PRESENTATION{% endtrans %}</h3>
            {{ 'DESCRIPTION_USER_MANUAL'|trans |desc('
            <p>Un fichier CSV n\'est rien d\'autre qu\'une <strong>liste de données</strong> (la liste détaillée de vos élèves par exemple) dans laquelle on a remplacé les séparations par <strong>des point-virgules</strong> ( ; ). </p>
            <h3>Quel est l\'intérêt ?</h3>
            ') |raw }}
            {{ 'CSV_IMPORT_INTEREST'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}

			<h3>{{ 'CSV_IMPORT_TITLE_SUPPORTED_FORMATS'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}</h3>

            {{ 'CSV_IMPORT_SUPPORTED_FORMATS'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}

			<h3>{{ 'CSV_IMPORT_TITLE_WRITE'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}</h3>

            {{ 'CSV_IMPORT_WRITE'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}

		</div>
		<div class="news-title">
			<h1 class="dashboard">{% trans %}DOWNLOAD{% endtrans %}</h1>
		</div>
		<div class="row-fluid">
			{% if app.request.locale == 'fr' %}
			<div class="span6">
				<div class="content-csv">
					<h4>{% trans %}CSV_TITLE_BASE_PUPIL_FORMAT{% endtrans %}</h4>
					<p>
            {{ 'CSV_BASE_PUPIL_FORMAT'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')})|raw }}
						<br /><br />
						<a href="{{ asset('/medias/file/classroom/exemple_base_eleves.csv') }}">{% trans %}CSV_BASE_PUPIL_FORMAT_DOWNLOAD{% endtrans %}</a><br />
						<a href="{{ asset('/medias/file/classroom/exemple_base_eleves_vierge.csv') }}">{% trans %}CSV_BASE_PUPIL_FORMAT_VIRGIN_DOWNLOAD{% endtrans %}</a>
					</p>
				</div>
			</div>
			{% endif %}
			<div class="span6">
				<div class="content-csv">
					<h4>{% trans %}CSV_TITLE_BENEYLU_SCHOOL_FORMAT{% endtrans %}</h4>
					<p>
            {% trans %}CSV_BENEYLU_SCHOOL_FORMAT{% endtrans %}
						<br /><br />
						<a href="{{ asset('/medias/file/classroom/exemple_beneylu_school.csv') }}">{% trans %}CSV_BENEYLU_SCHOOL_FORMAT_DOWNLOAD{% endtrans %}</a><br />
						<a href="{{ asset('/medias/file/classroom/exemple_beneylu_school_vierge.csv') }}">{% trans %}CSV_BENEYLU_SCHOOL_FORMAT_VIRGIN_DOWNLOAD{% endtrans %}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
