{% trans_default_domain "CLASSROOM" %}
{% extends 'BNSAppClassroomBundle:Layout:manager.html.twig' %}

{% block title %}
    {{ 'TITLE_PROFIL_OF'|trans({'%user%': user.getFullName()}) |desc('Classe - Profil de %user%') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="{{ asset('/medias/js/bootstrap/bootstrap-tab.js') }}"></script>
  <script type="text/javascript" src="{{ asset('medias/js/jquery.form.js') }}"></script>
  <script type="text/javascript">
    $(function ()
    {
      $('#disable-pupil-modal .modal-footer .bns-danger').click(function (e) {
        $('#disable-pupil-modal .loader').fadeIn('fast');
      });

      $('#enable-pupil-modal .modal-footer .bns-success').click(function (e) {
        $('#enable-pupil-modal .loader').fadeIn('fast');
      });

      $('#associate-pupil-siblings-modal .modal-footer .bns-warning').click(function (e) {
        $('#associate-pupil-siblings-modal .loader').fadeIn('fast');
      });

      $('.add-assistant').click(function(e) {
        e.preventDefault();

        var $this = $(e.currentTarget);
        var $loader = $('#add-new-pupil-assistant-modal .loader');
        var url = Routing.generate('classroom_manager_add_assistant', {'userId': '{{ user.id }}' });

        $('#add-new-pupil-assistant-modal .form-content').html('');
        $loader.fadeIn('fast');

        $.ajax({
          url: url,
          success: function (form) {
            $('#add-new-pupil-assistant-modal .form-content').html(form);
            $loader.fadeOut('fast', function () {
              $(this).hide();
            });
          }
        });
      });

      // Verify username
      $('body').on('submit', '#add-new-pupil-assistant-modal form#verify-user', function (e)
      {
        var $this = $(e.currentTarget),
          username = $this.find('#username-to-check').val(),
          $row = $this.parent(),
          $loader = $row.find('.loader');

        //Si l'username n'est pas renseigné
        if($.trim(username) == "")
        {
          return false;
        }

        $loader.fadeIn('fast');

        $.ajax({
          url: $this.attr('action'),
          type: 'POST',
          dataType: 'html',
          data: {'username': username, userId: '{{ user.id }}' },
          success: function (data)
          {
            $data = $row.find('.verify-result');
            if ($data.length == 0) {
              $row.append(data);
            }
            else {
              $data.replaceWith(data);
            }

            $loader.fadeOut('fast');
          }
        });

        return false;
      });

      // Close alert for verify result username
      $('body').on('click', '#add-new-pupil-assistant-modal .verify-result .close', function (e)
      {
        var $this = $(e.currentTarget);
        $row = $this.parent().parent();
        $username = $('#username-to-check');

        $row.slideUp('fast', function () { $(this).remove() });
        $username.val('');
        $username.focus();
      });

      // Invite assistant to join classroom
      $('body').on('click', '#add-new-pupil-assistant-modal .verify-result .btn-invite-teacher', function (e)
      {
        var $this = $(e.currentTarget),
          $row = $this.parent().parent().parent();
        $loader = $row.find('.loader');
        $verifyDiv = $row.find('.verify-result');
        $usernameInput = $row.find('#username-to-check');

        $loader.fadeIn('fast');

        $.ajax({
          url: $this.attr('href'),
          type: 'POST',
          data: {'username': $this.data('username'), 'userId': '{{ user.id }}' },
          success: function ()
          {
            window.location = window.location;
          }
        });

        return false;
      });

      // Submit & continue or not
      $('body').on('click', '#add-new-pupil-assistant-modal .modal-footer .finish', function (e)
      {
        var $this = $(e.currentTarget),
          $loader = $('#add-new-pupil-assistant-modal .loader').first();

        $loader.fadeIn('fast');
        $('.form-content').ajaxSuccess(function (e, xhr)
        {
          if ($(xhr.responseText).find('.alert-danger').length == 0) {
            //reload current page
            window.location = window.location;
          }
          else {
            $loader.fadeOut('fast');
          }

          $(this).unbind(e);
        });

        $('#add-new-pupil-assistant-modal form#add-user-classroom-form').ajaxSubmit({
          target: '.form-content'
        });

        return false;
      });
    });
  </script>
{% endblock %}

{% block header %}
  <div class="header-buttons header-classroom-details">
    <div class="inner-header">
      <div class="container container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <a href="{{ path('BNSAppClassroomBundle_back_classroom') }}" class="btn bns-notice btn-24 medium-return spacer">
              <span class="icons-24 back-icon"></span>
                {{ 'LINK_BACK_TO_LIST'|trans |desc('<strong>Retourner</strong><br /> à la liste') |raw}}
            </a>
              <a href="{{ path('BNSAppClassroomBundle_back_pupil_detail_edit', {'userSlug': user.getSlug()}) }}" class="btn bns-info btn-24 medium-return spacer">
                  <span class="icons-24 edit-icon"></span>
                  {% if user.getId() == app.user.id %}
                      {{ 'LINK_EDIT_MY_PROFILE'|trans |desc('<strong>Editer</strong><br /> mon profil')|raw }}
                  {% else %}
                      {{ 'LINK_EDIT_THE_PROFILE'|trans |desc('<strong>Editer</strong><br /> le profil')|raw }}
                  {% endif %}
            </a>
              {% if is_child(user) %}
                  <div class="btn-group">
                      <a href="#" class="btn bns-warning btn-24 medium-return dropdown-toggle generate-details" data-toggle="dropdown">
                          <span class="icons-24 generate-icon"></span>
                          {{ 'LINK_ASSOCIATE_ACCOUNT'|trans |desc('<strong>Associer</strong><br /> un compte')|raw }}
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#" data-toggle="modal" data-target="#add-new-pupil-parent-modal">{% trans %}LINK_ADD_PARENT_ACCOUNT{% endtrans %}</a></li>
                          {#<li><a href="#" id="classrom-associate-siblings-choose">Associer un frère ou une soeur</a></li>#}
                        {% if has_right('CLASSROOM_CREATE_ASSISTANT') %}
                        <li><a href="#" class="add-assistant" data-toggle="modal" data-target="#add-new-pupil-assistant-modal">{% trans %}LINK_ADD_ASSISTANT_ACCOUNT{% endtrans %}</a></li>
                        {% endif %}
                      </ul>
                  </div>
                  <a href="#" id="associate-pupil-siblings" hidden="hidden" data-toggle="modal" data-target="#associate-pupil-siblings-modal"></a>
              {% endif %}

              {% if is_child(user) %}
                            <div class="btn-group">
                                <a href="#" class="btn bns-warning btn-24 medium-return dropdown-toggle generate-details" data-toggle="dropdown">
                                    <span class="icons-24 generate-icon"></span>

                                    {% if user.getLastConnection() != null %}
                                        {{ 'BUTTON_GENERATE_NEW_PASSWORD'|trans |desc('<strong>Générer un nouveau</strong><br />mot de passe')|raw }}
                                    {% else %}
                                        {{ 'BUTTON_GENERATE_NEW_CARD'|trans |desc('<strong>Générer une</strong><br /> nouvelle fiche')|raw }}
                                    {% endif %}
                                    </span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('back_classrooms_users_generate_pupil_pwd', {'pupilSlug': user.getSlug() }) }}">{% trans %}LINK_TO_PUPIL{% endtrans %}</a></li>
                                    {% for parent in parents %}
                                        <li><a href="{{ path('back_classrooms_users_generate_parent_pwd', {'parentSlug': parent.getSlug() }) }}">{{ parent.getFullName() }}</a></li>
                                    {% endfor %}
                                  {% if assistants|length > 0 %}
                                    {% for assistant in assistants %}
                                      <li><a href="{{ path('back_classrooms_users_generate_auxiliere_pwd', {'userSlug': assistant.getSlug() }) }}">{{ assistant.getFullName() }}</a></li>
                                    {% endfor %}
                                  {% endif %}
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn bns-danger btn-24 medium-return dropdown-toggle generate-details" data-toggle="dropdown">
                                    <span class="icons-24 cancel-icon"></span>
                                    {{ 'LINK_DESACTIVATE_ACCOUNT'|trans |desc('<strong>Désactiver</strong><br /> le compte')|raw }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        {% if isEnabled %}
                                            <a href="#" data-toggle="modal" data-target="#disable-pupil-modal">{% trans %}LINK_DESACTIVATE_USER{% endtrans %}</a>
                                        {% else %}
                                            <a href="#" data-toggle="modal" data-target="#enable-pupil-modal">{% trans %}LINK_REVIVE_USER{% endtrans %}</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#delete-pupil-modal">{% trans %}OPTION_DELETE_USER{% endtrans %}</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            {% if user.getId() != app.user.id %}
                                <a href="#" class="btn bns-danger btn-24 medium-return btn-delete-pupil" data-toggle="modal" data-target="#delete-pupil-modal">
                                        <span class="icons-24 delete-icon"></span>
                                        {{ 'BUTTON_DELETE_USER'|trans |desc('<strong>Supprimer</strong><br /> l\'utilisateur de ma classe') |raw }}
                                </a>
                            {% else %}
                                <a href="#" class="btn bns-danger btn-24 medium-return leave-classroom-teacher"  data-toggle="modal" data-target="#leave-classroom-modal">
                                        <span class="icons-24 cancel-icon"></span>
                                    {{ 'BUTTON_QUIT_CLASS'|trans |desc('<strong>Quitter</strong><br /> la classe') |raw }}
                                </a>
                            {% endif %}
                            <a href="#" class="btn bns-warning btn-24 medium-return" data-toggle="modal" data-target="#newPasswordModal">
                                <span class="icons-24 refresh-icon"></span>
                                {{ 'BUTTON_GENERATE_NEW_PASSWORD'|trans |raw }}
                            </a>
                        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'BNSAppClassroomBundle:Sidebar:sidebar.html.twig' with {'page': 'classroom-visualisation', 'section': 'users'} %}
{% endblock sidebar %}

{% block content %}
  {% if is_adult() %}
    {# Modal de régénération de mot de passe #}
    {{ modal('newPasswordModal', {
      'title': 'MODAL_GENERATE_NEW_PASSWORD'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:password_generation_user_body.html.twig', 'values': {
        'user': user
      } },
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:password_generation_user_footer.html.twig', 'values': {
        'user': user
      } },
      'type': 'info'
    }) }}
  {% endif %}
  {% if is_child(user) %}
    {{ modal('disable-pupil-modal', {
      'title': 'MODAL_DESACTIVATE_USER'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:disable_user_body.html.twig', 'values': {
        'user': user,
        'classroom': classroom
      } },
      'type': 'error',
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:disable_user_footer.html.twig', 'values': {
        'user': user
      } }
    }) }}

    {{ modal('enable-pupil-modal', {
      'title': 'MODAL_REVIVE_USER'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:enable_user_body.html.twig', 'values': {
        'user': user,
        'classroom': classroom
      } },
      'type': 'error',
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:enable_user_footer.html.twig', 'values': {
        'user': user
      } }
    }) }}

    {# Modal ajout nouveau compte parent associé à l'élève #}
    {{ modal('add-new-pupil-parent-modal', {
      'title': 'MODAL_CREATE_PARENT_PUPIL'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:add_new_pupil_parent_body.html.twig', 'values': {
        'user': user,
        'classroom': classroom
      } },
      'type': 'success',
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:add_new_pupil_parent_footer.html.twig', 'values': {
        'user': user
      } }
    }) }}

    {# Modal add new assistant#}
    {% if has_right('CLASSROOM_CREATE_ASSISTANT') %}
      {{ modal('add-new-pupil-assistant-modal', {
        'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:add_user_body.html.twig' },
        'title': '<span class="user-role-label">' ~ 'ADD_NEW_ASSISTANT'|trans |desc('Ajouter un nouvel auxiliaire') ~ '</span>',
        'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:add_user_footer.html.twig' }
      }) }}
    {% endif %}
  {% endif %}
  {% if user.getId() == app.user.id %}
    {# Modal de leave de ma classe #}
    {{ modal('leave-classroom-modal', {
      'title': 'MODAL_QUIT_CLASS'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:leave_classroom_body.html.twig', 'values': {
        'user': user,
        'classroom': classroom
      } },
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:leave_classroom_footer.html.twig', 'values': {
        'user': user} },
      'type': 'error'
    }) }}
  {% else %}
    {# Modal de suppression d'un utilisteur #}
    {{ modal('delete-pupil-modal', {
      'title': 'MODAL_DELETE_USER_OF_CLASS'|trans,

      'body_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:delete_user_body.html.twig', 'values': {
        'user': user,
        'classroom': classroom
      } },
      'type': 'error',
      'footer_template': {'template': 'BNSAppClassroomBundle:BackClassroomModal:delete_user_footer.html.twig', 'values': {
        'user': user
      } }
    }) }}
  {% endif %}
  <div class="container-classroom">

    {% if classroom.aafAcademy is not empty %}  
    <div class="alert alert-info bns-alert">
        {{ 'AUTOMATE_ADD_PUPIL' |trans({
            '%linkStart%': '<a target="_blank"
            href="' ~ parameter('bns_aaf_academy_links')['info_link'][app.request.locale]|default(parameter('bns_aaf_academy_links')['info_link']['fr']) ~ '">',
            '%linkEnd%': '</a>'
        }) |desc("Vous bénéficiez de l'alimentation automatique des données depuis ONDE, les ajouts sont par conséquent bloqués.
        %linkStart%Avoir plus de renseignements%linkEnd%") |raw }}
        <div class="jim"></div>
    </div>
    {% endif %}

    <div class="news-title">
      <h1 class="dashboard">{% trans %}TITLE_PROFILE{% endtrans %}</h1>

    </div>

    <div class="row-fluid">
      <div class="span12">
        {% for message in app.session.flashbag.get('success') %}
          <div class="alert alert-success bns-alert">
            {% autoescape false %}{{ message }}{% endautoescape %}
            <div class="jim"></div>
          </div>
        {% endfor %}
        <div class="row-fluid profil-detail-content">
          <div class="span7">
            <div class="content-profile">

              {% if user.getProfile().getJob() != null %}
                <p class="type">
                    {% if user.getId() == app.user.id %}
                        {{ 'I_WILL_WANT_BECOME'|trans({'%job%': user.getProfile().getJob()|escape}) |desc('Je voudrais être <i>%job%</i>.') |raw }}
                    {% else %}
                        {{ 'WILL_WANT_BECOME'|trans({'%job%': user.getProfile().getJob()|escape}) |desc('Voudrait être <i>%job%</i>.') |raw }}

                    {% endif %}
                </p>
              {% endif %}

              <p class="description"><strong>{% trans %}PRESENTATION{% endtrans %}</strong></p>
              <p class="type">
                {%if user.getProfile().getDescription() is null %}
                  <i>{% trans %}NO_PRENSENTATION_GIVE{% endtrans %}</i>

                {% else %}
                  {{ user.getProfile().getDescription() }}
                {% endif %}
              </p>
            </div>
          </div>

          <div class="span5">
            <div class="feelings">
              {{ render(controller('BNSAppProfileBundle:Preferences:index', {'user': user, 'editable': 0, 'isMyPreferences': user.getId() == app.user.id} )) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
