{% extends '::base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="admin-spacer"></div>
		
		<div class="nav-buttons">
			<a href="{{ path('BNSAppAdminBundle_user') }}" class="btn">{% trans %}User.Detail.button.back{% endtrans %}</a>
			<a href="{{ path('BNSAppAdminBundle_user_edit', { 'login' : user.getLogin() }) }}" class="btn btn-info">{% trans %}User.Detail.button.edit{% endtrans %}</a>
		</div>
		{% if app.session.hasFlash('success') %}
		    <div class="">
		        {{ app.session.flash('success') }}
		    </div>	
		{% endif %}	
		
		<h2>{% trans %}User.Detail.title{% endtrans %}</h2>
		
		<div class="row">
			<div class="span8">
				<div id="user_details">
					<strong>{% trans %}User.Detail.attr.id{% endtrans %} :</strong> {{ user.getLogin() }}<br />
					<strong>{% trans %}User.Detail.attr.first.name{% endtrans %} :</strong> {{ user.getFirstName() }}<br />
					<strong>{% trans %}User.Detail.attr.last.name{% endtrans %} :</strong> {{ user.LastName() }}<br />
					<strong>{% trans %}User.Detail.attr.birthday{% endtrans %} :</strong> 
					{% if user.getBirthday() != '' %}
						{{ user.getBirthday()|date('Y-m-d') }}
					{% endif %}<br />
					<strong>{% trans %}User.Detail.attr.email{% endtrans %} :</strong> {{ user.getEmail() }}<br />
					<strong>{% trans %}User.Detail.attr.lang{% endtrans %} :</strong> {{ user.getLang() }}<br />
				</div>
			</div>
		</div>

	</div>
{% endblock %}