{% extends 'BNSAppAdminBundle:Home:layout.html.twig' %}

{% block content %}
	
	{% include "BNSAppAdminBundle:User:menu.html.twig" with{'page' : 'edit','user' : user, 'type' : type } %}

	{{ form_errors(form) }}

	<form action="{{ path('BNSAppAdminBundle_user_sheet_edit',{'id' : user.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Prénom - Nom : </label>
				<div class="controls docs-input-sizes">	
					{{ form_widget(form.first_name,{ 'attr': {'class': 'span3','placeholder': "Prénom"}}) }} - 
					{{ form_widget(form.last_name,{ 'attr': {'class': 'span3','placeholder': "Nom"}}) }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Date de Naissance : </label>
				<div class="controls docs-input-sizes ">	
					{{ form_widget(form.birthday,{ 'attr': {'class': 'span4','placeholder': "Date de naissance"}}) }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Email : </label>
				<div class="controls docs-input-sizes">	
					{{ form_widget(form.email,{ 'attr': {'class': 'span3','placeholder': "Email"}}) }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Langue : </label>
				<div class="controls docs-input-sizes">	
					{{ form_widget(form.lang,{ 'attr': {'class': 'span3','placeholder': "Langue"}}) }}
				</div>
			</div>
			<div class="control-group">
				<input type="submit" value="Enregistrer" class="btn-success" />
			</div>
		</fieldset>
		
		{{ form_rest(form) }}
			
	</form>

{% endblock %}