{% if error == false %}
	<div class="url-datas span11">
		<img class="span2 url-success" src="{% if datas.image_url is not empty %}{{ datas.image_url }}{% else %}{{  asset('/medias/images/resource/filetype/link.png') }}{% endif %}" />
		<div class="description-url span6">
			<p>
				<b>Adresse : </b>
				<i>{{ datas.url }}</i>
			</p>
			<p>
				<b>Titre : </b>
				<input type="text" value="{{ datas.title }}" name="title[]" class="input-large " />
			</p>
			<p><b>Description : </b></p>
			<textarea class="url_description input-xlarge span6" name="description[]" placeholder="Description">{{ datas.description }}</textarea>
			<input type="hidden" value="{{ datas.type }}" name="type[]" />
			<input type="hidden" value="{{ datas.url }}" name="url[]" />
		</div>
		<div class="span2 cancel">
			<a class="reset-url btn cancel-upload" href="#"><i class="icon-ban-circle icon-white"></i> Annuler</a>
		</div>
	</div>
{% else %}
	<div class="alert url-error span6 fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h4 class="alert-heading">Erreur</h4>
		<p>L'adresse renseignée n'est pas correcte, veuillez réessayer</p>
	</div>
{% endif %}