{% if unvalid_urls > 0 %}
	
	
	<div class="alert alert-danger bns-alert">
		{% if unvalid_urls > 1 %}
			{{ unvalid_urls }} adresses n'ont pu être chargées.
		{% else %}
			Une adresse n'a pu être chargée.
		{% endif %}
		<div class="jim"></div>
	</div>

	<script type="text/javascript">
		$(function ()
		{
			setTimeout(function ()
			{
				$('.list-url .bns-alert').slideUp('fast');
			}, 8000);
		});
	</script>

{% endif %}

{% if valid_urls > 0 %}
	{% for data in datas %}
		<div class="url-datas">
			<img class="url-success" src="{% if data.image_url is not empty %}{{ data.image_url }}{% else %}{{  asset('/medias/images/resource/filetype/small/link.png') }}{% endif %}" />
			<div class="description-url title-content">
				<p>Nom du site : </p>
				<input type="text" value="{{ data.title }}" name="title[]" class="input-large " />
				<p>Adresse : </p>
				<p class="url-website">{{ data.url }}</p>
			</div>
			<div class="description-url description-content">
				<p>Description : </p>
				<textarea class="url_description input-xlarge span6" name="description[]" placeholder="Description">{{ data.description }}</textarea>
				<input type="hidden" value="{{ data.type }}" name="type[]" />
				<input type="hidden" value="{{ data.url }}" name="url[]" />
			</div>
			<div class="cancel">
				<a class="reset-url btn cancel-upload" href="#"><i class="icon-cancel"></i> Retirer de la liste</a>
			</div>
			<div class="clearfix"></div>
		</div>
	{% endfor %}
{% endif %}
