<script type="text/javascript" src="{{ asset('medias/js/resource/add_url.js') }}"></script>
<script type="text/javascript">

	//Appelé au click sur l'élement
	var itemClicked = function (item) {
		$('.destination-choice').show();
		$('.destination-choice').text($(item).text());
		$('.destination-choice').attr('id',$(item).attr('id'));
		$('#input-destination-choice').val($(item).attr('id'));
		checkLoadButton();
	}

	//Gère l'activation / la désactivation du bouton "Enregistrer les liens"
	function checkLoadButton()
	{
		if($('.url-datas').length > 0 && $('.destination-choice').attr('id') != null && $('.destination-choice').attr('id') != ''){
			$('#load-button').show();
			$('#load-button-disabled').hide();
		}else{
			$('#load-button').hide();
			$('#load-button-disabled').show();
		}
	}

</script>

<div class="content-upload-background main-content">
	<form id="urls-form" action="{{ path('BNSAppResourceBundle_create_urls') }}" method="post" class="content-loading">
		<div class="resource-add-choose-title">
			<div id="add-links" class="fileinput-button btn btn-large add-file-button" data-target="#resourceAddUrl" data-toggle="modal" >
				<span>Ajouter des liens</span>
			</div>

			{{ render(controller('BNSAppResourceBundle:Label:choose')) }}
			<input type="hidden" value="" id="input-destination-choice" name="destination">

			<a id="load-button" type="submit" class="step-3 btn btn-large btn-success start load-button hide">
				<span>Charger les liens</span>
			</a>

			<a id="load-button-disabled" class="step-3 btn btn-large disabled btn-success load-button">
				<span>Charger les liens</span>
			</a>
			<div class="clearfix"></div>
		</div>

		<div id="informations" class="upload-completed span7">
			<div class="background-confirmation">
				{% if success is defined %}
					<h3>Les liens ont bien enregistrés</h3>
					<a id="completed-continue" class="btn btn-large add"><span class="add"></span>Ajouter d'autres liens</a>
					<a id="completed-return" href="{{ path('resource_navigate', {'slug': current_label.getSlug()}) }}" rel="history" class="btn btn-large cancel-upload confirmation">Voir dans la médiathèque</a>
				{% else %}
					<h3>Vous pouvez ajouter des liens :</h3>
					<p>Formats pris en compte :</p>
					<ul>
						<li>Lien internet <b><i>http://www.site.com</i></b></li>
						<li>Vidéos Youtube, Dailymotion et Viméo <b><i>https://www.youtube.com/watch?v=abcdefghi</i></b></li>
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="container-loading">
			<div class="layer loading">
				<div class="message loading">
					Chargement des liens en cours
					<div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></div>
				</div>
			</div>
			<div class="layer submit">
				<div class="message">
					Enregistrement des liens en cours
					<div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></div>
				</div>
			</div>
			<div class="list-url" class="span11" style='display:none;' id="results"></div>
		</div>
	</form>
</div>

{# Placement des modal pour éviter les problèmes de z-index #}
{{ modal('resourceAddUrl', {
	'title': 'Ajouter des liens',
	'body_template': {'template': 'BNSAppResourceBundle:FrontCreation:modalAddUrlBody.html.twig'},
	'footer_template': {'template': 'BNSAppResourceBundle:FrontCreation:modalAddUrlFooter.html.twig'}
}) }}