{% trans_default_domain "CLASSROOM" %}
<div class="team-item">
	{% if user.isEnabled() %}
		<div class="vertical-separator {% if user.getGender() == 'F' %}female{% endif %}"></div>
	{% else %}
		<div class="vertical-separator disabled"></div>
	{% endif %}
	<div class="buttons-container">
        <input class="btn-suppression" type="image" src="{{ asset('/medias/images/icons/buttons/16x16/undo.png') }}" name="delete_user_in_team"
               userId="{{ user.getId() }}">
	</div>
	<div class="header">
		<img class="avatar" src="{{ avatar(user, 'thumbnail') }}" alt="" />
		<p class="name">{{ user.getFullName() }}</p>
        <p class="informations">
			{% if user.getEmail() is null %}<div class="clearfix"></div> {% else %} {% trans %}EMAIL{% endtrans %} : {{ user.getEmail() }} {% endif %}
		</p>
	</div>
</div>
