{% trans_default_domain "CLASSROOM" %}
<div class="team-container {{ team.getSlug() }}-block page">
  <div class="header">
    <h2 class="pull-left">{{ team.getLabel() }}</h2>
    <a href="{{ path('BNSAppClassroomBundle_back_team_details', { 'slug': team.getSlug() }) }}" class="btn bns-notice btn-16 small right pull-right btn-visualisation">
      <span class="icons-16 arrow-right-icon right"></span>
      <strong>{% trans %}LINK_SEE_CARD{% endtrans %}</strong>
    </a>
    <div class="clearfix"></div>
  </div>
  <div id="team-{{ team.getSlug() }}" class="team_users">
    {% for user in team.getUsers() %}
      <div class="user" id="team_{{ team.getSlug() }}_user_{{ user.getId() }}">
        <img src="{{ avatar(user, 'thumbnail') }}"  />
        <p>{{ user.getFullName() }}</p>
      </div>
    {% else %}
      <p class="no-user">{% trans %}NO_USER_IN_THIS_GROUP{% endtrans %}</p>
    {% endfor %}
  </div>
</div>
