{% trans_default_domain "COMMENT" %}

<a href="{{ path(editRoute, {'id': comment.getId()}) }}" class="btn-16 small btn bns-info">
	<span class="icons-16 edit-icon"></span>
	{{ 'LINK_EDIT'|trans }}
</a>

{% if comment.getStatus() == 'PENDING_VALIDATION' %}
	<a href="#" class="btn-16 small btn bns-danger moderation-button" data-filter-status="REFUSED">
		<span class="icons-16 delete-icon"></span>
        {{ 'LINK_DENY'|trans |desc('<strong>Refuser</strong>') |raw }}


	</a>
	<a href="#" class="btn-16 small btn bns-success moderation-button" data-filter-status="VALIDATED">
		<span class="icons-16 validate-icon"></span>
        {{ 'LINK_VALIDATE'|trans |desc('<strong>Valider</strong>') |raw }}


	</a>
{% elseif comment.getStatus() == 'VALIDATED' %}
	<a href="#" class="btn-16 small btn bns-warning moderation-button" data-filter-status="PENDING_VALIDATION">
		<span class="icons-16 preview-icon"></span>
        {{ 'LINK_GO_TO_MODERATION'|trans |desc('<strong>Passer en modération</strong>') |raw }}


	</a>
	<a href="#" class="btn-16 small btn bns-danger moderation-button" data-filter-status="REFUSED">
		<span class="icons-16 delete-icon"></span>
        {{ 'LINK_DENY'|trans |desc('<strong>Refuser</strong>') |raw }}

    </a>
{% else %} {# REFUSED #}
	<a href="#" class="btn-16 small btn bns-warning moderation-button" data-filter-status="PENDING_VALIDATION">
		<span class="icons-16 preview-icon"></span>
        {{ 'LINK_GO_TO_MODERATION'|trans |desc('<strong>Passer en modération</strong>') |raw }}

    </a>
	<a href="#" class="btn-16 small btn bns-success moderation-button" data-filter-status="VALIDATED">
		<span class="icons-16 validate-icon"></span>
        {{ 'LINK_VALIDATE'|trans |desc('<strong>Valider</strong>') |raw }}

    </a>
{% endif %}
