{% extends 'BNSAppTemplateBundle:Layout:manager.html.twig' %}

{% block css %}
	{{ parent() }}

	{% render 'BNSAppTemplateBundle:Template:renderFontCssToIncludeBlock' with {'template': templatable_object.getTemplate() } %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		{# Variables globales qui seront utilisées dans le fichier back-custom-theme.js #}
		{# route que l'utilisateur du template bundle doit fournir pour pouvoir créer l'aperçu d'un nouveau thème avec le contenu adéquat #}
		var $routeToTemplateContentPreview = '{{ route_to_template_content_preview }}';
		{# mémorise quel est actuellement le thème utilisé par l'utilisateur user_slug #}
		var $userCurrentTheme = '{{ templatable_object.getTemplate().getCssClass() }}';
	</script>
	<script type="text/javascript" src="{{ asset('/medias/js/template/template.js') }}"></script>
{% endblock %}

{% block top_left_buttons_action %}
    <button data-toggle="modal" href="#theme-preview-modal" class="btn btn-medium btn-theme-preview"><strong>Aperçu</strong><br />du thème</button>
	
	{% autoescape false %}
		{{ modal('theme-preview-modal', {
			'body_template': {'template': 'BNSAppTemplateBundle:Preview:theme_preview_modal_body.html.twig' },
			'title': 'Prévisualisation'
		}) }}
	{% endautoescape %}
{% endblock %}

{% block top_right_buttons_action %}
    <button class="btn btn-large btn-success pull-right btn-save-theme"><strong>J'ai terminé</strong></button>
{% endblock %}        

{% block sidebar %}
    <p>Vous devez inclure votre sidebar !</p>
{% endblock %}

{% block content %}
	<form id="select-theme-form" action="{{ path('template_bundle_save') }}" method="POST">
		{% render 'BNSAppTemplateBundle:Template:secureTemplatableObject' with {'templatableObject': templatable_object} %}
		<div class="container-fluid" style="margin-bottom: 70px"> {# TODO: css à virer de là #}
			<div class="row-fluid">
				<div class="span12">
					{% render 'BNSAppTemplateBundle:Template:renderThemePicker' with {'currentUserTemplate': templatable_object.getTemplate()} %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 custom-properties-container">
					{% include 'BNSAppTemplateBundle:Template:template_custom_property_block.html.twig' with {
						'template_css_class': templatable_object.getTemplate().getCssClass(),
						'templatable_object': templatable_object
					} %}
				</div>
			</div>
		</div>
	</form>
{% endblock %}