{% trans_default_domain "INFO" %}
{% extends 'BNSAppInfoBundle:Front:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="blog-items span8">
            <h1>{{ 'TITLE_FORUM'|trans |desc('Le forum') }}</h1>
            {% for forumItem in forumItems %}
                <div class="blog-item">
                    <a href="{{ forumItem.get_link ~ queryString }}&utm_content=lien&utm_term={{ forumItem.get_title|raw|utm_campaign_string }}">
                        <h2>{{ forumItem.get_title|raw }}</h2>
                    </a>
                    <div class="new-item-content">
                        <p>{{ forumItem.get_content|truncate(400)|striptags|purify }}</p>
                        <p class="more-link">
                            <a href="{{ forumItem.get_link ~ queryString }}&utm_content=lien&utm_term={{ forumItem.get_title|raw|utm_campaign_string }}" class="btn bns-notice btn-16 small" target="_blank">
                                <span class="icons-16 preview-icon"></span>
                                {{ 'LINK_READ_NEXT'|trans |desc('<strong>Lire</strong> la suite') |raw }}
                            </a>
                        </p>
                    </div>
                    <br clear="right" />
                </div>
            {% endfor %}
        </div>
        <div class="span4">
            <h1 class="twitter">
                <img src='{{ asset('/medias/images/classroom/twitter.jpg') }}'>
                Twitter
            </h1>
            <a class="twitter-timeline" height="800" href="https://twitter.com/beneyluschool" data-widget-id="439896948242259969">
                {{ 'BENEYLU_TWEET'|trans |desc('Tweets de @beneyluschool') }}</a>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include "BNSAppInfoBundle:Front:sidebar.html.twig" %}
{% endblock %}
