{% extends '::base.html.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/medias/css/registration/front.css') }}" />
	<link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block body %}
<div class="background-registration"></div>
<div class="container-header-registration">
	<div class="container-fluid container">
		<div class="row-fluid">
			<div class="span12">
				<a href="#"><img src="/medias/images/registration/beneyluschool.png" /></a>
				<h1>Mot de passe oublié ?</h1>
				<p>Vous avez oublié votre mot de passe ? <strong>Pas de panique !</strong></p>
				<div class="pattern"></div>
			</div>
		</div>
	</div>
</div>
<div class="container container-fluid container-fluid-registration">
	<div class="container-registration">
		<div class="row-fluid">
			<div class="span12">
				<h3 class="reset-password">Réinitialisation du mot de passe</h3>
				<p class="reset-password">
					Nous allons le réinitialiser, vous n'avez qu'à renseigner votre adresse 
					et nous enverrons un <strong>e-mail avec un lien de confirmation</strong> qui réinitialisera votre mot de passe,
					vous permettant de le modifier dès votre prochaine connexion.
				</p>

				<form action="{{ path('user_password_reset') }}" method="POST" {{ form_enctype(form) }}>
					<div class="input-reset-password">
						<div>
							{{ form_widget(form.email, {'attr': {'placeholder': 'Entrez votre adresse e-mail'} }) }}
							{{ form_errors(form.email) }}
						</div>

						<div class="rest">
							{{ form_rest(form) }}
							{{ form_errors(form) }}
						</div>
					</div>

					<div class="submit">
						<input type="submit" class="btn btn-success" value="Envoyer" />
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}