{% extends '::base_manager.html.twig' %}

{% block title %}Médiathèque - Gestion{% endblock %}

{% block css %}
	{{ parent() }}
	{# Appel CSS du package layout manager #}
   {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
	<link href="{{ asset('/medias/css/resource/manager.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/medias/css/group/manager.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('medias/js/resource/back.js') }}"></script>
{% endblock %}

{% block body %}
<div class="{{ current_group_type() in ["CLASSROOM",'TEAM'] ? "office blur" : "background-group" }}"></div>
{% block top_bar %}

{% endblock %}
<div class="container-fluid container">
	<div class="row-fluid container-manager">
		<div class="container-sidebar list">
			{% block sidebar %}Add your sidebar here!{% endblock %}
			<div class="sidebar-shadow"></div>
		</div>
		<div class="span9 container-content no-margin">
			{% block content %}Add your content here!{% endblock %}
		</div>
		<div class="container-manager-bottom">
			<div class="content-manager-bottom"></div>
		</div>
	</div>
</div>
{% endblock %}
	
{% block dock_bar %}
	{{ render(controller('BNSAppMainBundle:DockBar:index', {'module_unique_name' : "RESOURCE" , 'is_in_front' : false } )) }}
{% endblock %}