{% if page == 'index' %}
	<div class="section active">
		Activité
		<span class="shadow-section"></span>
	</div>
{% endif %}
{% if page == 'custom' and can_administrate %}
	<div class="container-section">
		<div class="section">
			<a href="{{ path('BNSAppResourceBundle_back') }}">Activité</a>
		</div>
	</div>
	<div class="section active">
		Personnalisation
		<span class="shadow-section"></span>
	</div>
	<div class="title-container">
		<div class="content-title">
			<ul>
				<li>
					<a class="{% if section == 'labels' %}active{% endif %}" href="{{ path('BNSAppResourceBundle_back_custom') }}">Libellés</a>
				</li>
				<li>
					<a class="{% if section == 'white_list' %}active{% endif %}" href="{{ path('BNSAppResourceBundle_back_custom_white_list') }}">Ma Liste blanche</a>
				</li>
				<li>
					<a class="{% if section == 'white_list_general' %}active{% endif %}" href="{{ path('BNSAppResourceBundle_back_custom_white_list_general') }}">Liste blanche générale</a>
				</li>
			</ul>
		</div>
	</div>

	{% if section == 'white_list_general' %}
		<div class="title-container">
			<div class="title border-blue active">Options<span class="square icon-arrow"></span></div>
			<div class="content-title">
				<ul>
					<li>
						<a class="toggle-general-white-list switchable {{ white_list_use ? "" : "off" }}">
							Activation liste blanche générale
                            {% include 'BNSAppMainBundle::popover.html.twig'
                                with {
                                    'element' : 'span',
                                    'class'   : 'btn-switch',
                                    'title'   : "Activation de la liste blanche générale",
                                    'content' : "Un feu vert signifie que la liste blanche générale est activée. Tous les sites présents dans la liste seront inclus dans les remontées de votre moteur de recherche.",
                                    'module'  : 'resource',
                                    'size'    : 'medium',
                                    'placement' : 'right'
                                }
                            %}
						</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}

{% else %}
	<div class="container-section">
		<div class="section">
			<a href="{{ path('BNSAppResourceBundle_back_custom') }}">Personnalisation</a>
		</div>
	</div>
{% endif %}

