{% extends 'BNSAppResourceBundle:Content:front_content_layout.html.twig' %}

{% block extra_container_classes %}
	label-filter-container
{% endblock %}

{% block list %}
	{# ToolBar settings #}
	{% include 'BNSAppResourceBundle:ToolBar:toolbar_settings.html.twig' with {
		'navigationContext': 'GARBAGE',
	} %}
	
	{% set no_item_class = sorted_links|length > 0 ? 'hide': '' %}
	{% for items in sorted_links %}
		{% set label = items[0]['link'].getLabel() %}
		<div>
			<div class="label-title">
				<ul>
					{% for label in items[0]['resource'].getLabelPathFromLabel(label, scope['group']) %}
						<li>{{ label.getLabel() }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="items-group">
				{% for item in items %}
					{% set resource = item['resource'] %}
					{% set link = item['link'] %}
					{% include 'BNSAppResourceBundle:ContentBlock:front_block_garbage.html.twig' %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}

	{% include 'BNSAppMainBundle:NoInformation:index.html.twig' with {
		'text': 'La corbeille est vide.',
		'class': no_item_class
	} %}
{% endblock list %}

{% block pagination %}
	{% set nb_page = resources.getLastPage() %}
	{% if nb_page > 1 %}
		<div class="pagination">
			<ul>
				{% for i in 1..nb_page %}
					<li class="{% if i == page %}active{% endif %}">
						<a href="{{ path('resource_garbage_page', {'page': i}) }}" rel="history" class="resource-pagination" id="page-{{ type }}-{{i}}">
							{{ i }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock pagination %}