{% trans_default_domain "MINISITE" %}
{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

<md-list-item id="item-text-{{ text.getPageId() }}" class="status-{{ text.getStatus()|lower }} " href="{{ path('minisite_manager_page', {'slug': text.getMiniSitePage().getSlug()}) }}">

		<div class="md-list-item-text">
			<h3>
				<span class="md-title">
					{% if text.isPublished() %}
						{{ text.getPublishedTitle() }}
					{% else %}
						{% if text.getDraftTitle() == null %}
							{% trans %}TITLE_FUTUR_PAGE{% endtrans %}
						{% else %}
							{{ text.getDraftTitle() }}
						{% endif %}
					{% endif %}
				</span>
			</h3>
			<h4>
				<span class="md-body-2 text-muted">
					{{ 'EDIT_AT_BY_USER'|trans({
						'%date%': date_from_now(text.getUpdatedAt(), false, true, 'medium', 'short', false, true),
						'%image%': components.avatar(text.getLastModificationAuthor(), { size: 20 }),
						'%user%': text.getLastModificationAuthor().getFullName() |escape
					}) |desc('Modifiée %date% par %image% %user%') |raw }}
				</span>
			</h4>
			<p>
				<div class="md-body-2">
					{% autoescape false %}
						{% if text.isPublished() %}
							{{ text.getShortPublishedContent()|purify }}
						{% else %}
							{% if text.getDraftContent() == null %}
			          {% trans %}FUTUR_PAGE_CONTENT{% endtrans %}
							{% else %}
								{{ text.getShortDraftContent()|purify }}
							{% endif %}
						{% endif %}
					{% endautoescape %}
				</div>
			</p>
		</div>
	<div class="md-secondary">
		{% include 'BNSAppMiniSiteBundle:ActionBar:back_text_action_bar.html.twig' %}
	</div>

</md-list-item>

<md-divider></md-divider>
