{% block content %}
	{% block player %}
		<audio controls="controls">
			<source data-slug="{{ resource.getSlug() }}" data-uid="{{ resource.getUserId() }}" data-id="{{ resource.getId() }}" src="{{ url('BNSAppResourceBundle_download', { 'resourceSlug': resource.getSlug }) }}" type="{{ rm.getHtml5AudioMimeType() }}" />
		</audio>
	{% endblock %}

    <div class="download">
        <a href="{{ path('BNSAppResourceBundle_download', { 'resourceSlug': resource.getSlug() }) }}" class="btn bns-notice btn-24 large" target='_blank'>
            <span class="icons-24 preview-icon"></span>
            Télécharger
        </a>
    </div>

{% endblock %}
