{% trans_default_domain "BLOG" %}
{% if (blog.getBlogArticles()|length > 0) %}
  {% for i,article in blog.getBlogArticles() %}
    {% include 'BNSAppBlogBundle:Article:front_article_row.html.twig' %}
  {% endfor %}
{% else %}
  <div class="no-article">
    {% if has_right('BLOG_ACCESS_BACK') %}
      {% if app.request.get('_route') == 'blog_articles_from_category' %}
        {% if is_adult() %}
          {% include 'BNSAppMainBundle:NoInformation:index.html.twig' with {
          'text': "NO_ARTICLE_IN_CATEGORY_CREATE_ONE"|trans,

          'button': {
          'text': 'LINK_CREATE_ARTICLE'|trans,

          'link': path('blog_manager_new_article')
          }
          } %}
        {% else %}
          {% include 'BNSAppMainBundle:NoInformation:index.html.twig' with {
          'text': "NO_ARTICLE_IN_CATEGORY_FIRST_TOO_CREATE"|trans,

          'button': {
          'text': 'LINK_CREATE_ARTICLE'|trans,

          'link': path('blog_manager_new_article')
          }
          } %}
        {% endif %}
      {% else %}
        {% if is_adult() %}
          {% include 'BNSAppMainBundle:NoInformation:index.html.twig' with {
          'text': "NO_ARTICLE_IN_BLOG_CREATE_ONE"|trans,

          'button': {
          'text': 'LINK_CREATE_ARTICLE'|trans,

          'link': path('blog_manager_new_article')
          }
          } %}
        {% else %}
          {% include 'BNSAppMainBundle:NoInformation:index.html.twig' with {
          'text': "NO_ARTICLE_IN_BLOG_FIRST_TOO_CREATE"|trans,

          'button': {
          'text': 'LINK_CREATE_ARTICLE'|trans,

          'link': path('blog_manager_new_article')
          }
          } %}
        {% endif %}
      {% endif %}
    {% else %}
      {% if app.request.get('_route') == 'blog_articles_from_category_page' %}
        {% trans %}NO_ARTICLE_IN_CATEGORY_CREATE_ONE{% endtrans %}

      {% else %}
        {% trans %}NO_ARTICLE_FOUND{% endtrans %}

      {% endif %}
    {% endif %}
  </div>
{% endif %}

{% if (pager.getLastPage() > 1) %}
  <div class="pagination" style="text-align: center;">
    <ul>
      {% if (pager.getPage() > pager.getFirstPage()) %}
        {% if pager_link is defined %}
          <li><a class="article-pager" href="{{ path(pager_link, pager_parameters|merge({'page': pager.getPreviousPage()})) }}">←</a></li>
        {% else %}
          <li><a class="article-pager" href="{{ path('blog_articles_page', {'page': pager.getPreviousPage()}) }}">←</a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#" onclick="return false;">←</a></li>
      {% endif %}

      {% for i in range(pager.getFirstPage(), pager.getLastPage()) %}
        {% if pager_link is defined %}
          <li><a class="article-pager" href="{{ path(pager_link, pager_parameters|merge({'page': i})) }}">{{ i }}</a></li>
        {% else %}
          <li{% if (pager.getPage() == i) %} class="active"{% endif %}><a class="article-pager" href="{{ path('blog_articles_page', {'page': i}) }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if (pager.getPage() < pager.getLastPage()) %}
        {% if pager_link is defined %}
          <li><a class="article-pager" href="{{ path(pager_link, pager_parameters|merge({'page': pager.getNextPage()})) }}">→</a></li>
        {% else %}
          <li><a class="article-pager" href="{{ path('blog_articles_page', {'page': pager.getNextPage()}) }}">→</a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#" onclick="return false;">→</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
