<div class="container-article">
    <div class="container-star">
        <div class="header-article">
			{% if i > 0 %}
				<div class="underline"></div>
			{% endif %}
            <h1>{{ article.getTitle() }}</h1>
            <div class="underline"></div>
            <div class="container-description-article">
                <div class="article-categories">
                    {% for category in article.getSortedBlogCategories() %}
                        <ul>
                            {% if category.getIconClassname()|length > 0 %}<span class="sprite {{ category.getIconClassname() }}"></span>{% endif %} {{ category.getTitle() }}
                            {% if (category.getChildren()|length > 0) %}
                                {% for child in category.getChildren() %}
                                    <li>
                                        /{{ child.getTitle() }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>

                <div class="description-article">
                    <p>Ecrit par <img class="#" src="{{ avatar(article.getAuthor(), 'thumbnail') }}" width="16" /> <strong>{{ article.getAuthor().getFullName() }}</strong>, {{ date_from_now(article.getPublishedAt()) }}</p>
                </div>
            </div>
        </div>
        <div class="article">
            {% autoescape false %}
                {{ article.getContent() }}
            {% endautoescape %}
        </div>
		<div class="resources">
			{# Pièces Jointes #}
			{% include 'BNSAppResourceBundle:Front:joinedResources.html.twig' with {'resources': article.getResourceAttachments(), 'editable': false} %}
		</div>
        <div class="share">
            {#<p>Partager cet article</p>
            <a class="btn btn-share" href="{{ path('blog_article_permalink', {'slug': article.getSlug()}) }}"><span class="copy-link"></span>Copier le lien</a>#}
            <div class="border-article"></div>
        </div>
        <div class="clearfix"></div>
        {% render ('BNSAppCommentBundle:FrontComment:show') with {
            'namespace':	'\\BNS\\App\\CoreBundle\\Model\\BlogArticleComment',
            'objectId':		article.getId(),
            'comments':		article.getBlogArticleCommentsPreviewInverse(),
            'nbComments':	article.getNbComments(),
            'ajaxLoading':	true,
        } %}
    </div>
</div>
<div class="clearfix"></div>