{% trans_default_domain "BLOG" %}
{% extends 'BNSAppBlogBundle:Layout:manager.html.twig' %}

{% block title %}
  {% if (isEditionMode) %}
      {{ 'TITLE_EDIT_ARTICLE'|trans({'%blogTitle%': blog.getTitle()}) |desc('%blogTitle% - Éditer un article') }}
  {% else %}
      {{ 'TITLE_CREATE_ARTICLE'|trans({'%blogTitle%': blog.getTitle()}) |desc('%blogTitle% - Créer un nouvel article') }}
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {{ tinymce_init() }}

  <script type="text/javascript">
    $(function () {
      if ($('#blog_article_form_status_4').is(':checked')) {
        $('.publish-date').addClass('hide');
        $('.publish-programmation').removeClass('hide');
      }

      // Draft save button
      $('.md-toolbar-tools .save').click(function () {
        blogAutosave();

        return false;
      });

      // Finish button
      $('.md-toolbar-tools .finish').click(function (e) {
        if ($(e.currentTarget).attr('disabled')) {
          return false;
        }

        $('#form_new_article').submit();

        return false;
      });

      // Form submit, check publish date
      $('#form_new_article').submit(function (e) {
        // Is publish & publication date is set ?
        if ($('#blog_article_form_status_1').is(':checked') && $('#blog_article_form_publication_day').val().length > 0) {
          try {
            // TODO i18n format
            var date = moment($('#blog_article_form_publication_day').val(), "DD/MM/YYYY"),
              now = moment();

            var time = moment($('#blog_article_form_publication_time').val(), "HH:mm");
            date.hour(time.get('hour'));
            date.minute(time.get('minute'));

            if (date.isAfter(now)) {
              $('#programmed-publication-warning').modal('show');
              return false;
            }
          } catch(e) {
            console.error(e);
            return true;
          }

        }

        return true;
      });

      // Published to programmed on confirm
      $('#programmed-publication-warning .confirm').click(function (e) {
        // Populate programmed fields
        $('#blog_article_form_status_4').click();
        $('#blog_article_form_programmation_day').val($('#blog_article_form_publication_day').val());
        $('#blog_article_form_programmation_time').val($('#blog_article_form_publication_time').val());

        // Clear fields
        $('#blog_article_form_publication_day').val('');
        $('#blog_article_form_publication_time').val('');

        $('#form_new_article').submit();
      });

      $('.container-sidebar .article-statuses-choice li').click(function (e) {
        var $this = $(e.currentTarget);
        if ($this.hasClass('show-programmation-block')) {
          $('.container-sidebar .publish-date').slideUp('fast', function () {
            $('.container-sidebar .publish-programmation').slideDown('fast')
          });
        } else if ($this.hasClass('show-publish-block')) {
          $('.container-sidebar .publish-programmation').slideUp('fast', function () {
            $('.container-sidebar .publish-date').slideDown('fast');
          });
        } else {
          $('.container-sidebar .publish-date').slideUp('fast');
          $('.container-sidebar .publish-programmation').slideUp('fast');
        }
      });

    });
  </script>
  <script type="text/javascript">

    var blogSlug = {%  if article and article.slug %}'{{ article.slug }}'{% else %}null{% endif %};
    function blogAutosave() {
      var saveBtn = $('.md-toolbar-tools .save');
      if (saveBtn.attr('disabled')) {
        return false;
      }
      saveBtn.attr('disabled', 'disabled');

      // disable finish button
      var finishBtn = $('.md-toolbar-tools .finish');
      finishBtn.attr('disabled', 'disabled');
      // remove error/success
      $('.save-error').slideUp('fast');

      var options = {};
      if (blogSlug) {
        options.slug = blogSlug;
      }

      var url = Routing.generate('blog_manager_draft_save', options);
      $.ajax({
        url: url,
        type: 'PATCH',
        data: $('#form_new_article').not('[name*=status]').serialize(),
        success: onBlogSaveSuccess,
        error: function(xhr, textStatus) {
          saveBtn.attr('disabled', null);
          finishBtn.attr('disabled', null);

          $('.save-success').slideUp('fast');
          $('.save-error').slideDown('fast');
          // TODO show error in toast
        }
      })
    }

    function onBlogSaveSuccess(data) {
      var angularizer = new Angularizer();
      var toast = angularizer.get('toast');
      var translate = angularizer.get('$translate');
      if (data && data.slug) {
        // update slug if needed
        blogSlug = data.slug;
      }
      if (data && data.attributes) {
        _.each(data.attributes, function(attribute){
          var items = $(attribute.node);
          if (items && items.length > 0) {
            // update attrivute
            items.attr(attribute.attr, attribute.value);
          }
        });
      }

      translate('BLOG.CONTENT_ARTICLE_SAVE_IN_DRAFT').then(function (message) {
        toast.success(message);
      })
      var saveBtn = $('.md-toolbar-tools .save');
      saveBtn.attr('disabled', null);
      // Enable finish button
      $('.md-toolbar-tools .finish').attr('disabled', null);

      $('.save-error').slideUp('fast');
      var successBlock = $('.save-success');

      if (successBlock.css('display') === 'none') {
        successBlock.slideDown('fast');
      } else {
        successBlock.removeClass('bns-primary');
        successBlock.addClass('bns-accent');
      }
      setTimeout(function () {
        successBlock.removeClass('bns-accent');
        successBlock.addClass('bns-primary');
      }, 5000);
    }

  </script>
{% endblock %}

{% block actionbar_content %}
    {{ components.button_nav('LINK_BACK_TO_ARTICLES' | trans, { href: path('BNSAppBlogBundle_back'), back: true } ) }}
    {% if isEditionMode %}
      {{ components.button( 'LINK_CANCEL_CREATION' | trans , { href: path('blog_manager_article_cancel_edit', {'articleSlug': article.getSlug()}), icon: 'close', raised: true, attr : {'class' : 'hide-sm'} }) }}
    {% else %}
      {{ components.button( 'LINK_CANCEL_CREATION' | trans , { href: path('BNSAppBlogBundle_back'), icon: 'close', raised: true, attr : {'class' : 'hide-sm'} }) }}
    {% endif %}
    {{ components.button( 'LINK_SAVE_IN_DRAFT' | trans , { icon: 'save', raised: true, attr : {'class' : 'save hide-sm'} }) }}
    <span flex></span>
    {% if is_adult() %}
      {{ components.button( 'LINK_SAVE_ARTICLE' | trans , {intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class' : 'finish'} }) }}
    {% else %}
      {{ components.button( 'LINK_FINISH_ARTICLE' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class' : 'finish'} }) }}
    {% endif %}

  <div ng-if="'blog_beta_correction_flash'|featureFlag" container>
    <bns-flash bns-md-icon="info" bns-dismiss-persist="blog_beta_correction" class="is-fixed bns-primary" md-theme="nof">
      <div translate="MAIN.DESCRIPTION_BETA_CORRECTION" translate-compile></div>
    </bns-flash>
  </div>
{% endblock actionbar_content %}

{% block sidebar_content %}
    <section class="current" du-scroll-container="scrollable-content">

      {% if form.status is defined %}
        <div class="layout-row hide-gt-md">
          {{ components.button(form.status.vars.label, {
            href: '#container_' ~ form.status.vars.id,
            click: 'app.toggleSidebar()',
            icon: { name: 'chevron_right', pos: 'right' },
            attr: {
              'du-smooth-scroll': 'true',
              class: 'bns-form-proxy-anchor flex',
            }
          }) }}
        </div>
        <bns-transclude-dest class="hide-sm hide-md" name="blog-article-status"></bns-transclude-dest>
      {% endif %}

      {% if form.publication_day is defined %}
        <div class="layout-row hide-gt-md" {% if form.status is defined %}ng-show="{{ getModelName(form.status) ~ " === 'PUBLISHED'" }}"{% endif %}>
          {{ components.button('TITLE_PUBLISH'|trans, {
            href: '#container_' ~ form.publication_day.vars.id,
            click: 'app.toggleSidebar()',
            icon: { name: 'chevron_right', pos: 'right' },
            attr: {
              'du-smooth-scroll': 'true',
              class: 'bns-form-proxy-anchor flex',
            }
          }) }}
        </div>
        <bns-transclude-dest class="hide-sm hide-md" name="blog-article-publication"></bns-transclude-dest>
      {% endif %}

      {% if form.programmation_day is defined %}
        <div bns-feature-flag="'blog_schedule'" bns-feature-push>
        <div class="layout-row hide-gt-md" {% if form.status is defined %}ng-show="{{ getModelName(form.status) ~ " === 'PROGRAMMED'" }}"{% endif %}>
          {{ components.button('TITLE_PUBLISH_PROGRAM'|trans, {
            href: '#container_' ~ form.programmation_day.vars.id,
            click: 'app.toggleSidebar()',
            icon: { name: 'chevron_right', pos: 'right' },
            attr: {
              'du-smooth-scroll': 'true',
              class: 'bns-form-proxy-anchor flex',
            }
          }) }}
        </div>
        <bns-transclude-dest class="hide-sm hide-md" name="blog-article-programmation"></bns-transclude-dest>
        </div>
      {% endif %}

      {% if form.categories is defined %}
        <div bns-feature-flag="'blog_categories'" bns-feature-push class="layout-row hide-gt-md">
          {{ components.button(form.categories.vars.label, {
            href: '#container_' ~ form.categories.vars.id,
            click: 'app.toggleSidebar()',
            icon: { name: 'chevron_right', pos: 'right' },
            attr: {
              'du-smooth-scroll': 'true',
              class: 'bns-form-proxy-anchor flex',
            }
          }) }}
        </div>
        <bns-transclude-dest class="hide-sm hide-md" name="blog-article-categories"></bns-transclude-dest>
      {% endif %}

      <bns-form-proxy source="{{ form.vars.name }}"></bns-form-proxy>
    </section>
<section class="current">
</section>

{% endblock sidebar_content %}

  {% block content %}
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools layout-align-start-center">
    <bns-sidebar-toggle></bns-sidebar-toggle>
    <h1 class="md-title text-primary text-left flex flex-gt-sm-33">{% trans %}WRITE_ARTICLE{% endtrans %}</h1>
    {% if form.correction is defined or (has_right('BLOG_CORRECTION') and article.hasCorrection()) %}
      <bns-correction-annotations-toggle></bns-correction-annotations-toggle>
    {% endif %}
  </div>
</md-toolbar>

<bns-inset class="md-padding bns-small bns-warn save-error hide">
  {% if is_child() %}
    {{ 'CHILD_MISSING_FIELD_PLEASE_FILL'|trans |desc('<strong>Attention</strong>, des champs ont été oubliés. Vérifie bien si tu as rempli tous les champs.') |raw }}
  {% else %}
    {{ 'ADULT_MISSING_FIELD_PLEASE_FILL'|trans |desc('<strong>Attention</strong>, Veuillez vérifier que vous avez correctement rempli tous les champs.') |raw }}
  {% endif %}
</bns-inset>

<md-content class="md-padding" id="scrollable-content">
  {{ form_start(form, {
    'action': isEditionMode ?  path('blog_manager_edit_article', {'articleSlug': article.getSlug()}) : path('blog_manager_new_article_finish'),
    'attr' : {
      'id' : 'form_new_article',
    }
  }) }}
    {{ modal('programmed-publication-warning', {
      'title': 'WARNING_ARTICLE_FUTURE'|trans,
      'body_template': {'template': 'BNSAppBlogBundle:Modal:programmed_publication_warning_body.html.twig'},
      'footer_template': {'template': 'BNSAppBlogBundle:Modal:programmed_publication_warning_footer.html.twig'},
      'type': 'info'
    }) }}
    <div class="item form">

      {# Title #}
      <div>
        {{ form_row(form.draftTitle, {label: "ARTICLE_TITLE"|trans}) }}
      </div>

      {# Content #}
      <div class="tinyarea">
        {{ form_row(form.draftContent, { 'attr': {'bns-tinymce': ''} }) }}
      </div>

      {% if form.status is defined %}
        <bns-transclude-src name="blog-article-status" class="hide-gt-md">
          <bns-expander label="{{ form.status.vars.label }}" is-open="true">
            {{ form_row(form.status, { label: false }) }}
          </bns-expander>
        </bns-transclude-src>
      {% endif %}

      {% if form.publication_day is defined and form.publication_time is defined %}
      <bns-transclude-src class="hide-gt-md" name="blog-article-publication">
        <bns-expander {% if form.status is defined %}ng-show="{{ form.vars.name ~ ".status === 'PUBLISHED'" }}"{% endif %} label="{{'TITLE_PUBLISH'|trans}}" is-open="true">
          <div class="layout-row layout-sm-column">
            {{ form_row(form.publication_day, { row_attr: { class: 'flex'}, label: 'LABEL_DATE' }) }}
            {{ form_row(form.publication_time, { row_attr: { class: 'flex'}, label: 'LABEL_TIME' }) }}
          </div>
        </bns-expander>
      </bns-transclude-src>
      {% endif %}

      {% if form.programmation_day is defined and form.programmation_time is defined %}
      <bns-transclude-src class="hide-gt-md" name="blog-article-programmation">
        <bns-expander {% if form.status is defined %}ng-show="{{ form.vars.name ~ ".status === 'PROGRAMMED'" }}"{% endif %} label="{{'TITLE_PUBLISH_PROGRAM'|trans}}" is-open="true">
          <div class="layout-row layout-sm-column">
            {{ form_row(form.programmation_day, { row_attr: { class: 'flex'}, label: 'LABEL_DATE' }) }}
            {{ form_row(form.programmation_time, { row_attr: { class: 'flex'}, label: 'LABEL_TIME' }) }}
          </div>
        </bns-expander>
      </bns-transclude-src>
      {% endif %}

      {% if form.categories is defined %}
        <bns-transclude-src name="blog-article-categories" class="hide-gt-md">
          <bns-expander label="{{ form.categories.vars.label }}" is-open="true">
            <div bns-feature-flag="'blog_categories'" bns-feature-push>
              {{ form_row(form.categories, { label: false }) }}
            </div>
          </bns-expander>
        </bns-transclude-src>
      {% endif %}

      <div>{{ form_rest(form) }}</div>

      <div class="resources">
        {# Pièces Jointes #}
        {% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': article.getResourceAttachments(), 'editable': true, 'objectType': 'BlogArticle', 'objectId': article.id} %}
      </div>
    </div>
    {{ form_end(form) }}
</md-content>
  {% endblock content %}

{% block angular_scripts %}
  {{ parent() }}
  <script>
    angularBootstrap().then(function ($injector) {
      var formScope = angular.element('#form_new_article').scope();
      $mdUtil = $injector.get('$mdUtil');
      var debAuto = $mdUtil.debounce(blogAutosave, 5000);
      formScope.$watch("blog_article_form['blog_article_form[draftTitle]'].$viewValue", function(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (formScope.blog_article_form['blog_article_form[draftTitle]'].$valid) {
            debAuto();
          }
        }
      });
      formScope.$watch("blog_article_form['blog_article_form[draftContent]'].$viewValue", function(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (formScope.blog_article_form['blog_article_form[draftContent]'].$valid) {
            debAuto();
          }
        }
      });
    });

  </script>
{% endblock %}
