{% trans_default_domain "SCHOOL" %}
<div class="item">
	<div class="vertical-separator green"></div>
	<div class="buttons-container">
        <a href="{{ path('BNSAppSchoolBundle_back_user_sheet', {'userSlug': assistant.getSlug()}) }}" class="btn bns-notice btn-16 small right btn-visualisation">
			<span class="icons-16 arrow-right-icon right"></span>
			<strong>Voir la fiche</strong>
		</a>
	</div>
	<div class="header">
		<img class="avatar" src="{{ avatar(assistant, 'thumbnail') }}" alt="" />
		<p class="name">{{ assistant.getFullName() }}</p>
		<p class="informations">
			{{ assistant.getEmail() }}
            <b>{{ has_role_in_group(assistant, 'ENT_REFERENT') ? " - " ~ 'ENT_REFERENT'|trans  : "" }}
            {{ has_role_in_group(assistant, 'DIRECTOR') ? " - " ~ 'DIRECTOR'|trans : "" }}</b>
		</p>
	</div>
</div>
