{% trans_default_domain "SCHOOL" %}
{% import 'BNSAppCoreBundle:Macros:forms.html.twig' as forms %}

<script type="text/javascript">
	$(function ()
	{
		if ($('.create-user-form-container .alert.alert-success').length > 0) {
			setTimeout(function ()
			{
				$('.create-user-form-container .alert.alert-succes div').slideUp('fast', function () { var $this = $(this); $this.parent().slideUp('fast', function () { $this.show() }) });
			}, 8000); // 8 seconds
		}
        $('#show-new-teacher-form').click(function(e){
            e.preventDefault();
            $(this).hide();
            $('.invitation-form-container').hide();
            $('#new-teacher-form').fadeIn();

        });

        $('#add-existing-teacher').ajaxForm({
            beforeSubmit: function(){
                $('#add-teacher-modal .loader:not(.loader-h)').show();
            },
            success: function (data) {
                $('#add-teacher-modal .loader').hide();
                $('.item-list-container.teacher').prepend(data);
                $('#add-teacher-success').show().delay(5000).fadeOut();
                $('#add-teacher-modal').modal('hide');
                $('#affect-teacher-modal').modal('hide');
            }
        });

        $('#verify-user').ajaxForm({
            beforeSubmit: function(){
                $('#add-existing-teacher-error').hide();
                $('#add-teacher-modal .loader:not(.loader-h)').show();
            },
            success: function (data) {
                $('#add-teacher-modal .loader').hide();
                $('.item-list-container.teacher').prepend(data);
                $('#add-teacher-success').show().delay(5000).fadeOut();
                $('#add-teacher-modal').modal('hide');
            },
            error: function (data) {
                $('#add-teacher-modal .loader').hide();
                $('#add-existing-teacher-error > span.message').html(data.responseText);
                $('#add-existing-teacher-error').show();

            }
        });

	});
</script>

<div class="create-user-form-container">
    {% if has_right('SCHOOL_CREATE_TEACHER') %}
        <div class="invitation-form-container">
            <div class="loader loader-h"></div>
          <h2>{{ 'TEACHER_HAVE_ALREADY_ACCOUNT'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) }}</h2>

            <div id="add-existing-teacher-error" class="alert alert-error bns-alert hide">
                <span class="message"></span>
                <div class="jim"></div>
            </div>

            <form action="{{ path('BNSAppSchoolBundle_back_verify_username' , {'classroomId' : classroomId }) }}" method="POST" id="verify-user">
              <p class="user-id">{% trans %}LOGIN{% endtrans %}</p>
                <input type="text" name="username" id="username-to-check" />
                <button type="submit" class="btn bns-success btn-check-user btn-16 small">
                    <span class="icons-16 validate-icon"></span>
                  <strong>{% trans %}BUTTON_VERIFY{% endtrans %}</strong>
                </button>
            </form>
        </div>
    {% endif %}

    {% if teachers|length > 0 %}
        <div class="invitation-form-container">
            <div class="loader loader-h"></div>
            {% if has_right('SCHOOL_CREATE_TEACHER') %}
              <h2>{% trans %}TITLE_OR_TEACHER_ALREADY_IN_SCHOOL{% endtrans %}</h2>
            {% else %}
              <h2>{% trans %}TITLE_CHOOSE_TEACHER_IN_MY_SCHOOL{% endtrans %}</h2>
            {% endif %}

            <form action="{{ path('BNSAppSchoolBundle_back_add_existing_teacher' , {'classroomId' : classroomId }) }}" method="POST" id="add-existing-teacher">
                <p class="user-id">{% trans %}SCHOOL_NAME{% endtrans %} :</p>
                <select name="teacherId">
                    {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.fullName }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn bns-success btn-check-user btn-16 small">
                    <span class="icons-16 validate-icon"></span>
                  <strong>{% trans %}BUTTON_CONFIRM{% endtrans %}</strong>
                </button>
            </form>
        </div>
    {% endif %}

    {% if has_right('SCHOOL_CREATE_TEACHER') %}
      <h2>{{ 'TITLE_OR_TEACHER_HAVENT_ACCOUNT'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) }}</h2>

        <p>
            <a href="#" id="show-new-teacher-form" class="btn bns-info btn-24 medium">
                <span class="icons-24 add-icon"></span>
                {{ 'LINK_CREATE_NEW_TEACHER_ACCOUNT'|trans |raw }}


            </a>
        </p>


        <div id="new-teacher-form" class="hide">

            {% include "BNSAppSchoolBundle:Block:teacherFormRow.html.twig" with {"form" : form , 'classroomId' : classroomId } %}

        </div>
    {% endif %}
</div>

{% if lastRegistedUser is defined %}
    <div class="result lastRegistedUser" style="display: none;">
	{{ lastRegistedUser | raw }}
    </div>
{% endif %}
