<input type="hidden" id="{{ input_id }}" name="{{ name }}" />

<a href="#" data-callback="{{ callback }}" data-final-id="{{ input_id }}" class="resource-selection btn"><span class="icon-edit"></span>
	{{ label }}
</a>