<a href="{{ path('minisite_manager_editors_delete') }}" class="bns-user small cancel" data-slug="{{ editor.getSlug() }}" data-id="{{ editor.getId() }}">
	<img src="{{ avatar(editor, 'thumbnail') }}" alt="" />
	<span class="name">{{ editor.getFullName() }}</span>
	<span class="action-icons"></span>
</a>