{% trans_default_domain "DIRECTORY" %}

<div class="tab-pane group-directory {% if is_default_group %}active default-group{% else %} hide {% endif %}" {% if group is defined and group != null %} data-group-id="{{ group.id }}" {% endif %}>

	{% if group is defined and group != null %}

        {% if has_right_somewhere('MESSAGING_SEND_CHILD',group.id) and module is defined and module == "MESSAGING" %}
            {% set children = app.user.children %}
            {% if children|length > 0 %}
                <div class="title-block">
                    {% if children|length == 1 %}
                        <h2><span>{{ 'LABEL_MY_CHILD'|trans |desc('Mon enfant') }}</span></h2>
                    {% else %}
                        <h2><span>{{ 'LABEL_MY_CHILDREN'|trans |desc('Mes enfants') }}</span></h2>
                    {% endif %}
                    <div class="border-blue"></div>
                </div>
                {% for user in children %}
                    {% include 'BNSAppDirectoryBundle:Common:user_block.html.twig' with {'user': user, 'is_userpicker': is_userpicker} %}
                {% endfor %}
                <div class="clearfix"></div>
            {% endif %}
        {% endif %}

        {% if has_right_somewhere('MESSAGING_SEND_PARENT',group.id) and module is defined and module  == "MESSAGING" %}
            {% set parents = app.user.parents %}
            {% if parents|length > 0 %}
                <div class="title-block">
                    <h2><span>{{ 'LABEL_MY_PARENTS'|trans |desc('Mes parents') }}</span></h2>
                    <div class="border-blue"></div>
                </div>
                {% for user in parents %}
                    {% include 'BNSAppDirectoryBundle:Common:user_block.html.twig' with {'user': user, 'is_userpicker': is_userpicker} %}
                {% endfor %}
                <div class="clearfix"></div>
            {% endif %}
        {% endif %}

        {% set withLink = has_right('PROFILE_ACCESS',group.id) or group.canSeeProfile %}
        {% if not group.isPartnerShip %}

            {% for subgroup_role in group.getSubgroupsRoleWithUsers() %}
                {% if subgroup_role.getUsers()|length > 0 %}

                    <div class="user-group-selectable">
                        <div class="title-block">
                            {% if is_userpicker %}
                                <a href="#" class="btn bns-info btn-16 small checkbox-select-group" id="{{ subgroup_role.id ~ '-' ~ subgroup_role.groupType.type }}">
                                    <span class="icons-16 add-icon"></span>
                                    &nbsp;
                                </a>
                            {% endif %}
                            <h2><span>{{ ('LABEL_'~subgroup_role.getGroupType().getType()~'S')|trans({}, 'CLASSROOM') }}</span></h2>
                            <div class="border-blue"></div>
                        </div>
                        {% for user in subgroup_role.getUsers() %}
                            {% include 'BNSAppDirectoryBundle:Common:user_block.html.twig' with {'user': user, 'is_userpicker': is_userpicker, 'withLink' : withLink } %}
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        {% else %}

        {% endif %}

	{% endif %}
</div>
