{% if group != null %}
	<li data-group-id="{{ group.id }}" class="group-directory {% if current_group.id == group.id %} active default-group{% endif %}{% if context != 'default' %} hide{% endif %} {{ isLast is defined and isLast ? 'last' : "" }}"
		{% if group.hasSubgroup() %} data-switch-context="{{ group.getSlug() }}"{% endif %} data-context="{{ context }}"
		style="background-image: url('{% if group.hasAvatar() %} {{ avatar(group) }}'); background-size: 50px 50px; background-position : 1%; {% else %} {{ asset(group_type_icon(group)) }}'); {% endif %}"
		>
		<a href="#">
			<span>{{ group.getLabel() }}</span>
		</a>
	</li>

	{% if group.hasSubgroup() %}
		{% include 'BNSAppDirectoryBundle:Common:link_group_tab_list.html.twig' with {'groups': group.getSubgroups(), 'context': group.getSlug()} %}
	{% endif %}
{% endif %}